<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Anchor Example</title>
    <script type="text/montage-serialization">{


    "link1" : {
        "name": "Anchor",
        "module": "montage/ui/anchor.reel",
        "properties": {
            "element": {"#": "link1"}
        },
        "bindings": {
            "textContent": {"<<->": "@linkTextInput.value", "deferred": false},
            "href": {"<<->": "@urlTextInput.value"}
        }
    },

    "linkTextInput": {
        "prototype": "montage/ui/textfield.reel",
        "properties": {
            "element": {"#": "linkText"},
            "value": "Motorola"
        }
    },

    "urlTextInput": {
        "prototype": "montage/ui/textfield.reel",
        "properties": {
            "element": {"#": "linkURL"},
            "value": "http://www.motorola.com"
        }
    },

    "data": {
        "name": "ArrayController",
        "module": "montage/ui/controller/array-controller",
        "properties": {
            "selectObjectsOnAddition": true,
            "automaticallyOrganizeObjects": true
        },
        "bindings": {
            "content": {"<-": "@owner.data"}
        }
    },

    "list1": {
        "module": "montage/ui/repetition.reel",
        "name": "Repetition",
        "properties": {
            "element": {
                "#": "table-row"
            },
            "isSelectionEnabled": true,
            "contentController": {"@": "data"},
            "axis": "horizontal"
        }
    },

    "link": {
        "module": "montage/ui/anchor.reel",
        "name": "Anchor",
        "properties": {
            "element": {"#": "link"}
        },
        "bindings": {
            "href": {"<-": "@list1.objectAtCurrentIteration.href"},
            "textContent": {"<-": "@list1.objectAtCurrentIteration.src"}
        }
    },

    "desc": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "desc"}
        },
        "bindings": {
            "value": {"<-": "@list1.objectAtCurrentIteration.description"}
        }
    },

    "anchorAccordion1": {
        "module": "accordion.reel",
        "name": "Accordion",
        "properties": {
            "element": {"#": "anchorAccordion1"}
        }
    },
    "anchorAccordion2": {
        "module": "accordion.reel",
        "name": "Accordion",
        "properties": {
            "element": {"#": "anchorAccordion2"}
        }
    },


    "owner": {
        "module": "components/image-example.reel",
        "name": "AnchorExample",
        "properties": {
            "element": {"#": "example-root"},
            "data": [
            {"src": "images/IMG_1.jpg", "description": "Lorem ipsum dolor sit amet", "href": "http://en.wikipedia.org/wiki/Denver_and_Rio_Grande_Western_Railroad"},
            {"src": "images/IMG_2.jpg", "description": "Sed ut perspiciatis unde omnis iste natus", "href": "http://rgsrr.home.comcast.net/~rgsrr/"},
            {"src": "images/IMG_3.jpg", "description": "At vero eos et accusamus et iusto odio dignissimos", "href": "http://www.riograndescenicrailroad.com/aboutus/history.html"}
            ]
        }
    }

    }</script>

    <style>
        .thumb {
            width: 48px;
            height: 48px;
            border: 5px solid #fff;
        }
        .thumbs-list .selected {
            border: 5px solid #FE4365;
        }
        .img-main {
            width: 480px;
            height: 480px;
        }

a[icon="external"] {
   padding-right: 20px;
   background: transparent url(../sink/images/external.gif) no-repeat center right;
   color: red;
}

    </style>


</head>
<body>
    <div data-montage-id="example-root">
        <div class="row">
            <div class="span12">
                <h3>Anchor</h3>
                <p>
                    The Anchor component wraps an <a href="http://dev.w3.org/html5/spec/the-a-element.html#the-a-element" target="_blank">&lt;a> element</a> and exposes its standard attributes as component properties.
                    </p>
            </div>
        </div>



                <div class="row">
                    <div class="span12">

                        <h4>Example - binding to Anchor properties</h4>
<!--                                     <p>
                                        The <code>textContent</code> and <code>href</code> properties of the Anchor component below are bound to the values of the two input text fields. Changing the text in either field updates the anchor's text and link. </p> -->
                            <div class="demo">
                                    <div class="app">
                                        Link text:
                                        <input data-montage-id="linkText" autofocus type="text" name="" value="">
                                        URL:
                                        <input data-montage-id="linkURL" type="text" name="" value="" placeholder="http://...">
                                        <p><a href="http://www.motorola.com" data-montage-id="link1" target="_blank" icon="external" style="font-size: 14pt;">Motorola</a></p>
                                     </div>

                        <ul data-montage-id="anchorAccordion1" class="accordion">
                             <li class="accordion-group">
                                 <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                                 <div class="accordion-inner montage-hidden" >
                                     <pre class="prettyprint" >

 Link text:
 &lt;input data-montage-id="linkText" autofocus type="text" name="" value=""&gt;
 URL:
 &lt;input data-montage-id="linkURL" type="text" name="" value="" placeholder="http://..."&gt;
 &lt;a href="http://www.motorola.com" data-montage-id="link1" target="_blank" icon="external"&gt;Motorola&lt;/a&gt;&lt;/p&gt;
                                    </pre>
                                 </div>
                             </li>
                             <li class="accordion-group">
                                 <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                                 <div class="accordion-inner montage-hidden">
                                     <pre class="prettyprint" >
{
"link1" : {
   "prototype": "montage/ui/anchor.reel",
   "properties": {
       "element": {"#": "link1"}
   },
   "bindings": {
       "textContent": {
           "boundObject": {"@": "linkTextInput"},
           "boundObjectPropertyPath": "value"
       },
       "href": {
           "boundObject": {"@": "urlTextInput"},
           "boundObjectPropertyPath": "value"
       }
   }
},

"linkTextInput": {
   "prototype": "montage/ui/textfield.reel",
   "properties": {
       "element": {"#": "linkText"},
       "value": "Motorola"
   }
},

"urlTextInput": {
   "prototype": "montage/ui/textfield.reel",
   "properties": {
       "element": {"#": "linkURL"},
       "value": "http://www.motorola.com"
   }
}
}
              </pre>

                                 </div>
                             </li>
                             <li class="accordion-group">
                                 <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">CSS</a></div>
                                 <div class="accordion-inner montage-hidden">
                                     <pre class="prettyprint" >
a[icon="external"] {
  padding-right: 20px;
  background: transparent url(../sink/images/external.gif) no-repeat center right;
  color: red;
}
                                     </pre>
                                 </div>
                             </li>
                         </ul>

                            </div>


                        <h4>Generating a list of links</h4>


                                <p>
                                     This example generates uses the Anchor and Repetition components to generate a table of links.
                                 </p>

                            <div class="demo">
                                <table data-montage-id="list1" class="bordered-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody data-montage-id="table-row">
                                        <tr>
                                            <td><a data-montage-id="link" target="_blank"></a></td>
                                            <td><span data-montage-id="desc"></span></td>
                                        </tr>
                                    </tbody>
                                </table>

                       <ul data-montage-id="anchorAccordion2" class="accordion">
                            <li class="accordion-group">
                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                                <div class="accordion-inner montage-hidden" >
                                    <pre class="prettyprint" >
&lt;table data-montage-id="list1" class="bordered-table"&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Description&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody data-montage-id="table-row"&gt;
        &lt;tr&gt;
            &lt;td&gt;&lt;a data-montage-id="link" target="_blank"&gt;&lt;/a&gt;&lt;/td&gt;
            &lt;td&gt;&lt;span data-montage-id="desc"&gt;&lt;/span&gt;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
            </pre>
                                </div>
                            </li>
                            <li class="accordion-group">
                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                                <div class="accordion-inner montage-hidden">
                                    <pre class="prettyprint" >
{
    "data": {
        "name": "ArrayController",
        "module": "montage/ui/controller/array-controller",
        "properties": {
            "selectObjectsOnAddition": true,
            "automaticallyOrganizeObjects": true
        },
        "bindings": {
            "content": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "data",
                "oneway": true
            }
        }
    },

    "list1": {
        "module": "montage/ui/repetition.reel",
        "name": "Repetition",
        "properties": {
            "element": {
                "#": "table-row"
            },
            "isSelectionEnabled": true,
            "contentController": {"@": "data"},
            "axis": "horizontal"
        }
    },

    "link": {
        "module": "montage/ui/anchor.reel",
        "name": "Anchor",
        "properties": {
            "element": {"#": "link"}
        },
        "bindings": {
            "href": {
                "boundObject": {"@": "list1"},
                "boundObjectPropertyPath": "objectAtCurrentIteration.href",
                "oneway": true
            },
            "textContent": {
                "boundObject": {"@": "list1"},
                "boundObjectPropertyPath": "objectAtCurrentIteration.src",
                "oneway": true
            }
        }
    },

    "desc": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "desc"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "list1"},
                "boundObjectPropertyPath": "objectAtCurrentIteration.description",
                "oneway": true
            }
        }
    },


    "owner": {
        "module": "components/image-example.reel",
        "name": "AnchorExample",
        "properties": {
            "element": {"#": "example-root"},
            "data": [
            {"src": "images/IMG_1.jpg", "description": "Lorem ipsum dolor sit amet", "href": "http://en.wikipedia.org/wiki/Denver_and_Rio_Grande_Western_Railroad"},
            {"src": "images/IMG_2.jpg", "description": "Sed ut perspiciatis unde omnis iste natus", "href": "http://rgsrr.home.comcast.net/~rgsrr/"},
            {"src": "images/IMG_3.jpg", "description": "At vero eos et accusamus et iusto odio dignissimos", "href": "http://www.riograndescenicrailroad.com/aboutus/history.html"}
            ]
        }
    }
}
             </pre>

                                </div>
                            </li>
                        </ul>

                    </div>

                    <section>
                        <a href="https://github.com/Motorola-Mobility/montage/tree/v0.7/examples/sink/components/anchor-example.reel" target="_blank">View source on GitHub</a>
                    </section>
<!--

                    <section>
                        <h4>Component Properties</h4>
                        <table>
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Description</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>textContent</td>
                              <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                            </tr>
                            <tr>
                              <td>href</td>
                              <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                            </tr>
                            <tr>
                              <td>hreflang</td>
                              <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                            </tr>
                            <tr>
                              <td>media</td>
                              <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                            </tr>
                            <tr>
                              <td>rel</td>
                              <td>...</td>
                            </tr>
                            <tr>
                              <td>target</td>
                              <td>...</td>
                            </tr>
                            <tr>
                              <td>type</td>
                              <td>...</td>
                            </tr>

                          </tbody>
                        </table>
                        <p>
                            <a href="" target="_blank">View full Documentation</a>
                        </p>
                    </section>

 -->

    </div>

</body>
</html>
