/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-Progress {
    position: relative;
    font-size: 12px;
    display: inline-block;
    width: 10em;
    height: 10px;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    background-color: #d9d9d9;
}

.montage-Progress > .montage-Progress-bar {
    position: absolute;
    height: inherit;
    border-radius: 2px;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
}


/* Style for Touch */
.montage-Progress {
  font-size: 16px;
}
