html {
    height: 100%;
    background-color: hsl(0, 0%, 30%);
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.montage-Button {
    margin:  20px;
}

.scroller {
    position: absolute;
    top: 94px;
    left: 0;
    right: 0;
    bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 20px;
    list-style: none;
    background-color: hsl(0, 0%, 94%);
    border-top: 1px solid hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 85%);
}
