<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}} Test</title>
    <script type="text/javascript" src="../../../montage.js" data-package="../../"></script>
    <script type="text/montage-serialization">
        {
            "test": {
                "object": "ui/{{name}}-test/{{name}}-test[theTest]",
                "properties": {
                    "testedComponent": {"@": "testedComponent"}
                }
            },

            "testedComponent": {
                "prototype": "montage/ui/dynamic-text.reel",
                "properties": {
                    "element": {"#": "{{name}}1"}
                }
            }
        }
    </script>

</head>
<body>
    <h1>{{title}} test</h1>

    <div data-montage-id="{{name}}1">something</div>

</body>
</html>
