<html>
<head>
    <link rel="stylesheet" href="componentmother.css" type="text/css">
    <script type="text/montage-serialization">
    {
        "owner": {
            "module": "reel/template/componentmother.reel",
            "name": "ComponentMother",
            "properties": {
                "element": {"#": "componentmother"},
                "motherTemplateLoaded": true
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="componentmother" class="componentmother">
        <div>Component Mother</div>
        <div>Mother Content</div>
    </div>
    <div class="partOfMotherTemplate"></div>
</body>
</html>
