.main {
    text-align: center;
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    margin: 20px 0 20px 0;
}

.container,
.stack {
    width: 375px;
    height: 667px;
    margin: 0 20px 0 20px;
}

.succession > * {
    opacity: .5;
}

.container {
    border: 1px lightgray solid;
    position: relative;
}

.stack {
    text-align: left;
    overflow: scroll;
}

.stack .top::after,
.stack .previous::after,
.stack .first::after {
    font-size: 0.8em;
    padding-left: 10px;
    font-weight: bold;
}

.stack li {
    font-family: monospace;
}

.stack .top::after {
    content: "top";
    color: green;
}

.stack .previous::after {
    content: "previous";
    color: orange;
}

.stack .first::after {
    content: "first";
    color: gray;
}

.overflow-hidden {
    overflow: hidden;
}

.transition-build-in {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.transition {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.transition-build-out {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.slot {
    width: 100%;
    height: 200px;
    background: greenyellow;
}

.absolute {
    position: absolute;
}
