/* @override
	http://localhost:8082/social-stream/cards/twitter.reel/twitter.css */

.twitter {

    color: #4e5157;
    background-color: #99ebff;
}

.twitter p {
    font-family: "AGBuchBQ Medium", Helvetica, sans-serif;
}

.twitter footer {
    font-family: "AGBuchBQ Medium", Helvetica, sans-serif;
    font-size: 14px;
}

.twitter .cube {
    background: url(cube.jpg);
}

.twitter .icon {
    width: 20px;
    height: 18px;
    background-image: url(icon.png);
}
