/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.menu-container {
    margin: 0;
    width: 280px;
}

.menu-container .title {
    background-color: whitesmoke;
    padding: 5px;
}

.menu-container .action-container {
    padding: 5px 0;
    text-align: center;
}
.menu-container .action {
    margin: 5px 0;
    width: 60%;
}
.menu-container .msg-container {
    margin: 5px 0;
    padding: 5px;
    text-align: center;
}
.menu-container input[type=text] {
    margin: 10px 0;
    width: 80%;
}
