html, body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
     -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Main {
    padding: 20px;
}

header {
    padding: 20px 0 60px 0;
    font-size: 2rem;
    text-align: center;
    color: #33495d;
    height: 40px;
}

h4 {
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.List {
    margin: auto;
    position: relative;
    width: 480px;
    max-height: 225px;
}