.montage-TextSlider-input {
    display: none;
}

.montage-TextSlider--editing .montage-TextSlider-input {
    display: inherit;
}

.montage-TextSlider-value {
    border-bottom: 1px dotted #000;
}

.montage-TextSlider--editing .montage-TextSlider-value, .montage-TextSlider--editing .montage-TextSlider-label {
    display: none;
}