/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
    height: 2.5em;
    padding: 0 2em 0 1em;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    background: #f2f2f2 url(select.png) no-repeat right center;
    cursor: pointer;
}
 
.montage-select:hover {
    background-color: #fff;
}
 
.montage-select:active {
    background-color: #e5e5e5;
}
 
.montage-select:focus {
    border-color: #7f7f7f;
}


/* Multiple Select ------------------------------ */

.montage-select[multiple] {
    height: 5.5em;
    cursor: default;
    padding: 0 .5em;
}

.montage-select[multiple],
.montage-select[multiple]:hover,
.montage-select[multiple]:active {
    background: #f2f2f2;
}
