<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">
            {
                "owner": {
                    "module": "components/substitution-example.reel",
                    "name": "SubstitutionExample",
                    "properties": {
                        "element": {"#": "substitution-example"},
                        "navEl": {"#": "nav"},
                        "content": {"@": "content"}
                    }
                },

                "home": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "value": "Home"
                    }
                },
                "products": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "value": "Products"
                    }
                },
                "services": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "value": "Services"
                    }
                },
                "about": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "value": "About"
                    }
                },
                "content": {
                    "module": "montage/ui/substitution.reel",
                    "name": "Substitution",
                    "properties": {
                        "element": {"#": "content"},
                        "switchComponents": {
                            "home": {"@": "home"},
                            "products": {"@": "products"},
                            "services": {"@": "services"},
                            "about": {"@": "about"}
                        }
                    }
                }
            }
        </script>

        <style>

li.selected, li.active {
    background-color: white;
    color: gray;
}

div.substitution-content {
    height: 200px;
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
}

        </style>
    </head>
    <body>
        <div id="substitution-example" class="substitution-example">
            <div class="row">
                <div class="span10">
                    <h3>Substitution</h3>
                    <p>
                        The Substitution component provides a "slot" in which you display one of a set of predetermined components that you specify. The Substitution component's <code>switchComponents</code> property maps a list of labels to components references. When you want to display one of the components, you assign the desired string to the Substitution component's <code>switchValue</code> property. In this example, the components being displayed are simple DynamicText components.
                    </p>
                </div>



            </div>

            <h4>Example</h4>
            <p>This example shows how to use Substitution to create a simple tabbed menu.</p>
            <div class="demo sub">

                    <ul id="nav" class="tabs">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#products">Products</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>


                    <div id="content" class="substitution-content">
                    </div>
                <ul class="sourcelinks">
                    <li>
                        <a href="#" onclick="toggle_visibility('.sub #html', event);">html</a>
                        <div class="sourceitem" id="html">
                            <!-- <p>The markup simply defines the &lt;a> and &lt;input> elements.</p> -->
                        <pre class="prettyprint">
&lt;ul id="nav" class="tabs"&gt;
    &lt;li&gt;&lt;a href="#home"&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#products"&gt;Products&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#services"&gt;Services&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#about"&gt;About&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;


&lt;div id="content" class="substitution-content"&gt;
&lt;/div&gt;
</pre>
                        </div><!-- / -->
                    </li>
                    <li>
                        <a href="#" onclick="toggle_visibility('.sub #serialization', event);">serialization</a>
                        <div class="sourceitem" id="serialization">
                            <!-- <p>The markup simply defines the &lt;a> and &lt;input> elements.</p> -->
                        <pre class="prettyprint">
{
    "owner": {
        "module": "components/substitution-example.reel",
        "name": "SubstitutionExample",
        "properties": {
            "element": {"#": "substitution-example"},
            "navEl": {"#": "nav"},
            "content": {"@": "content"}
        }
    },

    "home": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "Home"
        }
    },
    "products": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "Products"
        }
    },
    "services": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "Services"
        }
    },
    "about": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "About"
        }
    },
    "content": {
        "module": "montage/ui/substitution.reel",
        "name": "Substitution",
        "properties": {
            "element": {"#": "content"},
            "switchComponents": {
                "home": {"@": "home"},
                "products": {"@": "products"},
                "services": {"@": "services"},
                "about": {"@": "about"}
            }
        }
    }
}
</pre>
                        </div><!-- / -->
                    </li>
                    <li>
                        <a href="#" onclick="toggle_visibility('.sub #css', event);">css</a>
                        <div class="sourceitem" id="css">
                            <!-- <p>The markup simply defines the &lt;a> and &lt;input> elements.</p> -->
                        <pre class="prettyprint">
li.selected, li.active {
    background-color: white;
    color: gray;
}

div.substitution-content {
    height: 200px;
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
}
</pre>
                        </div><!-- / -->
                    </li>
                   <li>
                        <a href="#" onclick="toggle_visibility('.sub #javascript', event);">javascript</a>
                        <div class="sourceitem" id="javascript">
                            <!-- <p>The markup simply defines the &lt;a> and &lt;input> elements.</p> -->
                        <pre class="prettyprint">
var Montage = require("montage/core/core").Montage,
    Component = require("montage/ui/component").Component;

// similar to jquery.closest. Find the closest ancestor of el matching the type
var findClosestOfType = function(el, type, context) {
    if(el.tagName.toLowerCase() === type) {
        return el;
    }
    var found = false;
    while(el) {
        el = el.parentNode;
        if(el.tagName && el.tagName.toLowerCase() === type) {
            found = true;
            break;
        }
        if(!el || !el.ownerDocument || el === context || el.nodeType === 11) {
            break;
        }
    }
    if(found) {
        return el;
    }
    return null;

};

exports.SubstitutionExample = Montage.create(Component, {

    navEl: {
        value: null
    },

    // the substitution
    content: {value: null},

    prepareForDraw: {
        value: function() {
            if(window.Touch) {
                this.navEl.addEventListener('touchend', this);
            } else {
                this.navEl.addEventListener('mouseup', this);
            }

            // source code hilighter
            prettyPrint();
        }
    },

    handleNavItemClicked: {
        value: function(href) {
            console.log("nav item clicked = " + href);
            var hash = href.substring(href.lastIndexOf('#')+1);
            if(hash) {
                this.content.switchValue = hash;
            }
        }
    },

    _highlightSelection: {
        value: function($li) {

                var items = this.navEl.querySelectorAll('li')||[], len = items.length;
                for(i=0; i< len; i++) {
                    items[i].classList.remove('selected');
                }
                $li.classList.add('selected');

        }
    },

    handleEvent: {
        value: function(event) {

            var target = event.target;
            var $li = findClosestOfType(target, 'li', this.element);

            if($li) {
                var a = $li.querySelector('a');
                if(a) {
                    this._highlightSelection($li);
                    this.handleNavItemClicked(a.href);
                    event.preventDefault();
                }
            }
        }
    }
});
</pre>
                        </div><!-- / -->
                    </li>
                </ul>

            </div>

            <section>
                <a href="https://github.com/Motorola-Mobility/montage/tree/v0.6/examples/sink/components/substitution-example.reel" target="_blank">View source on GitHub</a>
            </section>
<!--
            <section>
                <h4>Component Properties</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>tabs</td>
                        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                      </tr>
                    <tr>
                      <td>content</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>selectedTab</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>selectedTabValue</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>

                  </tbody>
                </table>
                <p>
                    <a href="" target="_blank">View full Documentation</a>
                </p>
            </section> -->
        </div>
    </body>
</html>
