<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">
            {
                "owner": {
                    "module": "components/substitution-example.reel",
                    "name": "SubstitutionExample",
                    "properties": {
                        "element": {"#": "substitution-example"},
                        "navEl": {"#": "nav"},
                        "content": {"@": "content"}
                    }
                },

                "home": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "value": "Home"
                    }
                },
                "products": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "value": "Products"
                    }
                },
                "services": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "value": "Services"
                    }
                },
                "about": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "value": "About"
                    }
                },
                "content": {
                    "module": "montage/ui/substitution.reel",
                    "name": "Substitution",
                    "properties": {
                        "element": {"#": "content"},
                        "switchComponents": {
                            "home": {"@": "home"},
                            "products": {"@": "products"},
                            "services": {"@": "services"},
                            "about": {"@": "about"}
                        }
                    }
                }
            }
        </script>

        <style>

            li.selected, li.active {
                background-color: white;
                color: gray;
            }

            div.substitution-content {
                height: 200px;
                text-align: center;
                margin-top: 100px;
                font-size: 18px;
            }

        </style>
    </head>
    <body>
        <div id="substitution-example" class="substitution-example">
            <div class="row">
                <div class="span10">
                    <h3>Substitution</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                    </p>
                </div>



            </div>

            <h4>Demo</h4>

            <div class="demo">

                    <ul id="nav" class="tabs">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#products">Products</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>


                    <div id="content" class="substitution-content">
                    </div>

            </div>

            <section>
                <a href="https://github.com/Motorola-Mobility/montage/tree/v0.6/examples/sink/components/substitution-example.reel" target="_blank">View source on GitHub</a>
            </section>
<!--
            <section>
                <h4>Component Properties</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>tabs</td>
                        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                      </tr>
                    <tr>
                      <td>content</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>selectedTab</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>selectedTabValue</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>

                  </tbody>
                </table>
                <p>
                    <a href="" target="_blank">View full Documentation</a>
                </p>
            </section> -->
        </div>
    </body>
</html>
