/* @override http://localhost:8082/montage-projects/ui/details.reel/details.css */

.details {
    position: relative;
    text-align: center;
    color: hsl(0,0%,60%);
}

.details .title {
    width: 580px;
    margin: 0 auto;
    color: hsl(0,0%,100%);
    padding-bottom: 5px;
    border-bottom: 1px dashed hsl(0,0%,30%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details .score {
    margin: 0 30px 0 2px;
    padding: 4px 0px;
    color: hsl(0,0%,100%);
}
.details .score:last-child {
    margin: 0 0px 0 2px;
}

.scroller {
    width: 650px;
    margin: 0 auto;
    height: 120px;
}

.description {
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 20px;

}


.action-buttons {
    position: absolute;
    top: 88px;
    right: 40px;
}

.details .montage-button.button,
.details .montage-button:focus {
    display: block;
    width: 100px;
    margin: 10px 0;
    border-color: hsl(0,0%,0%);
    color: hsla(0,0%,0%,.8);
    font-size: 15px;
    font-weight: bold;
    font-family: inherit;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.2);
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 2px hsla(0,0%,100%,.1);
    background: hsl(210,100%,60%) -webkit-linear-gradient(top, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2) );
}

.details .montage-button:active {
    background-color: hsl(210,100%,40%);
}


.rt-icon {
    display: inline-block;
    margin-left: 2px;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    background-size: 25px auto;
    background-image: url(rt_lg.png);
    background-repeat: no-repeat;
}



