.montage-CollapsiblePanel {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin-bottom: 3px;
    overflow: hidden;
}

/* Header */
.montage-CollapsiblePanel > :nth-child(1) {
    padding: 5px;
    cursor: pointer;
    background: #eeeeee;
}

/* Body Wrapper */
.montage-CollapsiblePanel > :nth-child(2) {
    overflow: hidden;
    max-height: 0;
}

/* Body */
.montage-CollapsiblePanel > :nth-child(2) > :nth-child(1) {
    padding: 10px;
}

.montage-CollapsiblePanel .collapsing {
    -webkit-transition: max-height 0.25s ease;
    -moz-transition: max-height 0.25s ease;
    -o-transition: max-height 0.25s ease;
    transition: max-height 0.25s ease;
}

.montage-CollapsiblePanel .active {
    height: auto;
    /*A popular way to animation auto height, we have to set a max-height to trigger the animation*/
    max-height: 1000px;
}
