language: node_js
node_js:
  - 4
  - 6
  - 8
  - 10
services:
  - xvfb
script: npm run $COMMAND
env:
  - COMMAND=test
  - COMMAND=test:karma-travis
  - COMMAND=integration MONTAGE_VERSION=. MOP_VERSION="#feature/npm3"
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
jobs:
    include:
      - stage: lint
        node_js: 9
        env:
        script: npm run lint
      - stage: deploy
        script: skip
        env:
        deploy:
            provider: npm
            email: "${NPM_EMAIL}"
            api_key: "${NPM_API_KEY}"
            on:
                tags: true
stages:
  - lint
  - test
  - deploy
notifications:
  irc:
    channels:
      - "chat.freenode.net#montage"
    on_success: false
    template:
      - "%{author} broke the %{repository} tests on %{branch}: %{build_url}"
