language: node_js
node_js:
  - "4"
  - "6"
  - "7"
  - "8"
script: npm run $COMMAND
env:
  - COMMAND=lint
  - COMMAND=test
  - COMMAND=test:karma
  #- COMMAND=integration MONTAGE_VERSION=. MOP_VERSION=0.13
  #- COMMAND=integration MONTAGE_VERSION=. MOP_VERSION=latest
  - COMMAND=integration MONTAGE_VERSION=. MOP_VERSION="#master"
before_install:
  "npm set legacy-bundling=true"
notifications:
  irc:
    channels:
      - "chat.freenode.net#montage"
    on_success: false
    template:
      - "%{author} broke the %{repository} tests on %{branch}: %{build_url}"