/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.montage-checkbox {
    display: inline-block;
    width: 53px;
    height: 53px;
}

.montage-checkbox .background {
    display: block;
    position: absolute;
    width: 53px;
    height: 53px;
    border-radius: 27px;
    background: #CCC;
    -webkit-box-shadow: inset 0 1px 2px #8D8D8D, 0 2px 2px rgba(255,255,255,.4), 0 -2px 2px rgba(0,0,0,.1);
    -webkit-transform: scale3d(.5283, .5283, 1);
}

.montage-checkbox .button {
    display: block;
    position: absolute;
    width: 49px;
    height: 49px;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#E6E6E6));
    -webkit-transform: translate3d(2px, 2px, 0) scale3d(.5283, .5283, 1);
}

.montage-checkbox .checkmark {
    display: block;
    position: absolute;
    width: 63px;
    height: 53px;
    background: url(checkmark.svg) no-repeat 10px 0;
    background-size: 53px 53px;
    -webkit-transform-origin: 26.5px 26.5px;
    -webkit-transform: scale3d(.5283, .5283, 1);
    opacity: 0;
}

.montage-checkbox.active .background,  .montage-checkbox.active .button, .montage-checkbox.active .checkmark{
    -webkit-transition-duration: 150ms;
    -webkit-transition-property: all;
}

.montage-checkbox .checkmark{
	-webkit-transition-duration: 360ms;
}

.montage-checkbox input[type=checkbox] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    position: absolute;
    border: 0;
    border-radius: 27px;
    margin: 0;
    padding: 0;
    width: 53px;
    height: 53px;
    background: transparent;
}

.montage-checkbox.active .background,
.montage-checkbox.active .button,
.montage-checkbox.active .checkmark {
    -webkit-transform: scale3d(1, 1, 1);
}

.montage-checkbox.active .button {
    opacity: 0;
}

.montage-checkbox.checked .checkmark {
    opacity: 1;
}

.montage-checkbox.dark .checkmark {
    background-image: url(checkmark-dark.svg);
}

.montage-checkbox.dark .button {
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#5c5c5c));
}

.montage-checkbox.dark .background {
    background: #404040;
    -webkit-box-shadow: inset 0 1px 2px #333, 0 2px 2px rgba(255,255,255,.2), 0 -2px 2px rgba(0,0,0,.1);
}

.montage-checkbox.disabled .background {
    margin: 12px 0 0 13px;
    width: 26px;
    height: 26px;
    background: transparent;
    -webkit-box-shadow: none;
    border: 1px solid #000;
    -webkit-transform: none;
    opacity: .26;
}

.montage-checkbox.disabled .button {
    display: none;
}

.montage-checkbox.disabled .checkmark {
    background-image: url(checkmark-light-disabled.svg);
}

.montage-checkbox.dark.disabled .checkmark {
    background-image: url(checkmark-dark-disabled.svg);
}
