<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">{

                "owner": {
                    "module": "components/textarea-example.reel",
                    "name": "TextareaExample",
                    "properties": {
                        "element": {"#": "textarea-example"}
                    },
                    "bindings": {
                        "info": {"<<->": "@info.value"}
                    }
                },

                "fname": {
                    "module": "montage/ui/textfield.reel",
                    "name": "Textfield",
                    "properties": {
                        "element": {"#": "fname"}
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.firstName"},
                        "title": {"<<->": "@owner.firstName"}
                    }
                },

                "lname": {
                    "module": "montage/ui/textfield.reel",
                    "name": "Textfield",
                    "properties": {
                        "element": {"#": "lname"}
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.lastName"}
                    }
                },
                "info": {
                    "module": "montage/ui/TextArea.reel",
                    "name": "TextArea",
                    "properties": {
                        "element": {"#": "info"}
                    }
                },
                "update": {
                    "module": "montage/ui/button.reel",
                    "name": "Button",
                    "properties": {
                        "element": {"#": "update"},
                        "identifier": "update"
                    },
                    "listeners": [
                        {
                            "type": "action",
                            "listener": {"@": "owner"}
                        }
                    ]
                },
                "textareaAccordion1": {
                    "module": "accordion.reel",
                    "name": "Accordion",
                    "properties": {
                        "element": {"#": "textareaAccordion1"}
                    }
                },
                "echo": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "echo"}
                    },
                    "bindings": {
                        "value": {
                            "boundObject": {"@": "owner"},
                            "boundObjectPropertyPath": "json",
                            "oneway": "true"
                        }
                    }
                }

    }</script>

        <style>
            .textarea-example textarea {
                height: 200px;
                width: 400px;
            }
            .textarea-example pre {
                border: 0;
            }
        </style>
    </head>
    <body>
        <div data-montage-id="textarea-example" class="textarea-example">

            <div class="row">
                <div class="span8">
                    <h3>TextArea</h3>
                    <p>
                        The TextArea component wraps an HTML <code>&lt;textarea></code> element.
                    </p>
<!--                     <p>
                        <a href="" target="_blank">View Documentation</a>
                    </p> -->
                </div>
            </div>

            <h4>Demo</h4>
            <div class="demo textarea1">

                <form class="form-stacked">
                     <label for="fname">First Name</label>
                     <input type="text" placeholder="Enter first name" data-montage-id="fname" required  value="foo" maxlength="20"/>
                     <label for="lname">Last Name</label>
                     <input type="text" placeholder="Enter last name" data-montage-id="lname" value="bar" maxlength="20"/>

                     <label for="info">Tell us a bit about yourself</label>
                     <textarea required data-montage-id="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl. In dignissim lacus ut ante. Cras elit lectus, bibendum a, adipiscing vitae, commodo et, dui. Ut tincidunt tortor. Donec nonummy, enim in lacinia pulvinar, velit tellus scelerisque augue, ac posuere libero urna eget neque. Cras ipsum. Vestibulum pretium, lectus nec venenatis volutpat, purus lectus ultrices risus, a condimentum risus mi et quam. Pellentesque auctor fringilla neque. Duis eu massa ut lorem iaculis vestibulum. Maecenas facilisis elit sed justo. Quisque volutpat malesuada velit.
                     </textarea>

                     <div style="margin-top: 10px;">
                          <button class="btn" data-montage-id="update" type="button">Update</button>
                     </div>

                </form>

                <pre data-montage-id="echo"></pre>

            </div>

            <section>

               <ul data-montage-id="textareaAccordion1" class="accordion">
                    <li class="accordion-group">
                        <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                        <div class="accordion-inner montage-hidden" >
                            <pre class="prettyprint" >
&lt;form class="form-stacked"&gt;
     &lt;label for="fname"&gt;First Name&lt;/label&gt;
     &lt;input type="text" placeholder="Enter first name" data-montage-id="fname" required  value="foo" maxlength="20"/&gt;
     &lt;label for="lname"&gt;Last Name&lt;/label&gt;
     &lt;input type="text" placeholder="Enter last name" data-montage-id="lname" value="bar" maxlength="20"/&gt;

     &lt;label for="info"&gt;Tell us a bit about yourself&lt;/label&gt;
     &lt;textarea required data-montage-id="info"&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl. In dignissim lacus ut ante. Cras elit lectus, bibendum a, adipiscing vitae, commodo et, dui. Ut tincidunt tortor. Donec nonummy, enim in lacinia pulvinar, velit tellus scelerisque augue, ac posuere libero urna eget neque. Cras ipsum. Vestibulum pretium, lectus nec venenatis volutpat, purus lectus ultrices risus, a condimentum risus mi et quam. Pellentesque auctor fringilla neque. Duis eu massa ut lorem iaculis vestibulum. Maecenas facilisis elit sed justo. Quisque volutpat malesuada velit.
     &lt;/textarea&gt;

     &lt;div style="margin-top: 10px;"&gt;
          &lt;button class="btn" data-montage-id="update" type="button"&gt;Update&lt;/button&gt;
     &lt;/div&gt;

&lt;/form&gt;
                            </pre>
                        </div>
                    </li>
                    <li class="accordion-group">
                        <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                        <div class="accordion-inner montage-hidden">
                            <pre class="prettyprint" >
{
    "owner": {
        "module": "components/textarea-example.reel",
        "name": "TextareaExample",
        "properties": {
            "element": {"#": "textarea-example"}
        },
        "bindings": {
            "info": {
                "boundObject": {"@": "info"},
                "boundObjectPropertyPath": "value"
            }
        }
    },

    "fname": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "element": {"#": "fname"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "firstName",
                "oneway": false
            },
            "title": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "firstName",
                "oneway": false
            }
        }
    },

    "lname": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "element": {"#": "lname"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "lastName",
                "oneway": false
            }
        }
    },
    "info": {
        "module": "montage/ui/TextArea.reel",
        "name": "TextArea",
        "properties": {
            "element": {"#": "info"}
        }
    },
    "update": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "update"},
            "identifier": "update"
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "owner"}
            }
        ]
    },
    "echo": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "echo"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "json",
                "oneway": "true"
            }
        }
    }
}
     </pre>

                        </div>
                    </li>
                </ul>

            </section>

            <section>
                <a href="https://github.com/Motorola-Mobility/montage/tree/v0.7/examples/sink/components/textarea-example.reel" target="_blank">View source on GitHub</a>
            </section>

<!--             <section>
                <h4>Component Properties</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>value</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>converter</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>error</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>disabled</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>readonly</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>name</td>
                      <td>...</td>
                    </tr>

                    <tr>
                      <td>required</td>
                      <td>...</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                    <a href="" target="_blank">View full Documentation</a>
                </p>
            </section> -->

    </body>
</html>
