html, body, .Main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
     -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Main {
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px 0;
    font-size: 32px;
    text-align: center;
}

.tree-list-container {
    margin: 50px auto;
    height: 300px;
    width: 200px;
    padding: 12px;
    border: 1px solid;
}

.tree-list {
    /* FIXME: SHOULD BE DEFAULT VALUE!!! */
    height: 100%;
}

input[type=checkbox].expand {
	visibility: hidden;
}

input[type=checkbox].expand::before {
    content: "\25BA";
    visibility: visible;
}

input[type=checkbox][checked=checked].expand::before {
    content: "\25BC";
}

.hide {
    display: none;
}

.willDrop::before {
    visibility: visible;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: greenyellow;
    opacity: 0.5;
}

.willDrop:hover::before {
    opacity: 0.85;
}

.montage-TreeList {
    color: green;
}