.SearchResult {
    display: -webkit-box;
    -webkit-box-orient: horizontal;

    min-height: 100px;

    padding: 5px;

    border-top: 1px solid hsl(0,0%,90%);
    border-bottom: 1px solid hsl(0,0%,80%);

    background: hsl(120, 2%, 89%);
}

.SearchResult:nth-child(2n) {
    background: hsl(0,0%,86%);
}

.SearchResultImage {
    height: 80px;
    max-width: 250px;
    margin: 7px;
    -webkit-box-shadow: 0 1px 2px hsla(0,0%,0%,0.9);
}

.SearchResult .imagePanel {
    -webkit-box-flex: 1;
}

.SearchResult .actionPanel,
.SearchResult .imagePanel {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    padding: 7px;
}
