<!doctype html>
<html>
<head>
    <script type="text/montage-serialization">
{
    "textfield1": {
        "prototype": "reel/template/textfield.reel[TextField]",
        "properties": {
            "element": {"#": "textfield0"},
            "text": "here"
        }
    },
    "componenty1": {
        "prototype": "reel/template/componenty.reel[ComponentY]",
        "properties": {
            "element": {"#": "content1"}
        }
    },
    "componenty2": {
        "prototype": "reel/template/componenty.reel[ComponentY]",
        "properties": {
            "element": {"#": "content1a"}
        }
    },
    "textfield2": {
        "prototype": "reel/template/textfield.reel[TextField]",
        "properties": {
            "element": {"#": "textfield3"},
            "text": "X here"
        }
    },
    "componentx1": {
        "prototype": "reel/template/componentx.reel[ComponentX]",
        "properties": {
            "element": {"#": "content2"},
            "textfield": {"@": "textfield2"}
        }
    },
    "owner": {
        "prototype": "reel/template/flatten.reel",
        "properties": {
            "element": {"#": "flatten"}
        }
    }
}
    </script>

</head>
<body>
    <div id="flatten">
        <span id="textfield0"></span>

        <span id="content1"></span>
        <span id="content1a"></span>

        <span id="content2">
            <span id="textfield3"></span>
        </span>
    </div>
</body>
</html>
