<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Test Converters</title>
    <script type="text/montage-serialization">{

    "owner": {
        "module": "components/converters.reel",
        "name": "Converters",
        "properties": {
            "element": {"#": "main"},
            "num1Cmp": {"@": "dynamictext1"},
            "num2Cmp": {"@": "dynamictext2"},
            "num3Cmp": {"@": "dynamictext3"},
            "num4Cmp": {"@": "dynamictext4"},
            "currencyCmp": {"@": "dynamictext5"},
            "$number": {"#": "txt-number"},
            "$currencyValue": {"#": "txt-cur-value"}
        }
    },
    "textfield1": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "value": "Hello World",
            "element": {"#": "textfield1"}
        }
    },
    "dynamictext6": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "Hello World",
            "element": {"#": "text1"}
        },
        "bindings": {
            "value": {"<<->": "@textfield1.value"}
        }
    },
    "uppercaseconverter1": {
        "module": "montage/core/converter/upper-case-converter",
        "name": "UpperCaseConverter",
        "properties": {

        }
    },
    "dynamictext7": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "Hello World",
            "converter": {"@": "uppercaseconverter1"},
            "element": {"#": "text2"}
        },
        "bindings": {
            "value": {"<<->": "@textfield1.value"}
        }
    },
    "lowercaseconverter1": {
        "module": "montage/core/converter/lower-case-converter",
        "name": "LowerCaseConverter",
        "properties": {

        }
    },
    "dynamictext8": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "Hello World",
            "converter": {"@": "lowercaseconverter1"},
            "element": {"#": "text3"}
        },
        "bindings": {
            "value": {"<<->": "@textfield1.value"}
        }
    },
    "textarea1": {
        "module": "montage/ui/textarea.reel",
        "name": "TextArea",
        "properties": {
            "element": {"#": "textarea1"}
        }
    },
    "uppercaseconverter2": {
        "module": "montage/core/converter/upper-case-converter",
        "name": "UpperCaseConverter",
        "properties": {

        }
    },
    "dynamictext9": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "",
            "converter": {"@": "uppercaseconverter2"},
            "element": {"#": "text4"}
        },
        "bindings": {
            "value": {"<<->": "@textarea1.value"}
        }
    },
    "dateconverter1": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "MM-dd-yyyy"
        }
    },
    "textfield2": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "converter": {"@": "dateconverter1"},
            "updateOnInput": false,
            "element": {"#": "txt-date"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputDate"}
        }
    },
    "dynamictext10": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "date1"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputDate"}
        }
    },
    "dateconverter2": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "dd MMM"
        }
    },
    "dynamictext11": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "dateconverter2"},
            "element": {"#": "date2"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputDate"}
        }
    },
    "dateconverter3": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "dd MMM yyyy hh:mm tt"
        }
    },
    "dynamictext12": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "dateconverter3"},
            "element": {"#": "date3"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputDate"}
        }
    },
    "dateconverter4": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "MM/dd/yyyy HH:mm"
        }
    },
    "dynamictext13": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "dateconverter4"},
            "element": {"#": "date4"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputDate"}
        }
    },
    "dateconverter5": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "MM-dd-yyyy"
        }
    },
    "dynamictext14": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "dateconverter5"},
            "element": {"#": "date5"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputDate"}
        }
    },
    "numberconverter1": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "decimals": 2
        }
    },
    "textfield3": {
        "module": "montage/ui/number-input.reel",
        "name": "NumberInput",
        "properties": {
            "element": {"#": "txt-number"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputNumber"}
        }
    },
    "dynamictext1": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "num1"},
            "converter": {"@": "numberconverter1"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputNumber"}
        }
    },
    "numberconverter2": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "shorten": true,
            "decimals": 2
        }
    },
    "dynamictext2": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "numberconverter2"},
            "element": {"#": "num2"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputNumber"}
        }
    },
    "numberconverter3": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "shorten": true,
            "decimals": 4
        }
    },
    "dynamictext3": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "numberconverter3"},
            "element": {"#": "num3"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputNumber"}
        }
    },
    "numberconverter4": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "round": true
        }
    },
    "dynamictext4": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "numberconverter4"},
            "element": {"#": "num4"}
        },
        "bindings": {
            "value": {"<<->": "@owner.inputNumber"}
        }
    },

    "numberconverter5": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "decimals": 2,
            "allowPartialConversion": true
        }
    },
    "tempConverter": {
        "module": "components/converters.reel",
        "name": "TempConverter",
        "properties": {

        }
    },
    "celsiusTextfield": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "element": {"#": "celsius"}
        },
        "bindings": {
            "value": {"<<->": "@fahrenheitTextfield.value", "converter": {"@": "tempConverter"}}
        }
    },
    "fahrenheitTextfield": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "element": {"#": "fahrenheit"},
            "value": "32"
        }
    },
    "convertersAccordion1": {
        "module": "accordion.reel",
        "name": "Accordion",
        "properties": {
            "element": {"#": "convertersAccordion1"}
        }
    },
    "convertersAccordion2": {
        "module": "accordion.reel",
        "name": "Accordion",
        "properties": {
            "element": {"#": "convertersAccordion2"}
        }
    },
    "convertersAccordion3": {
        "module": "accordion.reel",
        "name": "Accordion",
        "properties": {
            "element": {"#": "convertersAccordion3"}
        }
    },
    "convertersAccordion0": {
        "module": "accordion.reel",
        "name": "Accordion",
        "properties": {
            "element": {"#": "convertersAccordion0"}
        }
    }

    }</script>


    <style type="text/css">

        .text {
            margin: 5px 0;
            padding: 5px;
            font-size: 1.1em;
            background-color: #eee;
            color: #333;
        }

        .text.example {
            margin-bottom: 5px;
            margin-top: 5p;
        }



    </style>

</head>
<body>
    <div data-montage-id="main">
        <div class="row">
            <div class="span">
                <h3>Converters</h3>
                <p>
                    Converters are Montage objects that convert or format a value before it's assigned to its destination. A converter object must define two methods: <code>convert()</code> and <code>revert()</code>. These methods are invoked automatically by Montage.

                    <p>There are two ways to use converters. You can assign a converter to the <code>converter</code> property of a DynamicText or Textfield component. When a new text value is assigned to either of these components, the value is first passed through the converter's <code>convert()</code> method, which does the necessary transformation before returning the modified value.</p>
                </p>
                <p>You can also configure a data binding to use a converter. The converter object's <code>convert()</code> method is called by the data binding engine before the new value is assigned to the source object. In two-way bindings, the <code>revert()</code> method is called when a new value is assigned back to the bound object property.</p>
            </div>
        </div>


        <h4>Demo</h4>

        <h4>String converters</h4>
        <p>String converters can beThe following examples demonstrate how to use a string converter on a DynamicText field to format its assigned value before being displayed. The value of the input text field (which is controlled by a Montage Textfield object.) This is done by creating a new converter object, and assinging that object to a DynamicText component's <code>converter</code> property.
        </p>
        <div class="demo string">
            <input type="text" data-montage-id="textfield1" placeholder="Enter some text here" />

            <p> 1) Dynamic text bound to the textfield without any converter<p>
            <div data-montage-id="text1" class="text example"></div>

            <p>2) Dynamic text with an UpperCase converter</p>
            <div data-montage-id="text2" class="text"></div>

            <p>3) Dynamic text with a LowerCase converter</p>
            <div data-montage-id="text3" class="text"></div>

            <textarea data-montage-id="textarea1" style="width: 400px; height: 100px;">Lorem ipsum dolor sit amet, metus erat turpis hac, lacus placerat.Montes a dictum vestibulum in ridiculus vitae. Non volutpat turpis lorem ut, dictum sit risus a, donec dolor eget</textarea>
            <p data-montage-id="text4"></p>

        </div>

        <section>

            <ul data-montage-id="convertersAccordion0" class="accordion">
               <li class="accordion-group">
                   <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                   <div class="accordion-inner montage-hidden" >
                        <pre class="prettyprint" >
&lt;input type="text" data-montage-id="textfield1" placeholder="Enter some text here" /&gt;

&lt;p&gt; 1) Dynamic text bound to the textfield without any converter&lt;p&gt;
&lt;div data-montage-id="text1" class="text example"&gt;&lt;/div&gt;

&lt;p&gt;2) Dynamic text with an UpperCase converter&lt;/p&gt;
&lt;div data-montage-id="text2" class="text"&gt;&lt;/div&gt;

&lt;p&gt;3) Dynamic text with a LowerCase converter&lt;/p&gt;
&lt;div data-montage-id="text3" class="text"&gt;&lt;/div&gt;

&lt;textarea data-montage-id="textarea1" style="width: 400px; height: 100px;"&gt;Lorem ipsum dolor sit amet, metus erat turpis hac, lacus placerat.Montes a dictum vestibulum in ridiculus vitae. Non volutpat turpis lorem ut, dictum sit risus a, donec dolor eget&lt;/textarea&gt;
&lt;p data-montage-id="text4"&gt;&lt;/p&gt;
                        </pre>
                   </div>
               </li>
               <li class="accordion-group">
                   <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                   <div class="accordion-inner montage-hidden">
                    <pre class="prettyprint" >
{
    "textfield1": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "value": "Hello World",
            "element": {"#": "textfield1"}
        }
    },
    "dynamictext6": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "Hello World",
            "element": {"#": "text1"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "textfield1"},
                "boundObjectPropertyPath": "value"
            }
        }
    },
    "uppercaseconverter1": {
        "module": "montage/core/converter/upper-case-converter",
        "name": "UpperCaseConverter",
        "properties": {

        }
    },
    "dynamictext7": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "Hello World",
            "converter": {"@": "uppercaseconverter1"},
            "element": {"#": "text2"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "textfield1"},
                "boundObjectPropertyPath": "value"
            }
        }
    },
    "lowercaseconverter1": {
        "module": "montage/core/converter/lower-case-converter",
        "name": "LowerCaseConverter",
        "properties": {

        }
    },
    "dynamictext8": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "Hello World",
            "converter": {"@": "lowercaseconverter1"},
            "element": {"#": "text3"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "textfield1"},
                "boundObjectPropertyPath": "value"
            }
        }
    },
    "textarea1": {
        "module": "montage/ui/textarea.reel",
        "name": "TextArea",
        "properties": {
            "element": {"#": "textarea1"}
        }
    },
    "uppercaseconverter2": {
        "module": "montage/core/converter/upper-case-converter",
        "name": "UpperCaseConverter",
        "properties": {

        }
    }
}
                    </pre>

                   </div>
               </li>

            </ul>

        </section>


            <h4>Number to string converters </h4>
        <div class="demo number">
            <input data-montage-id="txt-number" type="number" name="txt-number" step="5"  />

            <p>Default - Number rounded to 2 decimals</p>
            <div data-montage-id="num1" class="text"></div>

            <p>Number in human readable form (K,M etc). Set property "shorten" to true.</p>
            <div data-montage-id="num2" class="text"></div>

            <p>Number in human readable form with 4 decimals</p>
            <div data-montage-id="num3" class="text"></div>

            <p>Number rounded to nearest integer</p>
            <div data-montage-id="num4" class="text"></div>


        </div>


        <section>

            <ul data-montage-id="convertersAccordion1" class="accordion">
               <li class="accordion-group">
                   <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                   <div class="accordion-inner montage-hidden" >
                        <pre class="prettyprint" >
&lt;input data-montage-id="txt-number" type="number" name="txt-number" step="5"  /&gt;

&lt;p&gt;Default - Number rounded to 2 decimals&lt;/p&gt;
&lt;div data-montage-id="num1" class="text"&gt;&lt;/div&gt;

&lt;p&gt;Number in human readable form (K,M etc). Set property "shorten" to true.&lt;/p&gt;
&lt;div data-montage-id="num2" class="text"&gt;&lt;/div&gt;

&lt;p&gt;Number in human readable form with 4 decimals&lt;/p&gt;
&lt;div data-montage-id="num3" class="text"&gt;&lt;/div&gt;

&lt;p&gt;Number rounded to nearest integer&lt;/p&gt;
&lt;div data-montage-id="num4" class="text"&gt;&lt;/div&gt;
                        </pre>
                   </div>
               </li>
               <li class="accordion-group">
                   <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                   <div class="accordion-inner montage-hidden">
                    <pre class="prettyprint" >
{
    "dynamictext1": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "num1"},
            "converter": {"@": "numberconverter1"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputNumber"
            }
        }
    },
    "numberconverter2": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "shorten": true,
            "decimals": 2
        }
    },
    "dynamictext2": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "numberconverter2"},
            "element": {"#": "num2"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputNumber"
            }
        }
    },
    "numberconverter3": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "shorten": true,
            "decimals": 4
        }
    },
    "dynamictext3": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "numberconverter3"},
            "element": {"#": "num3"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputNumber"
            }
        }
    },
    "numberconverter4": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "round": true
        }
    },
    "dynamictext4": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "numberconverter4"},
            "element": {"#": "num4"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputNumber"
            }
        }
    },

    "numberconverter5": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "decimals": 2,
            "allowPartialConversion": true
        }
    }
}
                    </pre>

                   </div>
               </li>
            </ul>

        </section>



            <h4>Date Converters </h4>
            <p>Date converters convert a string or number value to a formatted date string. The available format patterns are identical to the ones listed <a target="_new" href="http://www.ruby-doc.org/core/classes/Time.html#M000392">here</a>.</p>
        <div class="demo date">
            <input data-montage-id="txt-date" type="text" placeholder="Enter a Date in the mm-dd-yyyy format" />

            <div>Default Date.toString()</div>
            <div data-montage-id="date1" class="text"></div>

            <div>Format using dd MM pattern</div>
            <div data-montage-id="date2" class="text"></div>
            <div>Pattern: d M Y H:i</div>
            <div data-montage-id="date3" class="text"></div>

            <div>Pattern: m/d/Y h:i A (eg: 08/20/2001 01:40 PM)</div>
            <div data-montage-id="date4" class="text"></div>

            <div>Pattern: 'c' ISO-8601 format </div>
            <div data-montage-id="date5" class="text"></div>

        </div>

        <section>
            <ul data-montage-id="convertersAccordion2" class="accordion">
               <li class="accordion-group">
                   <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                   <div class="accordion-inner montage-hidden" >
                        <pre class="prettyprint" >
&lt;input data-montage-id="txt-date" type="text" placeholder="Enter a Date in the mm-dd-yyyy format" /&gt;

&lt;div&gt;Default Date.toString()&lt;/div&gt;
&lt;div data-montage-id="date1" class="text"&gt;&lt;/div&gt;

&lt;div&gt;Format using dd MM pattern&lt;/div&gt;
&lt;div data-montage-id="date2" class="text"&gt;&lt;/div&gt;
&lt;div&gt;Pattern: d M Y H:i&lt;/div&gt;
&lt;div data-montage-id="date3" class="text"&gt;&lt;/div&gt;

&lt;div&gt;Pattern: m/d/Y h:i A (eg: 08/20/2001 01:40 PM)&lt;/div&gt;
&lt;div data-montage-id="date4" class="text"&gt;&lt;/div&gt;

&lt;div&gt;Pattern: 'c' ISO-8601 format &lt;/div&gt;
&lt;div data-montage-id="date5" class="text"&gt;&lt;/div&gt;
                        </pre>
                   </div>
               </li>
               <li class="accordion-group">
                   <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                   <div class="accordion-inner montage-hidden">
                    <pre class="prettyprint" >
{
    "dateconverter1": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "MM-dd-yyyy"
        }
    },
    "textfield2": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "converter": {"@": "dateconverter1"},
            "updateOnInput": false,
            "element": {"#": "txt-date"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputDate"
            }
        }
    },
    "dynamictext10": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "date1"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputDate"
            }
        }
    },
    "dateconverter2": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "dd MMM"
        }
    },
    "dynamictext11": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "dateconverter2"},
            "element": {"#": "date2"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputDate"
            }
        }
    },
    "dateconverter3": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "dd MMM yyyy hh:mm tt"
        }
    },
    "dynamictext12": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "dateconverter3"},
            "element": {"#": "date3"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputDate"
            }
        }
    },
    "dateconverter4": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "MM/dd/yyyy HH:mm"
        }
    },
    "dynamictext13": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "dateconverter4"},
            "element": {"#": "date4"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputDate"
            }
        }
    },
    "dateconverter5": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "MM-dd-yyyy"
        }
    },
    "dynamictext14": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "converter": {"@": "dateconverter5"},
            "element": {"#": "date5"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "inputDate"
            }
        }
    }
}
                    </pre>

                   </div>
               </li>

            </ul>
        </section>



        <h3>Custom converter: Temperature Converter</h3>

        <p>The following example demonstrates how to create and use a custom converter, in this case to convert from degrees C to degrees F. </p>

        <div class="demo temp">
            <section data-montage-id="converter">
            <p>Temperature in Celsius</p>
            <input type="number" name="celsius" data-montage-id="celsius"/>

            <p>Temperature in Fahrenheit</p>
                <input type="number" name="fahrenheit" data-montage-id="fahrenheit" >
            </section>


        </div>

        <section>
            <ul data-montage-id="convertersAccordion3" class="accordion">
               <li class="accordion-group">
                   <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                   <div class="accordion-inner montage-hidden" >
                        <pre class="prettyprint" >
&lt;p&gt;Temperature in Celsius&lt;/p&gt;
&lt;input type="number" name="celsius" data-montage-id="celsius"/&gt;

&lt;p&gt;Temperature in Fahrenheit&lt;/p&gt;
&lt;input type="number" name="fahrenheit" data-montage-id="fahrenheit" &gt;
                        </pre>
                   </div>
               </li>
               <li class="accordion-group">
                   <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                   <div class="accordion-inner montage-hidden">
                    <pre class="prettyprint" >
{
    "numberconverter5": {
        "module": "montage/core/converter/number-converter",
        "name": "NumberConverter",
        "properties": {
            "decimals": 2,
            "allowPartialConversion": true
        }
    },
    "tempConverter": {
        "module": "components/converters.reel",
        "name": "TempConverter",
        "properties": {

        }
    },
    "celsiusTextfield": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "element": {"#": "celsius"},
            "converter": {"@": "numberconverter5"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "fahrenheitTextfield"},
                "boundObjectPropertyPath": "value",
                "converter": {"@": "tempConverter"}
            }
        }
    },
    "fahrenheitTextfield": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "element": {"#": "fahrenheit"},
            "value": "32"
        }
    }
}
                    </pre>

                   </div>
               </li>
               <li class="accordion-group">
                   <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Javascript</a></div>
                   <div class="accordion-inner montage-hidden">
                       <pre class="prettyprint" >
/* converters.js - Custom converter to convert from Celsius to Fahrenheit and vice-versa. */
exports.TempConverter = Montage.create(Converter, {

   allowPartialConversion: {
       value: true
   },

   // convert fahrenheit to celsius (showing our non-metric heritage here)
   convert: {
       value: function(value) {
           return (parseInt(value, 10) - 32) / 1.8;
       }
   },

   // revert celsius to fahrenheit
   revert: {
       value: function(value) {
           return (1.8 * parseInt(value, 10)) + 32;
       }
   }

});

                       </pre>
                   </div>
               </li>
            </ul>

        </section>


        <section>
            <a href="https://github.com/Motorola-Mobility/montage/tree/v0.7/examples/sink/components/converters.reel" target="_blank">View source on GitHub</a>
        </section>
<!--
        <section>
            <h4>Converter API</h4>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>convert</td>
                    <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                  </tr>
                <tr>
                  <td>revert</td>
                  <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                </tr>

              </tbody>
            </table>
            <p>
                <a href="" target="_blank">View full Documentation</a>
            </p>
        </section>
 -->
    </div>

</body>
</html>
