<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">
            {
                "owner": {
                    "module": "components/progress-example.reel",
                    "name": "ProgressExample",
                    "properties": {
                        "element": {"#": "progress-example"},
                        "uploadProgress": 10
                    }
                },
                "progress1": {
                    "module": "montage/ui/progress.reel",
                    "name": "Progress",
                    "properties": {
                        "element": {"#": "progress1"},
                        "value": 30
                    },
                    "bindings": {
                        "value": {
                            "boundObject": {"@": "owner"},
                            "boundObjectPropertyPath": "uploadProgress"
                        }
                    }
                },
                "progress2": {
                    "module": "montage/ui/progress.reel",
                    "name": "Progress",
                    "properties": {
                        "element": {"#": "progress2"},
                        "value": 50
                    },
                    "bindings": {
                        "value": {
                            "boundObject": {"@": "textfield1"},
                            "boundObjectPropertyPath": "value"
                        }
                    }
                },
                "textfield1": {
                    "module": "montage/ui/number-input.reel",
                    "name": "NumberInput",
                    "properties": {
                        "element": {"#": "text1"}
                    }
                },

                "progressAccordion1": {
                    "module": "accordion.reel",
                    "name": "Accordion",
                    "properties": {
                        "element": {"#": "progress-accordion1"}
                }
            }

            }
        </script>

        <style>
            .progress-example .progress {
                margin: 10px 0;
            }
            /* Spin button */
            .progress-example input::-webkit-outer-spin-button {
                margin-left: 10px;
                -webkit-transform: scale(1.4) translateY(-1px);
            }
            .progress-example input::-webkit-inner-spin-button {
                margin-left: 3px;
                -webkit-transform: scale(1.4) translateY(-1px);
            }
        </style>

    </head>
    <body>
        <div id="progress-example" class="progress-example">
            <div class="row">
                <div class="span8">
                    <h3>Progress</h3>
                    <p>
                        The Progress component wraps the HTML5 Progress control and exposes its native attributes as bindable properties.
                        </p>
                </div>
            </div>

            <h4>Demo</h4>

            <div class="demo">
                
                <h5>Progress bar bound to ProgressExample.uploadProgress property</h5>
                <progress id="progress1" max="100" value="60"></progress>

                <h5>Progress bar bound to the value in the textfield</h5>

                <progress id="progress2" max="100" style="width: 300px;" value="10"></progress>

                <input id="text1" type="number" min="0" max="100" value="25"  style="width: 50px;" />
            <section>
                <ul id="progress-accordion1" class="accordion">
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                       <div class="accordion-inner montage-hidden" >
                            <pre class="prettyprint" >
&lt;h5&gt;Progress bar bound to ProgressExample.uploadProgress property&lt;/h5&gt;
&lt;progress id="progress1" max="100" value="60"&gt;&lt;/progress&gt;

&lt;h5&gt;Progress bar bound to the value in the textfield&lt;/h5&gt;

&lt;progress id="progress2" max="100" style="width: 300px;" value="10"&gt;&lt;/progress&gt;

&lt;input id="text1" type="number" min="0" max="100" value="25"  style="width: 50px;" /&gt;
                            </pre>
                       </div>
                   </li>
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                       <div class="accordion-inner montage-hidden">
                        <pre class="prettyprint" >
{
    "owner": {
        "module": "components/progress-example.reel",
        "name": "ProgressExample",
        "properties": {
            "element": {"#": "progress-example"},
            "uploadProgress": 10
        }
    },
    "progress1": {
        "module": "montage/ui/progress.reel",
        "name": "Progress",
        "properties": {
            "element": {"#": "progress1"},
            "value": 30
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "uploadProgress"
            }
        }
    },
    "progress2": {
        "module": "montage/ui/progress.reel",
        "name": "Progress",
        "properties": {
            "element": {"#": "progress2"},
            "value": 50
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "textfield1"},
                "boundObjectPropertyPath": "value"
            }
        }
    },
    "textfield1": {
        "module": "montage/ui/number-input.reel",
        "name": "NumberInput",
        "properties": {
            "element": {"#": "text1"}
        }
    }
}
                        </pre>

            </div>
                   </li>
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">JavaScript</a></div>
                       <div class="accordion-inner montage-hidden">
                        <pre class="prettyprint" >
var Montage = require("montage/core/core").Montage,
    Component = require("montage/ui/component").Component;
            
exports.ProgressExample = Montage.create(Component, {

    _uploadProgress: {value: null},

    uploadProgress: {
        set: function(value) {
            this._uploadProgress = value;
            this.needsDraw = true;
        },
        get: function() {
            return this._uploadProgress;
        }
    },

    _intervalId: {value: null},

    didBecomeInactiveInSlot: {
        value: function() {
            if(this._intervalId) {
                clearInterval(this._intervalId);
                this._intervalId = null;
            }
        }
    },

    didBecomeActiveInSlot: {
        value: function() {
            var self = this;
            if(this._intervalId) {
                clearInterval(this._intervalId);
            }
            this._intervalId = setInterval(function() {
                self.uploadProgress = self.uploadProgress + 10;
                if(self.uploadProgress > 100) {
                    self.uploadProgress = 0;
                }
            }, 1000);
        }
    }

});
                        </pre>
                    </li>
                </ul>
            </section>
            </div>
            
            <section>
            <a href="https://github.com/Motorola-Mobility/montage/tree/v0.7/examples/sink/components/progress-example.reel" target="_blank">View source on GitHub</a>
            </section>

        </div>
    </body>
</html>
