html, body, .Main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

.Main, .sliders {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

header {
    margin-top: 20px;
    font-size: 42px;
    font-weight: bold;
    color: #333;
}

.slider-container {
    width: 300px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 150px;
}

.slider.A {
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    outline: 1px #777 solid;
    box-sizing: border-box;
    display: inline-block;
}

.slider-thumb {
    position: relative;
    width: 15%;
    height: 100%;
    min-height:2vh;
    outline: 1px #e74c3c solid;
    box-sizing: border-box;
}

input[type="range"].slider::-webkit-slider-thumb {
    width: 200px;
}

.input-text {
    margin-left: auto;
    text-align: right;
}
