.Main {
    font-family: sans-serif;
}

.Main-currentImageIndex {
    font-size: 100%;
    font-weight: 900;
    margin: 1em 0 0 0;
    text-align: center;
    width: 700px;
}

.Main-imageGallery {
    height: 500px;
    width: 700px;
}

.montage-ImageGallery {
    background: black;
}

.montage-ImageGallery-previous,
.montage-ImageGallery-next {
    position: absolute;
    top: 50%;
    left: -12px;
    margin-top: -22px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background: #aaa;
    outline: none;
}

.montage-ImageGallery-next {
    left: auto;
    right: -12px;
}

.montage-ImageGallery-previous.montage--disabled,
.montage-ImageGallery-next.montage--disabled {
    opacity: 0.4;
}

.Main-imageOrigin {
    font-size: 70%;
    margin: 1em 0 0 0;
    text-align: center;
    width: 700px;
}

.montage-ImageGalleryItem-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(asset/spinner.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 64px 64px;
}

.montage-ImageGalleryItem-error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(asset/error.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90px 90px;
}
