.montage-ImageGalleryItem {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.montage-ImageGalleryItem-loaderImage {
    display: none;
}
