<!DOCTYPE html>
<html>
<head>
    <title>Composition Decorator</title>
    <script type="text/montage-serialization">{
        "owner": {
            "properties": {
                "element": {"#": "compositionDecorator"}
            }
        },

        "decorator": {
            "prototype": "ui/drawing/component/decorator.reel",
            "properties": {
                "element": {"#": "decorator"}
            }
        }
    }</script>
</head>
<body>
    <div data-montage-id="compositionDecorator">
        <div class="composition-decoration">
            <div data-montage-id="decorator">
                <span data-param="*"></span>
            </div>
        </div>
    </div>
</body>
</html>
