 div.slider {
   display: inline-block;
   border-radius: 4px;
   position: relative;
   height: 8px;
   background-color: #556270; 
   border: 1px solid #aaa;
   cursor: default;
}
.slider-handle {
    top: -0.6em;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    
    width: 1.2em;
    height: 1.2em;
    background-color: #ddd;
    color: #fff;
    padding: 4px;
    border: 1px solid #333;
    border-radius: 20px;
}

.slider-handle:hover {
    background-color: #999;
}