.chip {
    width: 400px;
    height: 200px;
    background: whitesmoke;
    /*float:left;*/
}

.controls  {
    /*position: absolute;*/
    width: 400px;
}

.controls .montage-slider {
    /*position: relative;*/
    width: 200px;
    left: 40px;
}

.label {
    /*position: absolute;*/
    color: black;
    top: 30%;
    text-align: left;
    font-family: Arial, "MS Trebuchet", sans-serif;
    font-size: 16px;
}

.slider-item {
    position: relative;
    background: whitesmoke;
    margin: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    padding-left: 15px;
}

.range-input-example .demo{

}
.range-input-example .control {
    background-color: whitesmoke;
    padding: 5px;
}
.range-input-example input[type=range] {
    width: 100px;
    vertical-align: middle;
}
.range-input-example .range-value {
    padding: 2px;
    border: 1px solid #aaa;
}
