/* @override http://localhost:8082/montage-projects/main.reel/main.css */

.main {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    height: 100%;
	font-family: "Nunito","Lucida Grande", Lucida, Verdana, sans-serif;
	background: -webkit-radial-gradient(center, closest-side, hsl(0,0%,30%), hsl(0,0%,15%) );
}

.facade {	
	position:	relative;
	width:      1024px;
    height:     672px;
	overflow:   hidden;
}

.header {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
    right: 0;
	text-align: center;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
}

.filter {
    display: inline-block;
}

.filter .montage-button {
    border-color: hsl(0,0%,0%);
    color: hsl(0,0%,60%);
    font-size: 15px;
    font-family: inherit;
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 2px hsla(0,0%,100%,.1);
    background: hsl(0,0%,12%) -webkit-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
}

.filter .montage-button.active {
    background: hsl(0,0%,10%) -webkit-linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
}

.filter .montage-button.selected {
    color: hsla(0,0%,100%,.9);
    background: hsl(0,100%,50%) -webkit-linear-gradient(top, hsla(0,0%,100%,.15), hsla(0,0%,0%,.3) );
}

