
.sidebar {
    background-color: whitesmoke;
}

.sidebar h6 {
    color: #999;
}

.sidebar .sidebar-list li {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    cursor: default;
    padding: 5px;
    
}
.sidebar .sidebar-list li:hover{
    opacity: 0.3;
    cursor: pointer;
}
.sidebar .sidebar-list .selected {
    background-color: #fff;
    border-right: 21px solid #FE4365;
    opacity: 1.0;
    cursor: default;
    margin-left: -30px;
    padding: 5px;
    border-left: 1px solid #AAA;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}
.sidebar .sidebar-list .selected h4 {
}

.sidebar .sidebar-list ul {
    list-style: none;
    margin: 0;
}

.sidebar .sidebar-list a h4 {
    margin-left: 10px;
}