/* @override http://localhost:8082/montage/examples/sink/sidebar.reel/sidebar.css */

.sidebar {
    padding-top: 16px;
    box-shadow: inset -1px 0 0 hsl(0,0%,90%);
}

.sidebar a:hover {
    text-decoration: none;
}

.sidebar h6 {
    color: hsl(0,0%,65%);
    font-weight: normal;
    line-height: 1.5em;
}

.sidebar ul {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
}

.sidebar li {
    padding: 0;
    cursor: pointer;
    border-left: 3px solid hsl(0,0%,95%);
}
.sidebar li:hover{
    background-color: hsl(0,0%,95%);
    border-color: hsl(0,0%,85%);
}
.sidebar .selected,
.sidebar .selected:hover {
    border-left: 3px solid hsl(200,100%,50%);
    cursor: default;
}

.sidebar h4 {
    margin: 0 13px;
    line-height: 1.6em;
    font-size: 1.1em;
}

.sidebar .sidebar-list h6 {
    text-transform: none;
}