.ListItem {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0;
    position: relative;
    color: #000;
    background-color: #fff;
    min-height: 2.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    border: 1px solid #c8c7cc;
    box-sizing: border-box;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

/** States **/

.ListItem.selected {
    background-color: #d9d9d9;
}

.ListItem.active {
    background-color: #e9e9e9;
}

.ListItem.is-expandable:after {
    content: "\203A";
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #C7C7CC;
    margin-top: -6px;
}

.ListItem.is-expandable .ListItem-text {
    margin-right: 27px;
}

.ListItem.is-expandable.has-value .ListItem-text {
    margin-right: 0;
}

.ListItem.is-expandable .ListItem-value {
    font-size: .5em;
    margin-right: 35px;
}

/** Icon **/

.ListItem .ListItem-icon > * {
    height: 24px;
    width: 24px;
    margin: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.ListItem .ListItem-icon .montage-image {
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
}

/** Label + description **/

.ListItem .ListItem-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    position: relative;
    overflow: hidden;
}

.ListItem .ListItem-text .ListItem-description,
.ListItem .ListItem-text .ListItem-label {
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.ListItem .ListItem-text .ListItem-label {
    font-size: 1em;
    font-weight: 400;
}

.ListItem .ListItem-text .ListItem-description {
    font-size: .85em;
    color: #8e9093;
    text-align: right;
    max-width: 35%;
}

/** Description position **/

.ListItem.description-bottom .ListItem-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
}

.ListItem.description-bottom .ListItem-text .ListItem-description,
.ListItem.description-bottom .ListItem-text .ListItem-label {
    margin: 0 0 2px;
    max-width: 90%;
}

.ListItem.description-bottom .ListItem-text .ListItem-description {
    text-align: left;
}

/** Boolean Value **/

.ListItem .ListItem-value {
    font-size: .6em;
    margin-right: 8px;
    margin-left: 8px;
}
