/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-editor-container {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.montage-editor {
    position: relative;
    height: inherit;
    outline:  none;
    overflow: auto;

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/*
 Overlay
*/
.montage-editor-overlay {
    z-index: 50;
}
