/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
 .montage-autocomplete {
     padding-right: 20px;
 }
 .montage-autocomplete-loading {
     background: url('loading.gif') no-repeat;
     background-position: right;
 }
