html, body, .Main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

.Main, .radios {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    -webkit-font-smoothing: antialiased;
}

header {
    margin-top: 20px;
    font-size: 42px;
    font-weight: bold;
    color: #333;
}

.radio {
    margin-top: 40px;
}

.radio.custom {
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.5em;
    border: 1px solid;
    fill: #fff;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.radio.custom:after {
    position: absolute;
    content: "";
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px;
    border-radius: 100px;
}

/* States --------------------- */

.radio.custom.montage--active,
.radio.custom.montage-RadioButton--checked {
    background-color: currentColor;
}

.radio.custom.montage--disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}

/* Icon --------------------- */

.radioCustomIcon {
    fill: transparent;
}

.radio.custom.montage-RadioButton--checked .radioCustomIcon {
    fill: inherit;
}

.radio.custom.montage--active .radioCustomIcon {
    fill: transparent;
}


/* Light ---------------------------------------------------------- */

.radio.custom {
    fill: hsla(0,0%,0%,.7);
    border-color: hsl(0,0%,80%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    background-image: -moz-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    background-image: -ms-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    background-image: linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

.radio.custom.montage--active,
.radio.custom.montage-RadioButton--checked {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    background-image: -moz-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    background-image: -ms-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    background-image: linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.2), 0 1px 0 hsla(0,0%,100%,.6);
}
