<!DOCTYPE html>
<html>
    <head>
        <title>Dynamic Text Example</title>
        <script type="text/montage-serialization">
{
    "dateConverter1": {
        "module": "montage/core/converter/date-converter",
        "name": "DateConverter",
        "properties": {
            "pattern": "hh:mm:ss"
        }
    },
    "current-time": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "value": "",
            "converter": {"@": "dateConverter1"},
            "element": {"#": "current-time"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "currentTime",
                "oneway": true
            }
        }
    },


    "owner": {
        "module": "components/dynamic-text-example.reel",
        "name": "DynamicTextExample",
        "properties": {
            "element": {"#": "component-root"}
        }
    }
}
    </script>

    <style>
        .current-time {
            margin: 40px auto;
            font-size: 64px;
            display: inline-block;
        }
    </style>

    </head>

    <body>
        <div id="component-root">
            <div class="row">
                <div class="span8">
                    <h3>Dynamic Text</h3>
                    <p class="">
                    The DynamicText component lets you easily display a string of text in any element that has a <code>innerHtml</code> property. This includes any element with an opening and closing angle brackets. The following example binds the current time to a DynamicText component's <code>value</code>.
                    </p>
                </div>
            </div>

            <h4>Demo</h4>

            <div class="demo">
                <p>This example combines a DynamicText component, whose value is bound to the <code>currentTime</code> property that's definedthe component's controller JavaScript object (components/dynamic-text-example.reel/dynamic-text-example.js). Lastly, a DateConverter is used to format the time value in the hh:mm:ss format.
                </p>
                <span id="current-time" class="current-time"></span>
            </div>

            <section>
                <a href="https://github.com/Motorola-Mobility/montage/tree/v0.6/examples/sink/components/dynamic-text-example.reel" target="_blank">View source on GitHub</a>
            </section>
<!--
            <section>
                <h4>Component Properties</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>value</td>
                        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                      </tr>

                  </tbody>
                </table>
                <p>
                    <a href="" target="_blank">View full Documentation</a>
                </p>
            </section>

 -->    </body>
</html>
