
@import url(http://fonts.googleapis.com/css?family=Homenaje);

body {
    margin: 0;
    font: 13px/1.231 sans-serif;
	max-width: 500px;
	margin: 0 auto;
	background-color: hsl(200,0%,90%);
}

h1 {
    padding-right: 1em;
    margin: 50px 0;
    text-align: center;
    line-height: 60px;
    color: #aaa;
    font-size: 50px;
    font-family: 'Homenaje', sans-serif ;
}

h1 .logo {
    vertical-align: middle;
    width: 75px;
    height: 60px;
    margin: 0 20px;
    background: url(logo.png) no-repeat center center;
}

h1 span {
    display: inline-block;
}

ul {
    padding: 0;
    list-style: none;
    border-bottom: 1px solid hsla(0,0%,0%,.1);
}

li {
    display: inline-block;
    text-align: center;
    padding: 20px;
    /border-top: 1px solid hsla(0,0%,0%,.1);
}