/* Montage Skeleton Base */

* {
    /* Border Box: IE8+ */
    -webkit-box-sizing: border-box; /* Safari -5.0, Safari Mobile -4.3, Android -3.0 */
    -moz-box-sizing: border-box; /* -current */
    box-sizing: border-box;
}

li > *,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 1px solid hsl(0,0%,75%);
    background-color: hsl(0,0%,95%);
}