.logger {
    padding: 10px 15px;
    color: hsl(200,100%,65%);
    border-radius: 6px 6px 0 0;
    background-color: hsl(0,0%,15%);
    cursor: pointer;
    -webkit-transition: background-color .2s ease-in-out;
       -moz-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
         -o-transition: background-color .2s ease-in-out;
            transition: background-color .2s ease-in-out;
}

.logger:hover {
    background-color: hsl(0,0%,18%);
}

.logger-output {
    font-family: monospace;
    white-space: pre;
}

.logger.logger-hilight {
    background-color: hsl(0,0%,30%);
}
