/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-input-number {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 5em;
    margin-right: 2.5em;
}
.montage-input-number > input {
    font-size: inherit;
    width: 5em;
    vertical-align: middle;
    border-radius: 3px 0 0 3px;
}
.montage-input-number > input:hover {
    border-color: #cccccc;
}
.montage-input-number > input:focus {
    border-color: #7f7f7f;
}
.montage-input-number > button {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 2.5em;
    height: 1.25em;
    right: -2.5em;
}
.montage-input-number > .montage-input-number-plus {
    border-width: 1px 1px 0 0;
    border-radius: 0 3px 0 0;
    top: 0px;
}
.montage-input-number > .montage-input-number-minus {
    border-width: 1px 1px 1px 0;
    border-radius: 0 0 3px 0;
    bottom: 0px;
}