<html>
<head>
    <script type="text/montage-serialization">
    {
        "owner": {
            "prototype": "reel/template/componentscript.reel[ComponentScript]",
            "properties": {
                "element": {"#": "componentscript"}
            }
        }
    }
    </script>
    <script>
        window.HeresAGlobalVariableFromComponentScript = true;
    </script>
    <script src="componentscript-script.js"></script>
</head>
<body>
    <div data-montage-id="componentscript">
        <div>Component Script</div>
    </div>
</body>
</html>
