.Main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 28px;
}