<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script type="text/montage-serialization">{

        "one": {
            "prototype": "spec/reel/template/delegate-methods",
            "values": {
                "name": "one"
            }
        },

        "two": {
            "prototype": "spec/reel/template/delegate-methods",
            "values": {
                "name": "two"
            }
        }
    }</script>
</head>
<body>
</body>
</html>