<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script type="text/montage-serialization">{
        "leftSide": {
            "prototype": "montage/ui/text.reel"
        },

        "rightSide": {
            "prototype": "montage/ui/text.reel"
        }
    }</script>
</head>
<body>
    <h1>Title</h1>
    <div class="leftSide" data-montage-id="leftSide">
        <span data-param="leftSide"></span>
    </div>
    <div class="rightSide" data-montage-id="rightSide">
        <span data-param="rightSide"></span>
    </div>
</body>
</html>
