<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div id="content">
        <!-- DOM image sample -->
        <img id="dom_image" src="./sample-image.jpeg">

        <!-- nosrc sample -->
        <img id="no_src">

        <!-- empty_src sample -->
        <img id="empty_src" src="">

        <!-- SVG image sample -->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <image id="svg_image" width="128" height="128" xlink:href="./sample-image.jpeg"/>
        </svg>
    </div>
</body>
</html>
