/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-Textfield {
    line-height: 1em;
    z-index: 1;
    cursor: pointer;
    background-color: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 40%);
    padding: 5px;
    width: 300px;
    font-size: 1.0em;
}

.montage-Textfield:focus {
    background-color: hsl(0, 100%, 99%);
    border: 2px solid hsl(0, 0%, 40%);
}

.montage--invalid-text {
    border: 2px solid #E73525;
    border-style: dashed;
}

.montage-error-text {
    /*color: #E73525;
    margin: 2px 0;
    background-image: url(dialog_warning.png);
    background-repeat: no-repeat;
    padding: 5px 0 5px 32px;
    */
}
