/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.PhotoFX {
    font-family: Helvetica, Arial, sans-serif;
}

.PhotoList {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 177px;

    overflow: visible;

    border-top:  1px solid hsl(0,0%,62%);

    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
}

.EffectsPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 177px;

    width: 300px;

    border-left:  1px solid hsl(0,0%,62%);

    background-color: hsl(120,2%,89%)
}

.PhotoEditor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 177px;
    right: 301px;
}
