/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
html {
    font-family: Helvetica, Arial, sans-serif;
}

* {
    -webkit-user-select: none;
}

input {
    -webkit-user-select: text;
}

.montage-hidden {
    display: none;
}

.montage-invisible {
    visibility: hidden;
}

.PhotoPanel {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 177px;

    overflow: visible;

    border-top:  1px solid hsl(0,0%,62%);

    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
}

.PhotoPanel .PhotoList {
    position: absolute;
    top: 0;
    right: 270px;
    bottom: 0;
    left: 0;

    border-right:  1px solid hsl(0,0%,60%);
}

.PhotoPanel .PhotoList .montage-list-scrollView {
    display: table;
    margin-top: 10px;
}

.PhotoPanel #controlPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 25px 10px 10px;
    text-align: center;
}

.PhotoPanel #controlPanel .montage-button {
    margin-bottom: 8px;
}

.EffectsPanel,
.PhotoPanel #controlPanel {
    width: 270px
}

.EffectsPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 177px;

    border-left:  1px solid hsl(0,0%,62%);

    background-color: hsl(120,2%,89%)
}

.PhotoEditor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 177px;
    right: 270px;
}
