/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.montage-hidden {
    display: none;
}

.montage-invisible {
    visibility: hidden;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

body,
.PhotoFX,
.PhotoFX .editArea,
.PhotoFX .PhotoEditor {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
}

* {
    -webkit-user-select: none;
}

input {
    -webkit-user-select: text;
}

.floatingPanel {
    position: fixed;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    pointer-events: none;
}

.PhotoFX.showControls .floatingPanel {
    opacity: 1;
    pointer-events: auto;
}

.PhotoFX .ToggleControlsButton.text {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.2;
    background-color: hsla(0,0%,70%,0.2);
}

.PhotoPanel {
    display: -webkit-box;
    bottom: 0;
    right: 0;
    left: 0;
    height: 177px;

    overflow: visible;
    border-top:  1px solid hsl(0,0%,62%);

    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
}

.PhotoPanel .PhotoList {
    -webkit-box-flex: 1;
    border-right:  1px solid hsl(0,0%,60%);
}

.PhotoPanel .PhotoList .montage-list-scrollView {
    display: table;
    margin-top: 10px;
}

.PhotoPanel #controlPanel {
    padding: 25px 10px 10px;
    text-align: center;
}

.PhotoPanel #controlPanel .montage-button {
    margin-bottom: 8px;
}

.EffectsPanel,
.PhotoPanel #controlPanel {
    width: 270px
}

.EffectsPanel {
    top: 0;
    right: 0;

    border-left:  1px solid hsl(0,0%,62%);
    background-color: hsl(120,2%,89%)
}

.acceptsDrop {
    border: 5px solid hsl(195,96%,43%);
}
