/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.EffectsPanel .effectsList {
    list-style: none;
    margin:  0;
    padding: 0;
}

.EffectsPanel .effectsList li {
    position: relative;
    left: 0;
    right: 0;

    padding:  10px;
    font-size: 18px;
    line-height: 22px;
    border:  1px solid hsl(0, 0%, 97%);
    border-width:  1px 0;
    border-bottom-color: hsl(0,0%,62%);

    text-align: left;
}

.EffectsPanel .effectsList .effect-toggle-switch {
    float: right;
}