/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.ColorPicker {
    padding: 10px;
    border-bottom: 1px solid hsl(0,0%,62%);
}

.ColorPicker .colorWell {
    width: 75px;
    height: 50px;
    border: 2px solid hsl(0,0%,96%);

    -webkit-box-shadow: 0 1px 2px hsl(0,0%,60%);
}

.ColorPicker .colorCondition,
.ColorPicker .pointCondition {
    display: inline-block;
}

.ColorPicker .valueList {
    margin-right: 5px;
}

.ColorPicker dt,
.ColorPicker dd {
    display: inline-block;
}

.ColorPicker .valueList dd {
    margin: 0 3px 0 1px;
    width: 2em;
    font-weight: bold;
    -webkit-user-select: text;
}
