

/* Sparrow ----------------------------------- */

.app {
    width: 800px;
    height: 383px;
    resize: both;
    overflow: hidden;
    border: 1px solid hsl(0,0%,70%);
	margin-bottom: 100px;
}

.nav {
	border-right: 1px solid hsl(0,0%,70%);
}

.side {
	border-right: 1px solid hsl(0,0%,70%);
}


.title {
    margin: 0;
    padding: 10px;
	background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,94%));
    border-bottom: 1px solid hsl(0,0%,80%);
}

.reply {
    padding: 15px;
	background-color: hsl(210,30%,95%);
    border-bottom: 1px solid hsl(0,0%,80%);
    text-align: right;
}

.reply textarea.skeleton {
    width: 100%;
    height: 60px;
}

.buttons {
    margin-top: 5px;
    text-align: right;
}

.skeleton.cancel {
    color: white;
    background-color: hsl(0,0%,35%);
    border: 1px solid hsl(0,0%,0%);
}
.skeleton.send {
    color: white;
    background-color: hsl(210,100%,60%);
    border: 1px solid hsl(210,100%,30%);
}

.detail {
    padding: 15px;
	background-color: hsl(0,0%,100%);
}



/* Scrollbar -------------------------------- */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    height: 4px;
    background-color: hsl(0,0%,80%);
}

::-webkit-scrollbar-thumb {
    background-clip:padding-box;
    background-color: hsl(0,0%,60%);
}
