/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
 
div.token-field {
    
    background: white;
    border: 1px solid #bdbdbd;
    padding: 5px 3px;
    box-shadow: 0 2px #f7f7f7;
    -webkit-box-shadow: 0 2px #f7f7f7;
    -moz-box-shadow: 0 2px #f7f7f7;
    
}
div.token-field .token-list {
    display: inline;
}
div.token-field .token {
    display: inline-block;
    background: #1DA1D8;
    border: 1px solid #057BAC;
    padding: 2px;
    margin: 2px 0px;
    color: white;
    vertical-align: middle;
    cursor: default;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
div.token-field input[type="text"] {
    background: none;
    border: 0;
    height: 20px;
    width: 20px;
    padding: 0;
    outline: 0;
    -box-shadow: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
}
div.token-field input[type="text"]:focus {
    width: 100%;
    border: 0;
}

div.token-field .autocomplete-wrapper {
    min-width: 40%;
    display: inline-block;
    overflow: hidden;
    margin: 1px 4px;
    vertical-align: middle;
}