<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">
            {
                "owner": {
                    "module": "components/autocomplete-example.reel",
                    "name": "AutocompleteExample",
                    "properties": {
                        "element": {"#": "autocomplete-example"}
                    },
                    "bindings": {
                        "info": {
                            "boundObject": {"@": "info"},
                            "boundObjectPropertyPath": "value"
                        }
                    }
                },

                "country": {
                    "module": "montage/ui/autocomplete/autocomplete.reel",
                    "name": "Autocomplete",
                    "properties": {
                        "element": {"#": "country"},
                        "identifier": "country",
                        "delegate": {"@": "owner"}
                    },
                    "bindings": {
                        "value": {
                            "boundObject": {"@": "owner"},
                            "boundObjectPropertyPath": "country",
                            "oneway": false
                        },
                        "title": {
                            "boundObject": {"@": "owner"},
                            "boundObjectPropertyPath": "country",
                            "oneway": false
                        }
                    }
                },

                "state": {
                    "module": "montage/ui/autocomplete/autocomplete.reel",
                    "name": "Autocomplete",
                    "properties": {
                        "element": {"#": "state"},
                        "identifier": "state",
                        "delegate": {"@": "owner"}
                    },
                    "bindings": {
                        "value": {
                            "boundObject": {"@": "owner"},
                            "boundObjectPropertyPath": "state",
                            "oneway": false
                        }
                    }
                },
                "update": {
                    "module": "montage/ui/button.reel",
                    "name": "Button",
                    "properties": {
                        "element": {"#": "update"},
                        "identifier": "update"
                    },
                    "listeners": [
                        {
                            "type": "action",
                            "listener": {"@": "owner"}
                        }
                    ]
                },
                "echo": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "echo"}
                    },
                    "bindings": {
                        "value": {
                            "boundObject": {"@": "owner"},
                            "boundObjectPropertyPath": "json",
                            "oneway": "true"
                        }
                    }
                }
            }
        </script>

        <style>
            .autocomplete-example Autocomplete {
                height: 200px;
                width: 400px;
            }
            .autocomplete-example pre {
                border: 0;
            }
        </style>
    </head>
    <body>
        <div id="autocomplete-example" class="autocomplete-example">

            <div class="row">
                <div class="span8">
                    <h3>Autocomplete</h3>
                    <p>
                        The Autocomplete component wraps an HTML <code>&lt;Autocomplete></code> element.
                    </p>
                    <p>
                        <a href="" target="_blank">View Documentation</a>
                    </p>
                </div>
            </div>

            <h4>Demo</h4>
            <div class="demo">

                <form class="form-stacked">
                     <label for="country">Country</label>
                     <input type="text" placeholder="Select your Country" id="country" required  value="foo" style="width: 300px;" />
                     <label for="state">State</label>
                     <input type="text" placeholder="Select the State" id="state" value="bar" style="width: 300px;" />                     

                     <div style="margin-top: 10px;">
                          <button class="btn" id="update" type="button">Update</button>
                     </div>

                </form>

                <pre id="echo"></pre>

            </div>

            <section>
                <a href="m-js/examples/sink/components/input-text-example.reel" target="_blank">View Demo Source</a>
            </section>

            <section>
                <h4>Component Properties</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>value</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>converter</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>error</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>disabled</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>readonly</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>name</td>
                      <td>...</td>
                    </tr>

                    <tr>
                      <td>required</td>
                      <td>...</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                    <a href="" target="_blank">View full Documentation</a>
                </p>
            </section>

    </body>
</html>
