.PressComposerLayers {
    position: absolute;
    top: 100px;
    left: 0;
}

.PressComposerLayers > input {
    outline: none;
    border: 1px solid #d7d7d7;
    width: 100px;
    height: 30px;
}


.PressComposerLayers > button {
    width: 100px;
    height: 30px;
    background: #31de7c;
    color: white;
    outline: none;
    border-radius: 4px;
    border: none;
}

.PressComposerLayers-Overlay > button {
    width: 100px;
    height: 30px;
    background: #ff341e;
    color: white;
    outline: none;
    border-radius: 4px;
    border: none;
}

.PressComposerLayers > button:active {
    background: #2bb462;
}

.PressComposerLayers-Overlay > button:active {
    background: #bb2616;
}
