/* @override http://localhost:8082/carconfigurator/ui/main.reel/main.css */

body {
    /* Removes the flickering when 3D transforms are used. */
    -webkit-backface-visibility: hidden;
}

.main {
    height: 100%;
    overflow: hidden;
}



/* Adds a border with an iPad's dimensions */

body:before {
    /content: "";
    position: absolute;
    z-index: 1;
    width: 1024px;
    height: 672px;
    box-sizing: border-box;
    border: 1px solid red;
    pointer-events: none;
}


/* Hide the car, save the fan */
.collada {
    /display: none;
}