<html>
<head>
    <script type="text/montage-serialization">
    {
        "owner": {
            "module": "reel/template/componentfather.reel",
            "name": "ComponentFather",
            "properties": {
                "element": {"#": "componentfather"},
                "fatherTemplateLoaded": true
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="componentfather">
        <div>Component Father</div>
        <div>Father Content</div>
    </div>
</body>
</html>
