html, body, .Main {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Main {
    padding: 20px;
}

header {
    margin: 60px 0;
    font-size: 2rem;
    text-align: center;
    color: #33495d;
    height: 40px;
}

.items {
    height: 500px;
    width: 300px;
}

.ListItemMenu.gray .ListItemMenu-options button {
    font-size: 14px;
    white-space: nowrap;
    color: rgb(100, 100, 100);
}

.ListItemMenu.gray .ListItemMenu-options button .dot {
    background-color: rgb(100, 100, 100);
}

.ListItemMenu.gray.is-opened.right-side .ListItemMenu-content {
    border-right: 1px solid #bdc3c7;
}

.ListItemMenu.gray.is-opened.left-side .ListItemMenu-content {
    border-left: 1px solid #bdc3c7;
}

.ListItemMenu .archive {
    background-color: #2C82C9;
}

.ListItemMenu .delete {
    background-color: #e74c3c;
}

.ListItemMenu .more {
    background-color: #9E9D9B;
}

.ListItemMenu .dot {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.ListItemMenu .move {
    background-color: #5659C9;
}

.ListItemMenu .pin {
    background-color: #2CC990;
}

.ListItemMenu[data-montage-id='list-item-menu-8'] .ListItemMenu-content {
    padding-left: 16px;
    padding-right: 16px;
}
