html, body, .Main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
        -webkit-font-smoothing: antialiased;

}

.Main, .items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    margin-top: 20px;
    font-size: 42px;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}

.items {
    height: 500px;
    width: 300px;
    border: 1px solid #bdc3c7;
}

.list-item {
    border-bottom: 1px solid #bdc3c7;
}

.gray .ListItemMenu-options button {
    font-size: 14px;
    white-space: nowrap;
    color: rgb(100, 100, 100);
}

.gray .ListItemMenu-options button .dot {
    background-color: rgb(100, 100, 100);
}

.isOpened.right-side.gray .ListItemMenu-content {
    border-right: 1px solid #bdc3c7;
}

.isOpened.left-side.gray .ListItemMenu-content {
    border-left: 1px solid #bdc3c7;
}

.archive {
    background-color: #2C82C9;
}

.delete {
    background-color: #e74c3c;
}

.more {
    background-color: #9E9D9B;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.move {
    background-color: #5659C9;
}

.pin {
    background-color: #2CC990;
}

.ListItemMenu-content {
    text-indent: 6px;
}