<html>
<head>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="text/montage-serialization">
{
    "button1": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button1"},
            "identifier": "button1"
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "owner"}
            }
        ]
    },


    "button2": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button2"}
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "owner"}
            }
        ]
    },

    "button3": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button3"},
            "identifier": "button3"
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "owner"}
            }
        ]
    },

    "copy": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "copy"}
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "logger"}
            }
        ]
    },
    "cut": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "cut"}
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "logger"}
            }
        ]
    },
    "paste": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "paste"}
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "logger"}
            }
        ]
    },



    "logger": {
        "module": "logger.reel",
        "name": "Logger",
        "properties": {
            "element": {"#": "logger"}
        }
    },

    "owner": {
        "module": "components/button-example.reel",
        "name": "ButtonExample",
        "properties": {
            "element": {"#": "buttontest"},
            "logger": {"@": "logger"}
        }
    }
}
    </script>

    <style>

        .button-example .montage-button.text, .button-example .montage-button.submit, .button-example .montage-button.cancel {
            line-height: 32px;
            padding: 2px 24px 0 24px;
            font-size: 1.1em;
            height: 32px;
        }

        .eventlog {
            margin-top: 10px;
        }

        .settings:before {
            content: url(images/settings.png);
            vertical-align: middle;
            display: inline-block;
            padding-right: 0.5em;
        }

    </style>
</head>
<body>
    <div id="buttontest" class="button-example">
        <div class="row">
            <div class="span8">
                <h3>Button</h3>
                <p class="">
                        The Button component converts a &lt;div&gt; or &lt;input&gt; element into a styled, clickable button. It supports three behavior modes (transient, toggle, and mixed) for different uses. You can different assign labels to different button states.
                    </p>
            </div>
        </div>

        <h4>Demo</h4>
        
        <div class="demo">
            
            <p>Default Button with an identifier to link it to an action handler</p>
            <button class="text btn" id="button1">Click Me</button>
                
            <p>Submit Button without a specific handler. In this case, handleAction will be called on action.</p>
            <input type="submit" class="btn submit" id="button2" value="I am a Submit Button"/> 
            
            <p>Cancel Button with a specific handler - handleButton3Action</p>
            <div class="btn cancel" id="button3">I am a Cancel Button</div>  
            
            <h4>Button group</h4>

            <p>Putting buttons in a group is a matter of wrapping the buttons in an
            element and giving it a class.</p>

            <div class="btn-group">
                <button class="btn" id="copy">Copy</button>
                <button class="btn" id="cut">Cut</button>
                <button class="btn" id="paste">Paste</button>
            </div> 

            <h4>Image</h4>

            <p>It is recommended that images are added to buttons using CSS, either by
            setting a background image, or by using the <code>:before</code> and
            <code>:after</code> pseudo elements with the <code>content</code>
            property, as follows:</p>

            <button class="btn settings" id="image">Settings</button>
            
        </div>

        <section>
            <a href="m-js/examples/sink/components/button-example.reel" target="_blank">View Demo Source</a>
        </section>


        <section>
            <h4>Component Properties</h4>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>tabs</td>
                    <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                  </tr>
                <tr>
                  <td>content</td>
                  <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                </tr>
                <tr>
                  <td>selectedTab</td>
                  <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                </tr>
                <tr>
                  <td>selectedTabValue</td>
                  <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                </tr>
                
              </tbody>
            </table>
            <p>
                <a href="" target="_blank">View full Documentation</a>
            </p>
        </section>


        <section>
            <h4>Handling Button Click/Touch Events</h4>
            <p>To setup a handler for a Button, implement a function with the following naming convention:
            <pre class="prettyprint">"handle" + &lt; button Identifier capitalized &gt; + "Action"</pre>
            </p>
            <p>
                Eg: for button with identifier = "button1":
            </p>

<pre class="prettyprint linenums">
handleButton1Action: {
    value: function() {
        this.log("Button - button1 - clicked");
    }
}
</pre>

        </section>


        <section>
            

            <div id="logger">
                <h2>Logger</h2>
            </div>
        </section>
    </div>
</body>
</html>
