/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.montage-tabs {
    position: relative;
    display: inline-block;
    border-radius: 26px;

    background-color: #ccc;
    -webkit-box-shadow: rgba(255, 255, 255, .7) 0 1px 0, inset rgba(0, 0, 0, .3) 0 1px 3px;
}

.montage-tabs-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 48px;
    margin: 2px;
    padding: 0px 10px;
    border-radius: 24px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fff), color-stop(100%, #e6e6e6));
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 1px 3px;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.4, 0, 0.3, 1);

}

.montage-tabs-list {
    padding: 0;
    margin: 0;
    position: relative;
}

.montage-tabs-list li {
    display: inline-block;
    line-height: 46px;
    margin: 3px 15px;

    padding: 0 10px;
    border-radius: 26px;
    font-family: 'AGBuchBQRegular', Helvetica, sans-serif;
    font-size: 18px;
    color: #555;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
    -webkit-transition: color .5s linear;
}

.montage-tabs-list li.selected {
    color: #333;
    margin: 2px;
    padding: 0px 10px;
    border-radius: 24px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fff), color-stop(100%, #e6e6e6));
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 1px 3px;
    -webkit-transition: background .5s linear; 
}

.montage-tabs-list li img {
    margin-bottom: -2px; /* based on 16px icons */
    opacity: .5;
    -webkit-transition: opacity .5s linear;
}

.montage-tabs-list li.selected img {
    opacity: 1;
}

.montage-tabs-list li span {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* states */

.montage-tabs-list li.pressed {
    background-color: #aaa;
    -webkit-box-shadow: rgba(255, 255, 255, .2) 0 1px 0, inset rgba(0, 0, 0, .1) 0 2px 5px;
    -webkit-transition: background-color .15s ease-out;
}

/* ----------------------- Small ----------------------- */

/* tab width: 70px */

.montage-tabs.small .montage-tabs-indicator {
    height: 27px;
}

.montage-tabs.small .montage-tabs-list li {
    padding: 0 10px;
    line-height: 25px;

    font-size: 12px;
}

/* ----------------------- Dark theme ----------------------- */

.montage-tabs.dark {
    background-color: #404040;
    -webkit-box-shadow: rgba(255, 255, 255, .25) 0 1px 0, inset rgba(0, 0, 0, .3) 0 1px 3px;
}

.montage-tabs.dark .montage-tabs-indicator {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #767676), color-stop(100%, #5c5c5c));

}

.montage-tabs.dark .montage-tabs-list li {
    color: #bbb;
}

.montage-tabs.dark .montage-tabs-list li.selected {
    color: #333;
}

/* states */

.montage-tabs.dark .montage-tabs-list li.pressed {
    background-color: #333;
    -webkit-box-shadow: rgba(255, 255, 255, .05) 0 1px 0, inset rgba(0, 0, 0, .1) 0 2px 5px;
}
