/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-Button {
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
    height: 2.5em;
    min-width: 2.5em;
    margin: 0 2px;
    padding: 0 1em;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    background-color: #f2f2f2;
    cursor: pointer;
}

/* States */
.montage-Button:hover {
    background-color: #ffffff;
}

.montage-Button:active {
    background-color: #e5e5e5;
}

.montage-Button:focus {
    border-color: #7f7f7f;
}
