/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
/* these need to be moved to montage.css when that is created */
.montage-invisible {
    display: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


.montage-off-left {
    position: absolute;
    top: 0px;
    left: -10000px;
}

.montage-popup-modal-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.8;
}

.montage-popup-container {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #556270;

}

.montage-popup-noborder {
    border: 0px;
}

.montage-modal {
    border: 3px solid #ccc;
}

.montage-popup-container *:focus {
    outline: none;
}

.montage-popup-wrapper {

}

.montage-popup-header {
    background-color: whitesmoke;
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
}
.montage-popup-footer {
    background-color: whitesmoke;
    padding: 10px 15px;
    border-top: 1px solid #ddd;

}
