<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Image Example</title>
    <script type="text/montage-serialization">
{
    
    "places": {
        "name": "ArrayController",
        "module": "montage/ui/controller/array-controller",
        "properties": {
            "selectObjectsOnAddition": true,
            "automaticallyOrganizeObjects": true
        },
        "bindings": {
            "content": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "places",
                "oneway": true
            }
        }
    },
    
    "repetition1": {
        "module": "montage/ui/repetition.reel",
        "name": "Repetition",
        "properties": {
            "element": {
                "#": "repetition"                
            },
            "isSelectionEnabled": true,
            "contentController": {"@": "places"},
            "orientation": "vertical"
        }
    },
    
    "thumb": {
        "module": "montage/ui/image.reel",
        "name": "Image",
        "properties": {
            "element": {"#": "thumb"}
        },
        "bindings": {
            "src": {
                "boundObject": {"@": "repetition1"},
                "boundObjectPropertyPath": "objectAtCurrentIteration.src",
                "oneway": true
            }
        }
    },
    
    "title": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "title"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "repetition1"},
                "boundObjectPropertyPath": "objectAtCurrentIteration.title",
                "oneway": true
            }
        }
    },
    
    "owner": {
        "module": "components/image-example.reel",
        "name": "ImageExample",
        "properties": {
            "element": {"#": "example-root"},
            "places": [
            {"src": "images/IMG_1.jpg", "title": "Title One"},
            {"src": "images/IMG_2.jpg", "title": "Title Two"},
            {"src": "images/IMG_3.jpg", "title": "Title Three"}
            ]      
        }
    }
}
    </script>
    
    <style>
        .repetition .thumb {
            width: 96px;
            height: 96px;
            border: 5px solid #fff;
            
        }

        .repetition {
            height: 400px;
            width: 400px;            
        }
        .repetition .item {
            border: 1px solid #fff;
        }
        .repetition .selected {
            border: 1px solid #FE4365;
        }
        
        .repetition .title {
            display: inline-block;
            vertical-align: top;
        }

    </style>


</head>
<body>
    <div id="example-root">
        
        <div class="row">
            <div class="span8">
                <h3>Repetition</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat nisi et ante consequat sit amet feugiat nisl vehicula. In fringilla felis vitae dolor dictum et faucibus quam pellentesque. Aenean in enim mi, et volutpat urna. Nunc ac orci nec mi euismod cursus id in odio.
                    </p>
            </div>
        </div>
        
        <div class="row">
            <div class="span8">
                <div class="repetition" id="repetition">
                    <div class="item">
                        <img id="thumb" class="thumb" /> 
                        <h3 id="title" class="title"></h3>                  
                    </div>
                </div>            
            </div>
        </div>
        
        <section>
            <h6>Serialization</h6>
            
            1) Define the ArrayController that holds the data for the repetition
            
<pre class="prettyprint linenums">
    "places": {
        "name": "ArrayController",
        "module": "montage/ui/controller/array-controller",
        "properties": {
            "selectObjectsOnAddition": true,
            "automaticallyOrganizeObjects": true
        },
        "bindings": {
            "content": {
                "boundObject": {"@": "owner"},
                "boundObjectPropertyPath": "places",
                "oneway": true
            }
        }
    },
</pre>
    
    2) Define the Repetition and set the contentController

<pre class="prettyprint linenums">
    
    "repetition1": {
        "module": "montage/ui/repetition.reel",
        "name": "Repetition",
        "properties": {
            "element": {
                "#": "repetition"                
            },
            "isSelectionEnabled": true,
            "contentController": {"@": "places"},
            "orientation": "vertical"
        }
    },
</pre>
    
    3) Define the binding for the thumbnail for each row in the repetition. The "objectAtCurrentIteration" is used to specify the current Object during the iteration.

<pre class="prettyprint linenums">
    "thumb": {
        "module": "montage/ui/image.reel",
        "name": "Image",
        "properties": {
            "element": {"#": "thumb"}
        },
        "bindings": {
            "src": {
                "boundObject": {"@": "repetition1"},
                "boundObjectPropertyPath": "objectAtCurrentIteration.src",
                "oneway": true
            }
        }
    },
    
</pre>
        </section>
        
        <section>
            <h6>HTML Markup</h6>
            <pre class="prettyprint linenums">
            &lt;div class=&quot;repetition&quot; id=&quot;repetition&quot;&gt;<br/>                    &lt;div class=&quot;item&quot;&gt;<br/>                        &lt;img id=&quot;thumb&quot; class=&quot;thumb&quot; /&gt; <br/>                        &lt;h3 id=&quot;title&quot; class=&quot;title&quot;&gt;&lt;/h3&gt;                  <br/>                    &lt;/div&gt;<br/>                &lt;/div&gt;
            </pre>
        </section>
        

    </div>

</body>
</html>
