.main {
    text-align: center;
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.container,
.stack {
    width: 375px;
    height: 667px;
    margin: 0 20px 0 20px;
}

.container {
    border: 1px lightgray solid;
}

.stack {
    text-align: left;
}

.stack .top::after,
.stack .previous::after,
.stack .first::after {
    font-size: 0.8em;
    padding-left: 10px;
}

.stack li {
    font-family: monospace;
}

.stack .top::after {
    content: "top";
    color: green;
}

.stack .previous::after {
    content: "previous";
    color: orange;
}

.stack .first::after {
    content: "first";
    color: gray;
}

.overflow-hidden {
    overflow: hidden;
}

.transform-start {
    -webkit-transition: all .75s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .75s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: .5;
}

.transform-end {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.transform-build-out {
    -webkit-transition: all .75s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .75s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translateX(-100%);
    transform: translateX(100%);
    opacity: .5;
}

.animated {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}

.montage-transition-parent {
    position: relative;
}

.montage-transition-child {
    position: absolute;
}
