.employee-editor .field {
    padding: 4px 16px;
    padding: .25rem 1rem;
    height: 32px;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.employee-editor .buttons {
    display: flex;
    justify-content: space-around;
}

.employee-editor .button {
    color: white;
    width: 72px;
    width: 4.5rem;
    text-align: center;
    padding: 4px 0;
    padding: .25rem 0;
    margin: 16px 0;
    margin: 1rem 0;
}

.employee-editor .button.save {
    background: #0076FF;
}

.employee-editor .button.cancel {
    background: #FE3824;
}

.employee-editor .button[disabled] {
    opacity: 0.5;
}
