<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script type="text/montage-serialization">{
        "owner": {
            "prototype": "reel/template/delegate-methods",
            "properties": {
                "name": "owner"
            }
        },

        "one": {
            "prototype": "reel/template/delegate-methods",
            "properties": {
                "name": "one"
            }
        },

        "two": {
            "prototype": "reel/template/delegate-methods",
            "properties": {
                "name": "two"
            }
        }
    }</script>
</head>
<body>
</body>
</html>