<!doctype html>
<html>
<head>
    <title>Template</title>
    <script type="text/javascript" src="../../../montage.js" data-package="../../"></script>
    <script type="text/montage-serialization">{

            "externalserialization": {
                "prototype": "reel/template/externalserialization.reel[ExternalSerialization]",
                "properties": {
                    "element": {"#": "externalserialization"}
                }
            },
            "componentslowstyle1": {
                "prototype": "reel/template/componentslowstyle.reel[ComponentSlowStyle]",
                "properties": {

                }
            },
            "reeltest1": {
                "prototype": "reel/template/template-test",
                "properties": {
                    "text": "This is some text",
                    "array": [
                        "This",
                        "is",
                        "an",
                        "array"
                    ],
                    "slowstyle": {"@": "componentslowstyle1"},
                    "script": {"@": "componentscript1"},
                    "template": {"@": "componenttemplate"},
                    "daughter": {"@": "componentdaughter"},
                    "granddaughter": {"@": "componentgranddaughter"},
                    "granddaughtersister": {"@": "componentgranddaughtersister"}
                }
            },
            "actioneventlistener1": {
                "prototype": "montage/core/event/action-event-listener",
                "properties": {
                    "handler": {"@": "reeltest1"},
                    "action": "listener"
                }
            },
            "textfield1": {
                "prototype": "reel/template/textfield.reel[TextField]",
                "properties": {
                    "element": {"#": "textfield0"}
                },
                "bindings": {
                    "text": {"<<->": "@reeltest1.text"}
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "actioneventlistener1"},
                        "capture": false
                    }
                ]
            },
            "componenty1": {
                "prototype": "reel/template/componenty.reel[ComponentY]",
                "properties": {
                    "element": {"#": "content1"}
                }
            },
            "textfield2": {
                "prototype": "reel/template/textfield.reel[TextField]",
                "properties": {
                    "element": {"#": "textfield3"},
                    "text": "X here"
                }
            },
            "componentx1": {
                "prototype": "reel/template/componentx.reel[ComponentX]",
                "properties": {
                    "element": {"#": "content2"},
                    "textfield": {"@": "textfield2"}
                }
            },
            "componentstyle1": {
                "prototype": "reel/template/componentstyle.reel[ComponentStyle]",
                "properties": {
                    "element": {"#": "componentstyle"}
                }
            },
            "componentscript1": {
                "prototype": "reel/template/componentscript.reel[ComponentScript]",
                "properties": {
                    "element": {"#": "componentscript1"}
                }
            },
            "componentscript2": {
                "prototype": "reel/template/componentscript.reel[ComponentScript]",
                "properties": {
                    "element": {"#": "componentscript2"}
                }
            },
            "componenttemplate": {
                "prototype": "reel/template/componenttemplate.reel[ComponentTemplate]",
                "properties": {
                    "element": {"#": "componenttemplate"}
                }
            },
            "componentson": {
                "prototype": "reel/template/componentson.reel[ComponentSon]",
                "properties": {
                    "element": {"#": "componentson"}
                }
            },
            "componentdaughter": {
                "prototype": "reel/template/componentdaughter.reel[ComponentDaughter]",
                "properties": {
                    "element": {"#": "componentdaughter"}
                }
            },
            "componentgranddaughter": {
                "prototype": "reel/template/componentgranddaughter.reel[ComponentGranddaughter]",
                "properties": {
                    "element": {"#": "componentgranddaughter"}
                }
            },
            "componentgranddaughtersister": {
                "prototype": "reel/template/componentgranddaughter.reel[ComponentGranddaughter]"
            },
            "application": {
                "prototype": "montage/ui/application",
                "properties": {
                    "delegate": {"@": "reeltest1"}
                }
            }
        
    }</script>

    <style>
        h2 {
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
    <h2>Component</h2>
    <span id="textfield0" class="textfield0"></span>

    <h2>Static Component Composition (SCC)</h2>
    <div id="content1" class="content1"></div>

    <h2>Dynamic Component Composition (DCC)</h2>
    <div id="content2" class="content2">
        <span id="textfield3" class="textfield3"></span>
    </div>

    <h2>Styled Component</h2>
    <div id="componentstyle" class="componentstyle"></div>

    <h2>Slow Styled Component</h2>
    <div id="componentslowstyle" class="componentslowstyle"></div>

    <div id="componentscript1" class="componentscript1"></div>
    <div id="componentscript2" class="componentscript2"></div>

    <div id="externalserialization" class="externalserialization"></div>
    
    <div id="componenttemplate" class="componenttemplate"></div>

    <div id="componentson" class="componentson"></div>

    <div data-montage-id="componentdaughter" class="componentdaughter"></div>
    <div data-montage-id="componentgranddaughter" class="componentgranddaughter"></div>
    <div data-montage-id="componentgranddaughtersister" class="componentgranddaughtersister"></div>
</body>
</html>
