.ListItemMenu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

.ListItemMenu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    transform: translate3d(-100%, 0, 0);
}

.ListItemMenu-zone {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    visibility: visible;;
}

.ListItemMenu-zone.hide {
    visibility: hidden;
}

.ListItemMenu-zone.right.has-reach-end button {
    background-color: transparent;
    animation: text-align-left .25s forwards;
}

.ListItemMenu-zone.left.has-reach-end button {
    background-color: transparent;
    animation: text-align-right .25s forwards;
}


@keyframes text-align-left {
  0%, 10% {
      transform: translateX(0%);
  }
  90%, 100% {
      transform: translateX(-40%);
  }
}

@keyframes text-align-right {
  0%, 10% {
      transform: translateX(0%);
  }
  90%, 100% {
      transform: translateX(40%);
  }
}



.ListItemMenu-options,
.ListItemMenu-content {
    display: flex;
    flex: 1;
    align-items: center;
}

.ListItemMenu-options button {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    color: white;
    outline: none;
    text-decoration: none;
    text-align: center;
}

.ListItemMenu-zone.left .ListItemMenu-options {
    justify-content: flex-end;
}

.ListItemMenu-zone.right .ListItemMenu-options {
    justify-content: flex-start;
}
