<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">
            {
                "owner": {
                    "module": "components/input-text-example.reel",
                    "name": "InputTextExample",
                    "properties": {
                        "element": {"#": "input-text-example"}
                    }
                },

                "text1": {
                    "module": "montage/ui/textfield.reel",
                    "name": "Textfield",
                    "properties": {
                        "element": {"#": "text1"},
                        "value": "Enter some text..."
                    }
                },

                "echo1": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "echo1"}
                    },
                    "bindings": {
                        "value": {
                            "boundObject": {"@": "text1"},
                            "boundObjectPropertyPath": "value"
                        }
                    }
                },

                "textarea1": {
                    "module": "montage/ui/TextArea.reel",
                    "name": "TextArea",
                    "properties": {
                        "element": {"#": "textarea1"},
                        "value": "Enter some text..."
                    }
                },
                "echo2": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "echo2"}
                    },
                    "bindings": {
                        "value": {
                            "boundObject": {"@": "textarea1"},
                            "boundObjectPropertyPath": "value"
                        }
                    }
                }
            }
        </script>

        <style>

        </style>
    </head>
    <body>
        <div id="input-text-example" class="input-text-example">
            <div class="row">
                <div class="span8">
                    <h3>Textfield</h3>
                    <p>
                        The Textfield component wraps an HTML <code>&lt;input&gt;</code> text field. The example uses <a href="http://tetsubo.org/docs/montage/data-binding/" target="_blank">data binding</a> to echo the text you enter in a <code>&lt;p></code> element, which is used to represent a DynamicText component.
                    </p>
                </div>
            </div>

            <input type="text" id="text1" />
            <p id="echo1"></p>

<h6>HTML</h6>
 <pre class="prettyprint">
&lt;input type="text" id="text1" /&gt;
&lt;p id="echo1"&gt;&lt;/p&gt;
</pre>

<h6>Serialization</h6>
<pre class="prettyprint">
"text1": {
    "module": "montage/ui/textfield.reel",
    "name": "Textfield",
    "properties": {
        "element": {"#": "text1"},
        "value": "Enter some text..."
    }
},

"echo1": {
    "module": "montage/ui/dynamic-text.reel",
    "name": "DynamicText",
    "properties": {
        "element": {"#": "echo1"}
    },
    "bindings": {
        "value": {
            "boundObject": {"@": "text1"},
            "boundObjectPropertyPath": "value"
        }
    }
}
</pre>

            <div class="row">
                <div class="span8">
                    <h3>TextArea</h3>
                    <p>
                        The TextArea component wraps an HTML <code>&lt;textarea></code> element.
                    </p>
                </div>
            </div>

            <textarea id="textarea1"></textarea>
            <p id="echo2"></p>

            <h6>HTML</h6>
            <pre class="prettyprint">
&lt;textarea id="textarea1"&gt;&lt;/textarea&gt;
&lt;p id="echo2"&gt;&lt;/p&gt;
        </pre>

            <h6>Serialization</h6>
            <pre class="prettyprint linenums">
"textarea1": {
    "module": "montage/ui/TextArea.reel",
    "name": "TextArea",
    "properties": {
        "element": {"#": "textarea1"}
        "value": "Enter some text..."
    }
},
"echo2": {
    "module": "montage/ui/dynamic-text.reel",
    "name": "DynamicText",
    "properties": {
        "element": {"#": "echo2"}
    },
    "bindings": {
        "value": {
            "boundObject": {"@": "textarea1"},
            "boundObjectPropertyPath": "value"
        }
    }
}
            </pre>

    </body>
</html>
