<!DOCTYPE html>
<html>
    <head>
        <title>Button Group Sandbox</title>
        <script type="text/montage-serialization">
{

    "logger": {
        "module": "logger.reel",
        "name": "Logger",
        "properties": {
            "element": {"#": "logger"}
        }
    },

    "owner": {
        "module": "components/toggle-button-example.reel",
        "name": "ButtonGroupExample",
        "properties": {
            "element": {"#": "toggle-button-example"}
        }
    }
}
    </script>

    </head>

    <body>
        <div id="toggle-button-example">
            <div class="row ">
                <div class="span8">
                    <h3>Toggle Button</h3>
                    <p class="">
                        The Toggle Button can switch between a pressed and unpressed state.
                    </p>
                </div>
            </div>
        </div>

        <div id="logger">
            <h2>Logger</h2>
        </div>


        </div>
    </body>
</html>