<!DOCTYPE html>
<html>
    <head>
        <title>Button Group Sandbox</title>
        <script type="text/montage-serialization">
{
    "bold": {
        "module": "montage/ui/toggle-button.reel",
        "name": "ToggleButton",
        "properties": {
            "element": {"#": "bold"},
            "pressedClass": "active"
        }
    },
    "toggle": {
        "module": "montage/ui/toggle-switch.reel",
        "name": "ToggleSwitch",
        "properties": {
            "element": {"#": "toggle"}
        }
    },
    "italic": {
        "module": "montage/ui/toggle-button.reel",
        "name": "ToggleButton",
        "properties": {
            "element": {"#": "italic"},
            "pressedClass": "active"
        }
    },
    "underline": {
        "module": "montage/ui/toggle-button.reel",
        "name": "ToggleButton",
        "properties": {
            "element": {"#": "underline"},
            "pressedClass": "active"
        }
    },
    "display": {
        "module": "components/style-element.reel",
        "name": "StyleElement",
        "properties": {
            "element": {"#": "display"}
        },
        "bindings": {
            "bold": {
                "boundObject": {"@": "bold"},
                "boundObjectPropertyPath": "pressed",
                "oneway": true
            },
            "italic": {
                "boundObject": {"@": "italic"},
                "boundObjectPropertyPath": "pressed",
                "oneway": true
            },
            "underline": {
                "boundObject": {"@": "underline"},
                "boundObjectPropertyPath": "pressed",
                "oneway": true
            }
        }
    },

    "values": {
        "module": "montage/ui/toggle-button.reel",
        "name": "ToggleButton",
        "properties": {
            "element": {"#": "values"},
            "pressed": true,
            "pressedClass": "active",
            "pressedLabel": "On",
            "unpressedLabel": "Off"
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "logger"}
            }
        ]
    },

    "logger": {
        "module": "logger.reel",
        "name": "Logger",
        "properties": {
            "element": {"#": "logger"}
        }
    },

    "owner": {
        "module": "components/toggle-button-example.reel",
        "name": "ButtonGroupExample",
        "properties": {
            "element": {"#": "toggle-button-example"},
            "display": {"@": "display"}
        }
    }
}
    </script>
    <style type="text/css">
        .font-styles button {
            height: 2.5em;
            width: 3em;
        }
    </style>
    </head>
    <body>
        <div id="toggle-button-example">
            <div class="row ">
                <div class="span8">
                    <h3>Toggle Button</h3>
                    <p class="">
                        The Toggle Button can switch between a pressed and unpressed state.
                    </p>
                </div>
            </div>

            <div class="btn-group font-styles" style="display: inline-block">
                <button class="btn font-styles" id="bold" style="font-weight: bold;">B</button>
                <button class="btn font-styles" id="italic" style="font-family: serif; font-style: italic;">I</button>
                <button class="btn font-styles" id="underline" style="text-decoration: underline;">U</button>
            </div>
            <div><input type="text" id="display" value="This is some example text"></div>

            <h6>HTML</h6>
            <pre class="prettyprint">html here</pre>

            <h6>Serialization</h6>
            <pre class="prettyprint">serialization here</pre>

            <h4>Different pressed and unpressed values</h4>

            <button class="btn" style="width: 5em" id="values"></button>

            <h6>HTML</h6>
            <pre class="prettyprint">html here</pre>

            <h6>Serialization</h6>
            <pre class="prettyprint">serialization here</pre>

            <h3>Toggle Switch</h3>
            <p><div id="toggle"></div></p>

            <div id="logger">
                <h2>Logger</h2>
            </div>
        </div>
    </body>
</html>
