<!DOCTYPE html>
<html>
    <head>
        <title>Button Group Sandbox</title>
        <script type="text/montage-serialization">{

    "bold": {
        "prototype": "montage/ui/toggle-button.reel",
        "properties": {
            "element": {"#": "bold"},
            "pressedClass": "active"
        }
    },
    "toggle": {
        "prototype": "montage/ui/toggle-switch.reel",
        "properties": {
            "element": {"#": "toggle"}
        }
    },
    "italic": {
        "prototype": "montage/ui/toggle-button.reel",
        "properties": {
            "element": {"#": "italic"},
            "pressedClass": "active"
        }
    },
    "underline": {
        "prototype": "montage/ui/toggle-button.reel",
        "properties": {
            "element": {"#": "underline"},
            "pressedClass": "active"
        }
    },
    "display": {
        "prototype": "components/style-element.reel",
        "properties": {
            "element": {"#": "display"}
        },
        "bindings": {
            "bold": {"<-": "@bold.pressed"},
            "italic": {"<-": "@italic.pressed"},
            "underline": {"<-": "@underline.pressed"}
        }
    },
    "displayStyle": {
        "prototype": "montage/ui/input-text.reel",
        "properties": {
            "element": {"#": "display"}
        }
    },    

    "values": {
        "prototype": "montage/ui/toggle-button.reel",
        "properties": {
            "element": {"#": "values"},
            "pressed": true,
            "pressedClass": "success",
            "pressedLabel": "On",
            "unpressedLabel": "Off"
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "logger"}
            }
        ]
    },

    "toggleAccordion1": {
        "prototype": "accordion.reel",
        "properties": {
            "element": {"#": "toggleAccordion1"}
        }
    },
    "toggleAccordion2": {
        "prototype": "accordion.reel",
        "properties": {
            "element": {"#": "toggleAccordion2"}
        }
    },
    "toggleAccordion3": {
        "prototype": "accordion.reel",
        "properties": {
            "element": {"#": "toggleAccordion3"}
        }
    },

    "logger": {
        "prototype": "logger.reel",
        "properties": {
            "element": {"#": "logger"}
        }
    },

    "owner": {
        "prototype": "components/toggle-button-example.reel[ButtonGroupExample]",
        "properties": {
            "element": {"#": "toggle-button-example"},
            "display": {"@": "display"}
        }
    }

    }</script>
    <style type="text/css">
        .values-btn {
            background-color: hsl(0,100%,82%);
        }
        .values-btn:hover {
            background-color: hsl(0,100%,84%);
        }
        .values-btn.montage-button:active {
            background-color: hsl(0,100%,80%);
        }
        .values-btn.success {
            background-color: hsl(100,100%,80%);
        }
        .values-btn.success:hover {
            background-color: hsl(100,100%,88%);
        }
        .values-btn.success:active {
            background-color: hsl(100,90%,80%);
        }
    </style>
    </head>
    <body>
        <div data-montage-id="toggle-button-example">
            <div class="row ">
                <div class="span12">
                    <h3>Toggle Button</h3>
                    <p class="">
                        The ToggleButton component exposes can switch between pressed and unpressed state.
                    </p>
                </div>
            </div>

            <h4>Demo</h4>

            <div class="demo demo1">

                <div class="app">
                    <div class="montage-buttonGroup font-styles" style="margin-bottom: 10px;">
                        <button class="font-styles" data-montage-id="bold" style="font-weight: bold;">B</button>
                        <button class="font-styles" data-montage-id="italic" style="font-family: serif; font-style: italic;">I</button>
                        <button class="font-styles" data-montage-id="underline" style="text-decoration: underline;">U</button>
                    </div>
                    <input type="text" data-montage-id="display" value="This is some example text" />
                </div>
            </div>

            <section>
                       <ul data-montage-id="toggleAccordion1" class="accordion">
                            <li class="accordion-group">
                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                                <div class="accordion-inner montage-hidden" >
                                    <p>This example's markup defines three <code>&lt;button></code> elements.</p>
                                    <pre class="prettyprint" >
&lt;div class="montage-buttonGroup font-styles"&gt;
    &lt;button class="font-styles" data-montage-id="bold"&gt;B&lt;/button&gt;
    &lt;button class="font-styles" data-montage-id="italic" &gt;I&lt;/button&gt;
    &lt;button class="font-styles" data-montage-id="underline" &gt;U&lt;/button&gt;
&lt;/div&gt;
&lt;input type="text" data-montage-id="display" value="This is some example text"&gt;
</pre>
                                </div>
                            </li>
                            <li class="accordion-group">
                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                                <div class="accordion-inner montage-hidden">
                                     <p>The serialization associates each of the three <code>&lt;button></code> elements with the ToggleButton </p>
                                        <pre class="prettyprint" >
{
   "bold": {
        "prototype": "montage/ui/toggle-button.reel",
        "properties": {
            "element": {"#": "bold"},
            "pressedClass": "active"
        }
    },
    "italic": {
        "prototype": "montage/ui/toggle-button.reel",
        "properties": {
            "element": {"#": "italic"},
            "pressedClass": "active"
        }
    },
    "underline": {
        "prototype": "montage/ui/toggle-button.reel",
        "properties": {
            "element": {"#": "underline"},
            "pressedClass": "active"
        }
    },
    "display": {
        "prototype": "components/style-element.reel",
        "properties": {
            "element": {"#": "display"}
        },
        "bindings": {
            "bold": {"&lt;-": "@bold.pressed"},
            "italic": {"&lt;-": "@italic.pressed"},
            "underline": {"&lt;-": "@underline.pressed"}
        }
    }
}
                </pre>

                                </div>
                            </li>
                            <li class="accordion-group">
                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">JavaScript: StyleElement</a></div>
                                <div class="accordion-inner montage-hidden">
                                    <pre class="prettyprint">
var Montage = require("montage/core/core").Montage,
    Component = require("montage/ui/component").Component;

exports.StyleElement = Montage.create(Component, {
    hasTemplate: {value: false},

    _bold: {
        value: false
    },
    bold: {
        get: function() {
            return this._bold;
        },
        set: function(val) {
            this._bold = !!val;
            this.needsDraw = true;
        }
    },
    _underline: {
        value: false
    },
    underline: {
        get: function() {
            return this._underline;
        },
        set: function(val) {
            this._underline = !!val;
            this.needsDraw = true;
        }
    },
    _italic: {
        value: false
    },
    italic: {
        get: function() {
            return this._italic;
        },
        set: function(val) {
            this._italic = !!val;
            this.needsDraw = true;
        }
    },

    draw: {
        value: function() {
            this.element.style.fontWeight = (this._bold) ? "bold" : "normal";
            this.element.style.textDecoration = (this._underline) ? "underline" : "none";
            this.element.style.fontStyle = (this._italic) ? "italic" : "normal";
        }
    }
});
                                    </pre>
                                </div>
                            </li>
                        </ul>
            </section>


                <h4>Different pressed and unpressed values</h4>

                <div class="demo demo2 sourceview">
                <div class="app">
                    <button class="values-btn" style="width: 5em" data-montage-id="values"></button>
                </div>
                </div>

                <section>
                                       <ul data-montage-id="toggleAccordion2" class="accordion">
                                            <li class="accordion-group">
                                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                                                <div class="accordion-inner montage-hidden" >
                                                    <pre class="prettyprint">
&lt;button class="values-btn" style="width: 5em" data-montage-id="values"&gt;&lt;/button&gt;
                                                    </pre>
                                                </div>
                                            </li>
                                            <li class="accordion-group">
                                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                                                <div class="accordion-inner montage-hidden">
                                                    <pre class="prettyprint" >
{
    "values": {
        "prototype": "montage/ui/toggle-button.reel",
        "properties": {
            "element": {"#": "values"},
            "pressed": true,
            "pressedClass": "success",
            "pressedLabel": "On",
            "unpressedLabel": "Off"
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "logger"}
            }
        ]
    },
    "logger": {
        "prototype": "logger.reel",
        "properties": {
            "element": {"#": "logger"}
        }
    }
 }
                             </pre>

                                                </div>
                                            </li>
                                            <li class="accordion-group">
                                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">CSS</a></div>
                                                <div class="accordion-inner montage-hidden">
                                                    <pre class="prettyprint" >
.values-btn {
    background-color: hsl(0,100%,82%);
}
.values-btn:hover {
    background-color: hsl(0,100%,84%);
}
.values-btn.montage-button:active {
    background-color: hsl(0,100%,80%);
}
.values-btn.success {
    background-color: hsl(100,100%,80%);
}
.values-btn.success:hover {
    background-color: hsl(100,100%,88%);
}
.values-btn.success:active {
    background-color: hsl(100,90%,80%);
}
                                                    </pre>
                                                </div>
                                            </li>
                                        </ul>

                </section>



                <h3>ToggleSwitch component</h3>
                <p>The ToggleSwitch component provides a styled toggle control common to touch interfaces. This component operates on a standard &lt;div> element, rather than a native HTML control.</p>

                <!-- ToggleSwitch element -->
                <div class="demo">
                    <div data-montage-id="toggle" style="margin-bottom: 5px"></div>
                </div>

                <section>

                                           <ul data-montage-id="toggleAccordion3" class="accordion">
                                                <li class="accordion-group">
                                                    <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                                                    <div class="accordion-inner montage-hidden" >
                                                        <pre class="prettyprint" >
&lt;div data-montage-id="toggle"&gt;&lt;/div&gt;
                                </pre>
                                                    </div>
                                                </li>
                                                <li class="accordion-group">
                                                    <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                                                    <div class="accordion-inner montage-hidden">
                                                        <pre class="prettyprint" >
{
    "toggle": {
        "prototype": "montage/ui/toggle-switch.reel",
        "properties": {
            "element": {"#": "toggle"}
        }
    }
}
                                 </pre>

                                                    </div>
                                                </li>
                                            </ul>


                </section>

            <div data-montage-id="logger">
            </div>
            <section>
                <a href="https://github.com/Motorola-Mobility/montage/tree/v0.11/examples/sink/components/toggle-button-example.reel" target="_blank">View source on GitHub</a>
            </section>
        </div>
    </body>
</html>
