/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
 
div.token-field {
    
    background: white;
    border: 1px solid #bdbdbd;
    padding: 5px 3px;
    box-shadow: 0 2px #f7f7f7;
    -webkit-box-shadow: 0 2px #f7f7f7;
    -moz-box-shadow: 0 2px #f7f7f7;
    
}
div.token-field .token-list {
    display: inline;
}

div.token-field .token-list .active {
    border: 1px solid #ccc;
}

div.token-field .token-list .selected {
    border: 1px solid #000;
}

div.token-field input[type="text"].token-autocomplete {
    background: none;
    border: 0px;
    height: 20px;
    width: 2px;
    padding: 0;
    outline: 0;
    -box-shadow: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
div.token-field input[type="text"].token-autocomplete:focus {
    width: 100%;
    border: 0;
}

div.token-field .autocomplete-wrapper {
    min-width: 40%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
}