/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-token-field {
    background: white;
    border: 1px solid #bdbdbd;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: text;
}

.montage-token-field-list {
    display: inline;
}

.montage-token-field-autocomplete.montage-input-text {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    height: 13px;
    margin: 3px 1px;
    padding: 0;
    outline: 0;
    vertical-align: middle;
    box-shadow: none;
    width: 2px;
}

.montage-token-field-autocomplete:focus {
    width: 80%;
}