/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-loading-panel {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.montage-loading-panel > .loadingIndicator {
    width: 200px;
    margin: 20px;
    display: none; /* disabled for now, because the loading doesn't really look continuos enough. */
}


.montage-loading-panel > .loadingCount {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 50%;
    left: 50%;
    margin: -90px;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    font: 30px/160px "Helvetica Neue", Helvetica, Geneva, sans-serif;
    text-align: center;
    background: hsla(0,0%,0%,.6);
    background: -webkit-radial-gradient( center 33% , hsla(0,0%,0%,.6) 10%, hsla(0,0%,0%,.8) );
    background: -moz-radial-gradient( center 33% , hsla(0,0%,0%,.65) 10%, hsla(0,0%,0%,.8) );
    -webkit-box-shadow: inset 0 0 0 3px hsla(0,0%,0%,.3), 0 0 0 3px hsla(0,0%,100%,.3);
    box-shadow: inset 0 0 0 3px hsla(0,0%,0%,.3), 0 0 0 3px hsla(0,0%,100%,.3);
    overflow: hidden;
}

.montage-loading-panel > .loadingCount > .divider {
    color: hsl(200,100%,50%);
}
