/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

/* disabled for now */
.montage-loading-panel > .loadingIndicator {
    display: none;
}

.montage-loading-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(0,0%,0%);
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.montage-loading-panel > .loadingCount {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font: 40px/200px "Lucida Grande", Lucida, Verdana, sans-serif;
    text-shadow: 0 0px 6px hsla(200,100%,50%,.6);
    -webkit-box-shadow: inset 0px 0px 0 5px  hsl(200,0%,10%);
}

.montage-loading-panel > .loadingCount > .divider {
    color: hsl(200,100%,50%);
}
