<!DOCTYPE html>
{{#copyright}}<!--  {{{copyright}}} -->
{{/copyright}}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{name}}</title>

    <link rel="stylesheet" href="assets/style/style.css" />

    <script src="./node_modules/montage/montage.js"></script>
    <script type="text/montage-serialization">
    {
        "owner": {
            "prototype": "montage/ui/loader.reel"
        }
    }
    </script>
</head>
<body>
    <div class="loading">Loading</div>
</body>
</html>
