/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-google-picasa-carousel {
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
}

.montage-google-picasa-carousel .flow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}