body {
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}


.jasmine_reporter a:visited, .jasmine_reporter a {
  color: #303;
    text-decoration: none;
}

.jasmine_reporter a:hover, .jasmine_reporter a:active {
  color: blue;
}

.run_spec {
  float:right;
  padding-right: 5px;
  font-size: .8em;
  text-decoration: none;
}

.jasmine_reporter {
  margin: 0 5px;
}

.banner {
  color: #303;
  background-color: #fef;
  padding: 5px;
}

.progress {
    width: 100%;
}

.logo {
  float: left;
  font-size: 1.1em;
  padding-left: 5px;
}

.logo .version {
  font-size: .6em;
  padding-left: 1em;
}

.runner.running {
  background-color: yellow;
}

.options {
  text-align: right;
  font-size: .8em;
}

.suite {
  margin: 5px 0;
  padding-left: 1em;
}

.suite.passed {
  background-color: #fff;
}

.suite.failed {
  background-color: #fff;
}

.spec {
  padding-left: 1em;
  clear: both;
}

.spec.failed, .spec.passed, .spec.skipped {
  padding-bottom: 5px;
}

.spec.failed {
  background-color: #fbb;
  border-color: red;
}

.spec.passed {
  background-color: #bfb;
  border-color: green;
}

.spec.skipped {
  background-color: #bbb;
}

.spec {
  font-size: .8em;
}

.messages {
  border-left: 1px dashed gray;
  padding-left: 1em;
  padding-right: 1em;
}

.passed {
  background-color: #cfc;
  display: none;
}

.failed {
  background-color: #fbb;
  display: block !important;

}

.todo {
  background-color: #FFF1A8;
  display: block !important;

}

.skipped {
  color: #777;
  background-color: #eee;
  display: none;
}


/*.resultMessage {*/
  /*white-space: pre;*/
/*}*/

.resultMessage span {
  display: block;
  line-height: 2em;
  color: black;
  padding-left: 4em;
}

.resultMessage .mismatch {
  color: black;
}

.stackTrace {
  white-space: pre;
  font-size: .8em;
  margin-left: 10px;
  max-height: 5em;
  overflow: auto;
  border: 1px inset red;
  padding: 1em;
  background: #eef;
}

.code {
    font-family: Monaco, Courier, MonoSpace;
    line-height: 1.2;

  white-space: pre;
  font-size: 10px;
  margin-left: 10px;
  max-height: 15em;
  overflow: auto;
  padding: .2em;
  background: #eef;
}

.finished-at {
  padding-left: 1em;
  font-size: .6em;
}

.show-passed .passed,
.show-skipped .skipped {
  display: block;
}


#jasmine_content {
  position:fixed;
  right: 100%;
}

.runner {
  border: 1px solid gray;
  display: block;
  margin: 5px 0;
  padding: 2px 0 2px 10px;
}
