.DropOuter {
    height: 400px !important;
    width: 400px !important;
    margin-top: 20px;
}

.DropOuter::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "outer";
}

.Drop.DropOuter.valid-drop-target {
    border: 4px solid #34495e;
    animation: none;
}

.Drop.DropOuter.valid-drop-target.is-empty .drop-placeholder {
    color:#34495e;
    animation: none;
}

.Drop.DropOuter.drag-over.is-empty .drop-placeholder {
    color:#3498db;
    animation: none;
}

.Drop.DropOuter.drag-over {
    border: 4px solid #3498db;
    animation: none;
}
