.firstrun {
    text-align: center;
    margin-top: 100px;
    font-size: 1.6em;
    font-weight: normal;
    color: hsl(200,0%,60%);
}


/* Scroll Bar */

.content ::-webkit-scrollbar {
    -webkit-appearance: none;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: hsl(0,0%,90%);
}

.content ::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-clip: padding-box;
	background-color: hsl(0,0%,80%);
}
