<html>
<head>
    <script type="text/montage-serialization">
    {
        "textfield1": {
            "module": "reel/template/textfield.reel",
            "name": "TextField",
            "properties": {
                "element": {"#": "textfield1"},
                "text": "a component Y textfield"
            }
        },
        "owner": {
            "module": "reel/template/componenty.reel",
            "name": "ComponentY",
            "properties": {
                "element": {"#": "componenty"}
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="componenty">
        <h3>Component Y</h3>
        <div data-montage-id="textfield1"></div>
    </div>
</body>
</html>
