<html>
<head>
    <script type="text/montage-serialization">
    {
        "textfield1": {
            "prototype": "reel/template/input-text.reel[TextField]",
            "properties": {
                "element": {"#": "textfield1"},
                "text": "a component Y textfield"
            }
        },
        "owner": {
            "prototype": "reel/template/componenty.reel[ComponentY]",
            "properties": {
                "element": {"#": "componenty"}
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="componenty">
        <h3>Component Y</h3>
        <div data-montage-id="textfield1"></div>
    </div>
</body>
</html>
