<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="menu-bookmark.css">
        <script type="text/montage-serialization">{

    "textfield1": {
        "module": "montage/ui/textfield.reel",
        "name": "Textfield",
        "properties": {
            "element": {"#": "txt-label"}
        },
        "bindings": {
            "value": {"<<->": "@owner[label]"}
        }
    },
    "button1": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "action-bookmark"},
            "identifier": "Addbookmark"
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "owner"}
            }
        ]
    },
    "button2": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "identifier": "Addandfavorite",
            "element": {"#": "action-bookmark-fav"}
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "owner"}
            }
        ]
    },

    "button3": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "identifier": "ShowActionSheet",
            "element": {"#": "action-bookmark-test"}
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "owner"}
            }
        ]
    },

    "actionsheet": {
        "module": "components/popup/action-sheet.reel",
        "name": "ActionSheet",
        "properties": {
        }
    },

    "owner": {
        "module": "components/popup/menu-bookmark.reel",
        "name": "MenuBookmark",
        "properties": {
            "element": {"#": "menu-container"},
            "actionSheet": {"@": "actionsheet"},
            "btnActionSheet": {"@": "button3"}
        }
    }

    }</script>


    </head>
    <body>
        <div id="menu-container" class="menu-container" >
            <h3 class="title">Bookmark</h3>
            <div class="content">
                <div class="action-container">
                    <button class="btn primary action" id="action-bookmark" style="margin: 10px 0;">Add Bookmark</button>
                    <button class="btn action" id="action-bookmark-fav">Bookmark &amp; Favorite</button>
                    <button class="btn action" id="action-bookmark-test">Show Action Sheet &raquo;</button>
                </div>
                <div class="msg-container">
                    <label>Add a custom label</label>
                    <input id="txt-label" type="text" class="textfield" value="The New York Times - Breaking News" />
                </div>

            </div>
        </div>
    </body>
</html>
