/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-notifier {
    background-color: #333; /*#FFF1A8*/;
    color: #fff;
}

.montage-notifier .montage-notifier-msg {
    padding: 10px 20px;
    text-overflow: ellipsis;
}
