/* @override http://localhost:8082/montage/lab/sandbox/ui/splitter/splitter.reel/splitter.css */

/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-SplitterRow,
.montage-SplitterCol {
    /display: -webkit-box; /* old FlexBox */
    display: -webkit-flexbox;

    box-sizing: border-box;
}

.montage-SplitterRow {
    /-webkit-box-orient: horizontal; /* old FlexBox */
    -webkit-flex-direction: row;
}

.montage-SplitterCol {
    /-webkit-box-orient: vertical; /* old FlexBox */
    -webkit-flex-direction: column;
}


/* Children */

.montage-Splitter-child {
    /-webkit-box-flex: 1; /* old FlexBox */
    -webkit-flex: 1 0 auto;
    box-sizing: inherit;
}





/* Draggable ---------------------------------- */


.montage-SplitterRow.montage-SplitterDraggable,
.montage-SplitterCol.montage-SplitterDraggable {
    padding: 10px;
    background-color: #f2f2f2;
}

/* Reset child that gets used as a new draggable parent */
.montage-SplitterDraggable > .montage-Splitter-child.montage-SplitterDraggable,
.montage-SplitterDraggable > .montage-Splitter-child.montage-SplitterDraggable {
    padding: 0;
}

.montage-SplitterDraggable > .montage-Splitter-child {
    border: 1px solid #b3b3b3;
    background-color: white;
}

/* Reset child that gets used as a new parent */
.montage-SplitterDraggable > .montage-SplitterDraggable {
    border: none;
    background: none;
}


/* Thumb */

.montage-Splitter-thumb {
    -webkit-user-select: none;
    -webkit-user-drag: element;
    opacity: .15;
    background: url(splitter.svg) no-repeat;
}

.montage-Splitter-thumb:hover {
    opacity: .3;
    background-color: hsl(0,0%,70%);
}

.montage-Splitter-thumb:active,
.montage-Splitter-thumb:-webkit-drag {
    opacity: 1;
    background-color: hsl(0,0%,90%);
}

.montage-SplitterRow > .montage-Splitter-thumb {
    width: 10px;
    cursor: col-resize;
    background-position: -45px center;
}

.montage-SplitterCol > .montage-Splitter-thumb {
    height: 10px;
    cursor: row-resize;
    background-position: center -15px;
}
