<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Translate Composer Test</title>
    <script type="text/montage-serialization">
{
    "translate_composer": {
        "prototype": "montage/ui/composer/translate-composer",
        "properties": {
            "component": {"@": "example"},
            "maxTranslateX": 350,
            "maxTranslateY": 150,
            "pointerSpeedMultiplier": -1
        },
        "bindings": {
            "axis": {
                "boundObject": {"@": "axisSelect"},
                "boundObjectPropertyPath": "value",
                "oneway": true
            },
            "hasMomentum": {
                "boundObject": {"@": "checkboxMomentum"},
                "boundObjectPropertyPath": "checked"
            },
            "hasBouncing": {
                "boundObject": {"@": "checkboxBouncing"},
                "boundObjectPropertyPath": "checked"
            }
        }
    },

    "example": {
        "prototype": "montage/ui/dynamic-text.reel",
        "properties": {
            "element": {"#": "example"},
            "value": "Drag me"
        }
    },

    "owner": {
        "prototype": "components/translate-composer-example.reel",
        "properties": {
            "element": {"#": "example-div"},
            "translate_composer": {"@": "translate_composer"},
            "example": {"@": "example"}
        },
        "bindings": {
            "x": {
                "boundObject": {"@": "translate_composer"},
                "boundObjectPropertyPath": "translateX",
                "oneway": true
            },
            "y": {
                "boundObject": {"@": "translate_composer"},
                "boundObjectPropertyPath": "translateY",
                "oneway": true
            }
        }
    },

    "axisSelect": {
        "prototype": "montage/ui/select-input.reel",
        "properties": {
            "element": {"#": "axis"}
        }
    },

    "checkboxMomentum": {
        "prototype": "montage/ui/checkbox.reel",
        "properties": {
            "element": {"#": "checkboxMomentum"},
            "checked": true
        }
    },

    "checkboxBouncing": {
        "prototype": "montage/ui/checkbox.reel",
        "properties": {
            "element": {"#": "checkboxBouncing"},
            "checked": true
        }
    },

    "xvalue": {
        "prototype": "montage/ui/dynamic-text.reel",
        "properties": {
            "element": {"#": "x_value"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "translate_composer"},
                "boundObjectPropertyPath": "translateX"
            }
        }
    },

    "yvalue": {
        "prototype": "montage/ui/dynamic-text.reel",
        "properties": {
            "element": {"#": "y_value"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "translate_composer"},
                "boundObjectPropertyPath": "translateY"
            }
        }
    },
    "translateAccordion1": {
        "module": "accordion.reel",
        "name": "Accordion",
        "properties": {
            "element": {"#": "translateAccordion1"}
        }
    }
}
    </script>

<style type="text/css">
    .wrap {
        position: relative;
        background-color: #CCC;
        width: 450px;
        height: 250px;
        overflow: hidden;
        float: left;
    }
    .mover {
        background: #C00;
        position: absolute;
        width: 100px;
        height: 100px;
        text-align: center;
        color: white;
    }
    .clear { clear: both; }
    .controls div, select {
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .controls label {
        float: none;
    }
</style>

</head>
<body>
        <div id="example-div">
        <div class="row ">
            <div class="span12">
                <h3>TranslateComposer</h3>
                <p class="">
                    The TranslateComposer listens for touch/mouse events on an element or component and then calculates properties based on the mouse movement, such as momentum and bounce. You can then bind these calculated properties to another element or component, such as a slider control, for example.The following example uses the TranslateComposer to drag an element around the screen.
                </p>
            </div>
        </div>
            <div class="demo">
<div class="wrap">
    <div class="mover" data-montage-id="example">Drag me</div>
</div>
<div class="controls">
    Axis:
    <select id="axis" required>
        <option value="both" selected="true">Both</option>
        <option value="horizontal" >Horizontal</option>
        <option value="vertical">Vertical</option>
    </select>
    <div>
        <label for="cb1"><input type="checkbox" data-montage-id="checkboxMomentum" id="cb1" /> Momentum </label>
    </div>
    <div>
        <label for="cb2"><input type="checkbox" data-montage-id="checkboxBouncing" id="cb2" /> Bouncing </label>
    </div>
    <code>translateX: <span id="x_value"></span></code>
    <code>translateY: <span id="y_value"></span></code>
</div><!-- / -->
            <div class="clear"></div>
            </div>
                    <section>
                       <ul id="translateAccordion1" class="accordion">
                            <li class="accordion-group">
                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                                <div class="accordion-inner montage-hidden" >
                                    <pre class="prettyprint" >
&lt;div class="wrap"&gt;
    &lt;div class="mover" data-montage-id="example"&gt;Drag me&lt;/div&gt;
&lt;/div&gt;
&lt;div class="controls"&gt;
    Axis:
    &lt;select id="axis" required&gt;
        &lt;option value="both" selected="true"&gt;Both&lt;/option&gt;
        &lt;option value="horizontal" &gt;Horizontal&lt;/option&gt;
        &lt;option value="vertical"&gt;Vertical&lt;/option&gt;
    &lt;/select&gt;
    &lt;div&gt;
        &lt;label for="cb1"&gt;&lt;input type="checkbox" data-montage-id="checkboxMomentum" id="cb1" /&gt; Momentum &lt;/label&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;label for="cb2"&gt;&lt;input type="checkbox" data-montage-id="checkboxBouncing" id="cb2" /&gt; Bouncing &lt;/label&gt;
    &lt;/div&gt;
    &lt;code&gt;translateX: &lt;span id="x_value"&gt;&lt;/span&gt;&lt;/code&gt;
    &lt;code&gt;translateY: &lt;span id="y_value"&gt;&lt;/span&gt;&lt;/code&gt;
&lt;/div&gt;
                                </pre>
                                </div>
                            </li>
                            <li class="accordion-group">
                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                                <div class="accordion-inner montage-hidden" >
                                    <pre class="prettyprint">
{
    "translate_composer": {
        "module": "montage/ui/composer/translate-composer",
        "name": "TranslateComposer",
        "properties": {
            "component": {"@": "example"},
            "maxTranslateX": 350,
            "maxTranslateY": 150,
            "pointerSpeedMultiplier": -1
        },
        "bindings": {
            "axis": {
                "boundObject": {"@": "axisSelect"},
                "boundObjectPropertyPath": "value",
                "oneway": true
            },
            "hasMomentum": {
                "boundObject": {"@": "checkboxMomentum"},
                "boundObjectPropertyPath": "checked"
            },
            "hasBouncing": {
                "boundObject": {"@": "checkboxBouncing"},
                "boundObjectPropertyPath": "checked"
            }
        }
    },

    "example": {
        "name": "DynamicText",
        "module": "montage/ui/dynamic-text.reel",
        "properties": {
            "element": {"#": "example"},
            "value": "Drag me"
        }
    },

    "owner": {
        "module": "components/translate-composer-example.reel",
        "name": "TranslateComposerExample",
        "properties": {
            "element": {"#": "example-div"},
            "translate_composer": {"@": "translate_composer"},
            "example": {"@": "example"}
        },
        "bindings": {
            "x": {
                "boundObject": {"@": "translate_composer"},
                "boundObjectPropertyPath": "translateX",
                "oneway": true
            },
            "y": {
                "boundObject": {"@": "translate_composer"},
                "boundObjectPropertyPath": "translateY",
                "oneway": true
            }
        }
    },

    "axisSelect": {
        "prototype": "montage/ui/select-input.reel",
        "properties": {
            "element": {"#": "axis"}
        }
    },

    "checkboxMomentum": {
        "prototype": "montage/ui/checkbox.reel",
        "properties": {
            "element": {"#": "checkboxMomentum"},
            "checked": true
        }
    },

    "checkboxBouncing": {
        "prototype": "montage/ui/checkbox.reel",
        "properties": {
            "element": {"#": "checkboxBouncing"},
            "checked": true
        }
    },

    "xvalue": {
        "prototype": "montage/ui/dynamic-text.reel",
        "properties": {
            "element": {"#": "x_value"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "translate_composer"},
                "boundObjectPropertyPath": "translateX"
            }
        }
    },

    "yvalue": {
        "prototype": "montage/ui/dynamic-text.reel",
        "properties": {
            "element": {"#": "y_value"}
        },
        "bindings": {
            "value": {
                "boundObject": {"@": "translate_composer"},
                "boundObjectPropertyPath": "translateY"
            }
        }
    },
    "translateAccordion1": {
        "module": "accordion.reel",
        "name": "Accordion",
        "properties": {
            "element": {"#": "translateAccordion1"}
        }
    }
}
                                    </pre>
                                </div>
                            </li>
                            <li class="accordion-group">
                                <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">CSS</a></div>
                                <div class="accordion-inner montage-hidden" >
                                    <pre class="prettyprint" >
.wrap {
    position: relative;
    background-color: #CCC;
    width: 450px;
    height: 450px;
    overflow: hidden;
    float: left;
}
.mover {
    background: #C00;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
}
                                   </pre>
                                </div>
                            </li>
                        </ul>
                    </section>
</body>
        </div>
</html>