/* @override http://localhost:8082/montage-projects/ui/moviepopup.reel/moviepopup.css */

.moviepopup {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 1024px;
	height: 672px;
	padding-top: 50px;
    background: black;
    -webkit-transform: translate3d( 0, -700px, 0 );
    -webkit-transition: -webkit-transform .3s cubic-bezier(.53, .09, .94, .53);
}

.moviepopup-open {
    -webkit-transform: translate3d( 0, 0px, 0 );
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, .20, .15, 1);
}

.moviepopup .button-close,
.moviepopup .button-close:focus {
    position: absolute;
    top: 6px;
    right: 6px;
    border-color: hsl(0,0%,0%);
    color: hsl(0,0%,60%);
    font-size: 15px;
    font-family: inherit;
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 2px hsla(0,0%,100%,.1);
    background: hsl(0,0%,12%) -webkit-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,0%,.1) );
}

.moviepopup .button-close.active {
    background: hsl(0,0%,10%) -webkit-linear-gradient(top, hsla(0,0%,40%,.1), hsla(0,0%,0%,.1) );
}