/* base */

.common-widget {
    width: 280px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 0px hsla(0,0%,100%,.4), inset 0 -1px 0px hsla(0,0%,0%,.7);

    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.common-widget .badge {
    position: absolute;
    top: 0;
    right: 20px;
    width: 60px;
    height: 20px;

    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px hsla(0,0%,0%,.2);

    border-radius: 0 0 4px 4px;
    background-color: #99a6b2;
    -webkit-box-shadow: inset 0 1px 0px hsla(0,0%,100%,.4),
    					inset 0 0 1px hsla(0,0%,0%,.3),
    					0 2px 0 hsla(0,0%,100%,.3);
}

.common-widget .icon {
    display: block;
}

.common-widget p {
    font-size: 20px;
    line-height: 24px;
    margin: 5px 0 15px 0;
}

.common-widget .cube {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: -5px;
    background-color: #888;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0px hsla(0,0%,100%,.6),
    					inset 0 -1px 0px hsla(0,0%,0%,.7),
    					0 0 8px hsla(0,0%,0%,.2);
}
