/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.PhotoEditor {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    overflow: hidden;
    background-color: #777;
    -webkit-user-select: none;
}

.PhotoEditor .image {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.PhotoEditor .toolLayer {
    display: none;
    position: absolute;
    pointer-events: none;
}

.PhotoEditor canvas {
    display: none;
    -webkit-user-select: none;
    box-shadow: 0 0 16px rgba(0,0,0,.6);
}

.PhotoEditor.hasImage .toolLayer,
.PhotoEditor.hasImage canvas {
    display: block;
}

.PhotoEditor .canvasFrame {
    position: relative;
}

.PhotoEditor.pickingColor {
    cursor: none;
    -webkit-user-select: none;
}

.PhotoEditor .ruler {
    display: none;
    position: absolute;
    color: hsl(0,0%,56%);

    height: 1em;
}

.PhotoEditor.hasImage .ruler {
    display: block;
}

.PhotoEditor .ruler .positionText {
    border-color: hsl(0,0%,66%);
}

.PhotoEditor .ruler .savedPositionText {
    border-color: hsl(0,0%,36%);
    color: hsl(0,0%,36%);
}

.PhotoEditor .ruler .distanceText {
    color: hsl(0,0%,36%);
    border-color: hsla(0,0%,36%, 0.4);
}

.PhotoEditor .horizontalRuler {
    top: -1.5em;
}

.PhotoEditor .verticalRuler {
    left: -0.5em;

    -webkit-transform-origin: left top;
    -webkit-transform: rotate(90deg);
}
