html, body, .Main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    padding: 60px 0 20px 0;
    font-size: 2rem;
    text-align: center;
    color: #33495d;
    height: 40px;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0;
}

h4 {
    font-size: 1rem;
    text-align: center;
    color: #33495d;
    margin: 40px;
}

span {
    display: inline-block;
    font-size: 1rem;
    padding: 0 8px;
}
