<html>
<head>
    <script type="text/montage-serialization">
    {
        "componentholder": {
            "prototype": "montage/ui/component",
            "properties": {
                "element": {"#": "textfield2"},
                "hasTemplate": false
            },
            "bindings": {
                "content": {"<-": "@owner.originalContent"}
            }
        },
        "owner": {
            "prototype": "reel/template/componentx.reel[ComponentX]",
            "properties": {
                "element": {"#": "componentx"},
                "textfield": {"@": "componentholder"}
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="componentx">
        <h3>Component X</h3>
        <div data-montage-id="textfield2" class="placeholderClassName"></div>
    </div>
</body>
</html>
