/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
 
.montage-textarea {
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
    width: 10em;
    min-width: 10em;
    padding: 0.5em;
    resize: vertical;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    background-color: #ffffff;
}

.montage-textarea:hover {
  border-color: #cccccc;
}

.montage-textarea:focus {
  border-color: #7f7f7f;
}
