.CascadingListDropzone {
    position: relative;
    background-color: #E8E8E8;
    background-image: url("drop.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 0px;
    min-height: 0px;
    max-height: 60px;
    overflow: hidden;
}

.CascadingListDropzone.is-open,
.CascadingListDropzone.open-transition {
    border-bottom: 1px solid #c8c7cc;
    min-height: 60px;
}

.CascadingListDropzone.open-transition {
    transition: .3s min-height ease-in-out;
}

.CascadingListDropzone.close-transition {
    min-height: 0px;
    transition: .3s min-height ease-in-out;
}

.CascadingListDropzone-close {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 16px;
    width: 16px;
    background-image: url("times.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: none;
}

.CascadingListDropzone-close:hover {
    cursor: pointer;
}
