/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.montage-inputCheckbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid #b3b3b3;
    background: #f2f2f2;
    cursor: pointer;
}

.montage-inputCheckbox:hover {
    background-color: #fff;
}

.montage-inputCheckbox:active {
    background-color: #e5e5e5;
}

.montage-inputCheckbox:focus {
    border-color: #7f7f7f;
}

.montage-inputCheckbox:checked {
    background: #f2f2f2 url(checkbox.png) no-repeat center;
}

.montage-inputCheckbox:disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}
