.Ruler {
    position: relative;
}

.Ruler .positionText,
.Ruler .savedPositionText {
    position: absolute;
    display: inline-block;

    padding-left: 0.25em;
    border-left: 1px solid white;

    white-space: nowrap;
}

.Ruler .distanceText {
    position: absolute;
    top: -1.5em;

    text-align: center;
    white-space: nowrap;

    padding: 0 0 0.2em;
    border: 1px dotted white;
    border-width: 0 0 1px;
}

.Ruler.vertical .distanceText {
    top: 1.5em;

    padding: 0.2em 0 0;
    border-width: 1px 0 0;
}
