<!DOCTYPE html>
<html>
    <head>
        <title>Button Group Sandbox</title>
        <script type="text/montage-serialization">
{
"button1": {
    "module": "montage/ui/bluemoon/button.reel",
    "name": "Button",
    "properties": {
        "element": {"#": "button1_1"}
    },
    "listeners": [
        {
            "type": "action",
            "listener": {"@": "owner"}
        }
    ]
},
"button2": {
    "module": "montage/ui/bluemoon/button.reel",
    "name": "Button",
    "properties": {
        "element": {"#": "button1_2"}
    }
},
"button3": {
    "module": "montage/ui/bluemoon/button.reel",
    "name": "Button",
    "properties": {
        "element": {"#": "button1_3"}
    }
},
"button4": {
    "module": "montage/ui/bluemoon/button.reel",
    "name": "Button",
    "properties": {
        "element": {"#": "button1_4"}
    }
},
"buttongroup1": {
    "module": "montage/ui/bluemoon/button-group.reel",
    "name": "ButtonGroup",
    "properties": {
        "element": {"#": "buttonGroup1"}
    },
    "bindings": {
        "iconic": {
            "boundObject": {"@": "toggle1"},
            "boundObjectPropertyPath": "value"
        }
    }
},
    "button5": {
        "module": "montage/ui/bluemoon/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button2_1"}
        }
    },
    "button6": {
        "module": "montage/ui/bluemoon/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button2_2"}
        }
    },
    "button7": {
        "module": "montage/ui/bluemoon/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button2_3"}
        }
    },
    "button8": {
        "module": "montage/ui/bluemoon/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button2_4"}
        }
    },
    "buttongroup2": {
        "module": "montage/ui/bluemoon/button-group.reel",
        "name": "ButtonGroup",
        "properties": {
            "element": {"#": "buttonGroup2"}
        },
        "bindings": {
            "iconic": {
                "boundObject": {"@": "toggle1"},
                "boundObjectPropertyPath": "value"
            }
        }
    },
    "toggle1": {
        "module": "montage/ui/bluemoon/toggle.reel",
        "name": "Toggle",
        "properties": {
            "element": {"#": "iconicToggle"}
        }
    },
    "owner": {
        "module": "components/button-group-example.reel",
        "name": "ButtonGroupExample",
        "properties": {
            "element": {"#": "button-group-example"}
        }
    }
}
    </script>

    </head>

    <body>
        <div id="button-group-example">
            <div class="row ">
                <div class="span8">
                    <h3>Button Group</h3>
                    <p class="">
                        The ButtonGroup presents a styled list of Button components in a row. It supports icon-only mode for buttons with image icons.
                    </p>
                </div>
            </div>

            <div id="buttonGroup1">
                <div id="button1_1" class="submit icon"><img src="images/play.png"/>Run</div>
                <div id="button1_2" class="text icon"><img src="images/upload.png" />Save</div>
                <div id="button1_3" class="text disabled">Delete</div>
                <div id="button1_4" class="cancel">Cancel</div>
            </div>
            <br/>
            <div id="buttonGroup2" class="small">
                <div id="button2_1" class="submit icon"><img src="images/play.png"/>Run</div>
                <div id="button2_2" class="text icon"><img src="images/upload.png" />Save</div>
                <div id="button2_3" class="text disabled">Delete</div>
                <div id="button2_4" class="cancel">Cancel</div>
            </div>
            <br/>
            Iconic:
            <div id="iconicToggle"></div>

            <h6>HTML</h6>
            <pre class="prettyprint">
&lt;div id="buttonGroup1"&gt;
    &lt;div id="button1_1" class="submit icon"&gt;&lt;img src="images/play.png"/&gt;Run&lt;/div&gt;
    &lt;div id="button1_2" class="text icon"&gt;&lt;img src="images/upload.png" /&gt;Save&lt;/div&gt;
    &lt;div id="button1_3" class="text disabled"&gt;Delete&lt;/div&gt;
    &lt;div id="button1_4" class="cancel"&gt;Cancel&lt;/div&gt;
&lt;/div&gt;
&lt;br/&gt;
&lt;div id="buttonGroup2" class="small"&gt;
    &lt;div id="button2_1" class="submit icon"&gt;&lt;img src="images/play.png"/&gt;Run&lt;/div&gt;
    &lt;div id="button2_2" class="text icon"&gt;&lt;img src="images/upload.png" /&gt;Save&lt;/div&gt;
    &lt;div id="button2_3" class="text disabled"&gt;Delete&lt;/div&gt;
    &lt;div id="button2_4" class="cancel"&gt;Cancel&lt;/div&gt;
&lt;/div&gt;
&lt;br/&gt;
Iconic:
&lt;div id="iconicToggle"&gt;&lt;/div&gt;

            </pre>

            <h6>Serialization</h6>
            <pre class="prettyprint">
{
    "button1": {
        "module": "montage/ui/bluemoon/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button1_1"}
        }
    },
    "button2": {
        "module": "montage/ui/bluemoon/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button1_2"}
        }
    },
    "button3": {
        "module": "montage/ui/bluemoon/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button1_3"}
        }
    },
    "button4": {
        "module": "montage/ui/bluemoon/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "button1_4"}
        }
    },
    "buttongroup1": {
        "module": "montage/ui/bluemoon/button-group.reel",
        "name": "ButtonGroup",
        "properties": {
            "element": {"#": "buttonGroup1"}
        },
        "bindings": {
            "iconic": {
                "boundObject": {"@": "toggle1"},
                "boundObjectPropertyPath": "value"
            }
        }
    }
    "toggle1": {
        "module": "montage/ui/bluemoon/toggle.reel",
        "name": "Toggle",
        "properties": {
            "element": {"#": "iconicToggle"}
        }
    }
}
         </pre>

         <h6>CSS</h6>
        The ButtonGroup supports a compact mode that you can enable by adding "small" to the ButtonGroup element's CSS class list.
        <pre class="prettyprint">
&lt;div id="buttonGroup2" class="small"&gt;
    &lt;div id="button2_1" class="submit icon"&gt;&lt;img src="images/play.png"/&gt;Run&lt;/div&gt;
    &lt;div id="button2_2" class="text icon"&gt;&lt;img src="images/upload.png" /&gt;Save&lt;/div&gt;
&lt;/div&gt;
            </pre>

        </div>
    </body>
</html>