/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.GridMagnifier, .GridMagnifier .loupe, .GridMagnifier canvas {
    pointer-events: none;
}

.GridMagnifier .loupe, .GridMagnifier canvas {
    -webkit-border-radius: 200px;
    pointer-events: none;
}

.GridMagnifier {
    position: absolute;
    z-index: 100;

    opacity: 0;

    -webkit-transition: opacity 200ms linear;
    -webkit-transition-delay: 70ms;
}

.GridMagnifier .loupe {
    position: static;
    width: 200px;
    height: 200px;

    border: 1px solid hsl(0,0%,80%);

    -webkit-box-shadow: 0 4px 6px hsla(0,0%,0%, 0.4);
}

.touch .GridMagnifier {
    -webkit-box-shadow: none;
}

.GridMagnifier.active {
    opacity: 1;
}

.GridMagnifier canvas {
    position: static;
    background: white;
}

.touch .GridMagnifier {
    margin-top: -50px;
}

.GridMagnifier .ColorPicker {
    width: auto;
    overflow: visible;
    white-space: nowrap;

    background: hsla(0,0%,80%, 0.8);

    font-size: x-small;
    border-bottom: none;

    padding-top: 110px;
    margin-top: -100px;

    border-radius: 8px;
    -webkit-box-shadow: 0 4px 6px hsla(0,0%,0%, 0.4);
}

.GridMagnifier .ColorPicker .colorWell {
    width: 10px;
    height: 10px;
    border: 2px;
    display: inline-block;
}

.GridMagnifier .ColorPicker .valueList {
    margin-right: 0;
}
