<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">
        {

            "owner": {
                "prototype": "components/scroller-example.reel",
                "properties": {
                    "element": {"#": "scrollview-example"}
                }
            },

            "scroller": {
                "prototype": "montage/ui/scroller.reel",
                "properties": {
                    "element": {"#": "scroller"}
                },
                "bindings": {
                    "hasMomentum": {
                        "boundObject": {"@": "toggleMomentum"},
                        "boundObjectPropertyPath": "checked"
                    },
                    "hasBouncing": {
                        "boundObject": {"@": "toggleBouncing"},
                        "boundObjectPropertyPath": "checked"
                    }
                }
            },

            "toggleMomentum": {
                "prototype": "montage/ui/checkbox.reel",
                "properties": {
                    "element": {"#": "toggleMomentum"},
                    "checked": true
                }
            },
            "toggleBouncing": {
                "prototype": "montage/ui/checkbox.reel",
                "properties": {
                    "element": {"#": "toggleBouncing"},
                    "checked": true
                }
            }
        }
        </script>

        <style>

        </style>
    </head>
    <body>
        <div id="scrollview-example" class="scrollview-example">
            <div class="row">
                <div class="span12">
                    <h3>Scroller</h3>
                    <p>
                        The Scroller component provides vertical and horizontal scrolling of fixed height elements.
                    </p>
<!--                     <p>
                        <a href="" target="_blank">View Documentation</a>
                    </p>
 -->                </div>
            </div>

            <h4>Scroller example</h4>
                <p>Scroll the content below using your mouse or finger. You can also toggle the bounce and momentum behavior.</p>
            <div class="demo">
                <label for="cb1">Toggle momenutum<input type="checkbox" data-montage-id="toggleMomentum" id="cb1" /></label>
                <label for="cb2">Toggle bouncing<input type="checkbox" data-montage-id="toggleBouncing" id="cb2" /></label>

                <div data-montage-id="scroller" style="height: 400px; width: 500px; margin: auto; -webkit-user-select: none; -moz-user-select: none ">
                    <p><b>A large paragraph</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <img src="components/scroller-example.reel/flowers.jpg" alt="The Universe">
                    <p>Another large paragraph...</p>
                </div>
            </div>

        </div>
    </body>
</html>
