<html>
<head>
    <script type="text/montage-serialization">
    {
        "owner": {
            "prototype": "reel/template/componentgranddaughter.reel[ComponentGranddaughter]",
            "properties": {
                "element": {"#": "componentgranddaughter"}
            }
        },

        "template": {
            "properties": {
                "extends": {
                    "templateModuleId": "reel/template/componentdaughter.reel/componentdaughter.html",
                    "element": {"#": "componentdaughter"}
                }
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="componentgranddaughter">
        <div class="header">Component Granddaughter</div>
        <div data-montage-id="componentdaughter"></div>
    </div>
</body>
</html>
