/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.action-sheet-container {
    font-family: "AG Buch BQ Regular", "AG Buch BQ", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    border-radius: 5px;
    margin: 0;
    padding: 5px 20px;

}

.menu-container .content {
    background-color: #e6e6e6;
}
.action-sheet-container .action-container {
    padding: 10px 0;
    text-align: center;
}
.action-sheet-container .action {
    margin: 3px 0;
    width: 60%;
    text-align: center;
    display: block;
}
