/* @override http://localhost:8082/montage-projects/ui/facadeflow.reel/facadeflow.css */

.facade-flow  {
	position: relative;
	margin-top: 40px;
    width: 1024px;
    height: 425px;
    background: url(film-bottom.png);
}
.flow {
    overflow: visible;
    opacity: 1;
    -webkit-transition-duration: .5s;
}
.flow2 {
    width: 1024px;
    height: 425px;
}
.flow-fade-out{
    opacity: 0;
}

.film {
    position: absolute;
    width: 1024px;
	height: 425px;
    top: 0;
    left: 0;
    background: url(film-top.png);
    pointer-events: none;
}
.flow .Image  {
    position: absolute;
    width: 180px;
    height: 267px;
    margin-left: -96px;
    margin-top: -136px;
    border: 6px solid hsl(0,0%,0%);
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: inset 0 0 2px hsla(0,0%,100%,.5), 0 6px 20px rgba(0,0,0,.7);
}

.flow .Image:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.15) 50%, hsla(0,0%,100%,0) 50% );
}

.details  {
    height: 280px;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-30px,0);
    -webkit-transition: opacity .5s, -webkit-transform .5s;
}

.details-fade-out{
    opacity: 0;
    -webkit-transform: translate3d(0,-20px,0);
}


