html, body, .Main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
     -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

header {
    padding: 60px 0;
    font-size: 1.75rem;
    text-align: center;
    color: #33495d;
    height: 40px;
}

.options {
    margin-top: 60px;
}

.montage-toggle.montage--checked.blue {
    background-color: #488aff;
}

.montage-toggle.montage--checked.red {
    background-color: #f53d3d;
}

.montage-toggle.montage--checked.yellow {
    background-color: #ffc527;
}
