<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2012 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">
            {
                "owner": {
                    "prototype": "components/token-field-example.reel",
                    "properties": {
                        "element": {"#": "token-field-example"},
                        "tags" : ["technology", "travel"]
                    }
                },

                "state": {
                    "prototype": "montage/ui/token-field/token-field.reel",
                    "properties": {
                        "element": {"#": "state"},
                        "identifier": "state",
                        "textPropertyPath": "name",
                        "delegate": {"@": "owner"}
                    },
                    "bindings": {
                        "values": {"<->": "@owner.states"}
                    }
                },

                "members": {
                    "prototype": "montage/ui/token-field/token-field.reel",
                    "properties": {
                        "element": {"#": "members"},
                        "identifier": "members",
                        "textPropertyPath": "FirstName",
                        "allowAdHocValues": true,
                        "delegate": {"@": "owner"}
                    },
                    "bindings": {
                        "values": {"<->": "@owner.members"}
                    }
                },

                "tags": {
                    "prototype": "montage/ui/token-field/token-field.reel",
                    "properties": {
                        "element": {"#": "tags"},
                        "identifier": "tags",
                        "allowAdHocValues": true,
                        "placeholder": "Add more tags",
                        "delegate": {"@": "owner"}
                    },
                    "bindings": {
                        "values": {"<->": "@owner.tags"}
                    }
                },

                "update": {
                    "prototype": "montage/ui/button.reel",
                    "properties": {
                        "element": {"#": "update"},
                        "identifier": "update"
                    },
                    "listeners": [
                        {
                            "type": "action",
                            "listener": {"@": "owner"}
                        }
                    ]
                },
                "echo": {
                    "prototype": "montage/ui/dynamic-text.reel",
                    "properties": {
                        "element": {"#": "echo"}
                    },
                    "bindings": {
                        "value": {"<-": "@owner.json"}
                    }
                },
                "tokenFieldAccordion1": {
                    "prototype": "accordion.reel",
                    "properties": {
                        "element": {"#": "token-field-accordion1"}
                    }
                }
            }
        </script>
    </head>
    <body>
        <div id="token-field-example" class="token-field-example">

            <div class="row">
                <div class="span12">
                    <h3>Token Field</h3>
                    <p>
                        A TokenField is a text field with tokens as its content.
                    </p>
                </div>
            </div>

            <h4>Demo</h4>
            <div class="demo">

                <form class="form-stacked">

                     <label for="state">State: Suggestions from in-memory data. Does not allow ad-hoc values</label>
                     <div data-montage-id="state" id="state" style="width: 400px;"></div>

                     <label for="members">Members: Fetching data from remote data source (type "Ar" or "Ma" to see results).
                         Ad-hoc values are allowed
                    </label>
                     <div data-montage-id="members"  id="members" style="width: 400px;"></div>

                     <label for="tags">Tags: Suggests existing tags. Ad-hoc values are allowed</label>
                     <div data-montage-id="tags" id="tags" style="width: 400px;"></div>

                     <div style="margin-top: 10px;">
                          <button class="btn" data-montage-id="update" type="button">Update</button>
                     </div>

                </form>

                <div id="echo" class="echo"></div>

            </div>

            <section>

                                <ul id="token-field-accordion1" class="accordion">
                                   <li class="accordion-group">
                                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                                       <div class="accordion-inner montage-hidden" >
                                            <pre class="prettyprint" >
&lt;div class="demo"&gt;
    &lt;form class="form-stacked"&gt;
        &lt;label for="state"&gt;State: Suggestions from in-memory data. Does not allow ad-hoc values&lt;/label&gt;
            &lt;div data-montage-id="state" style="width: 400px;"&gt;&lt;/div&gt;
            &lt;label for="members"&gt;Members: Fetching data from remote data source (type "Ar" or "Ma" to see results).
            Ad-hoc values are allowed
            &lt;/label&gt;
            &lt;div data-montage-id="members" style="width: 400px;"&gt;&lt;/div&gt;
            &lt;label for="tags"&gt;Tags: Suggests existing tags. Ad-hoc values are allowed&lt;/label&gt;
            &lt;div data-montage-id="tags" style="width: 400px;"&gt;&lt;/div&gt;
            &lt;div style="margin-top: 10px;"&gt;
            &lt;button class="btn" id="update" type="button"&gt;Update&lt;/button&gt;
        &lt;/div&gt;
    &lt;/form&gt;
    &lt;div id="echo"&gt;&lt;/div&gt;
&lt;/div&gt;

                                            </pre>
                                       </div>
                                   </li>
                                   <li class="accordion-group">
                                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                                       <div class="accordion-inner montage-hidden">
                                        <pre class="prettyprint" >
{
    "owner": {
        "prototype": "components/token-field-example.reel",
        "properties": {
            "element": {"#": "token-field-example"},
            "states": []
        }
    },

    "state": {
        "prototype": "montage/ui/token-field/token-field.reel",
        "properties": {
            "element": {"#": "state"},
            "identifier": "state",
            "textPropertyPath": "name",
            "delegate": {"@": "owner"}
        },
        "bindings": {
            "tokens": {"<->": "@owner.states"}
        }
    },

    "members": {
        "prototype": "montage/ui/token-field/token-field.reel",
        "properties": {
            "element": {"#": "members"},
            "identifier": "members",
            "textPropertyPath": "FirstName",
            "minLength": 2,
            "allowAdHocValues": true,
            "delegate": {"@": "owner"}
        },
        "bindings": {
            "tokens": {"<->": "@owner.members"}
        }
    },
    "tags": {
        "prototype": "montage/ui/token-field/token-field.reel",
        "properties": {
            "element": {"#": "tags"},
            "identifier": "tags",
            "allowAdHocValues": true,
            "delegate": {"@": "owner"}
        },
        "bindings": {
            "tokens": {"<->": "@owner.tags"}
        }
    },

    "update": {
        "prototype": "montage/ui/button.reel",
        "properties": {
            "element": {"#": "update"},
            "identifier": "update"
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "owner"}
            }
        ]
    },
    "echo": {
        "prototype": "montage/ui/dynamic-text.reel",
        "properties": {
            "element": {"#": "echo"}
        },
        "bindings": {
            "value": {"<-": "@owner.json"}
        }
    },
    "tokenFieldAccordion1": {
        "prototype": "accordion.reel",
        "properties": {
            "element": {"#": "token-field-accordion1"}
        }
    }
}
                                        </pre>

                                       </div>
                                   </li>
                                   <li class="accordion-group">
                                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">JavaScript</a></div>
                                       <div class="accordion-inner montage-hidden">
                                           <pre class="prettyprint" >
// Sample data for list of US States
var states = [
{name: "Alabama", code: "AL" },
{name: "Alaska", code: "AK"},
{name: "Arizona", code: "AZ"},
{name: "Arkansas", code: "AR"},
....
{name: "Wyoming", code: "WY"}
];
var tags = [
'science', 'programming', 'javascript', 'java', 'user experience', 'UX', 'UI', 'user interface design',
'travel', 'arts', 'design', 'education', 'entertainment', 'fasion', 'movies', 'tv shows', 'gadgets',
'apple', 'social', 'network', 'technology', 'tools', 'home', 'interiors', 'search', 'politics', 'news',
'business', 'companies', 'startups', 'silicon valley', 'bay area', 'biking', 'tennis', 'united states', 'USA'
];
exports.TokenFieldExample = Montage.create(Component, {

    json: {value: null},
    states: {value: null},
    members: {value: null},
    tags: {value: null},
    info: {value: null},

    _cachedStates: {value: null},

    prepareForDraw: {
        value: function() {
            this.states = [states[0], states[3], states[5]];
        }
    },
    stateShouldGetSuggestions: {
        value: function(tokenField, searchTerm) {
            var results = [];
            if(searchTerm) {
                var term = searchTerm.toLowerCase();
                if(this._cachedStates && this._cachedStates[term]) {
                    results = this._cachedStates[term];
                } else {
                    results = states.filter(function(item) {
                        // @todo - memoize
                        return (item.name.toLowerCase().indexOf(term) >= 0 || item.code.indexOf(term) >= 0);
                    });
                    if(this._cachedStates == null) {
                        this._cachedStates = {};
                    }
                    this._cachedStates[term] = results;
                }
            }
            tokenField.suggestions = results;
        }
    },
    stateGetRepresentedObject: {
        value: function(stringValue) {
            if(stringValue) {
                stringValue = stringValue.trim().toLowerCase();
                var i; 
                var len = states.length;
                for(i=0; i < len; i++) {
                    if(states[i].name.toLowerCase() === stringValue) {
                        return states[i];
                    }
                }
            }
            return null;
        }
    },
    membersShouldGetSuggestions: {
        value: function(tokenField, searchTerm) {
            var results = [];
            var query = "SELECT FirstName,LastName from 383121 where FirstName like '%" + searchTerm + "%'"; //" OR LastName like '%" + searchTerm + "%'";
            var uri = 'http://ft2json.appspot.com/q?sql=' + encodeURIComponent(query);

            var xhr = request(uri, 'get');
            xhr.onload = function(e) {
               try {
                   var data;
                   data = JSON.parse(this.response).data;
                   var result = [];
                   if(data && data.length > 0) {
                       result = data;
                   }
                   tokenField.suggestions = result;

               } catch(e) {
                   tokenField.suggestions = [];
               }

            };
            xhr.ontimeout = function() {
                if (logger.isDebug) {
                    logger.debug('xhr timed out');
                }

               tokenField.suggestions = [];
            };
            xhr.onerror = function(e) {
                if (logger.isDebug) {
                    logger.debug('xhr errored out', e);
                }
                tokenField.suggestions = [];
            };

        }
    },

    tagsShouldGetSuggestions: {
        value: function(tokenField, searchTerm) {
            var results = [];
            if(searchTerm) {
                var term = searchTerm.toLowerCase();
                results = tags.filter(function(item) {
                    return (item.toLowerCase().indexOf(term) >= 0);
                });
            }
            tokenField.suggestions = results;
        }
    },

    handleUpdateAction: {
        value: function(event) {
            if (logger.isDebug) {
                logger.debug('data: ', this);
            }
            this.json = JSON.stringify({
                state: this.states,
                members: this.members,
                tags: this.tags
            });
        }
    }
});
                                           </pre>
                                       </div>
                                   </li>
                                </ul>
            </section>

            <section>
                <a href="https://github.com/Motorola-Mobility/montage/tree/v0.11/examples/sink/components/token-field-example.reel" target="_blank">View Demo Source</a>
            </section>



    </body>
</html>
