/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.montage-progress {
	height: 7px;
	padding: 1px;
	border-radius: 5px / 4px;
	overflow: hidden;
	background: #ccc url(rule.png);
	-webkit-box-shadow: inset rgba(0,0,0,.2) 0 0 0 1px, rgba(255,255,255,.5) 0 1px 1px, rgba(0,0,0,.1) 0 -1px 0px;
	-moz-box-shadow: inset rgba(0,0,0,.2) 0 0 0 1px, rgba(255,255,255,.5) 0 1px 1px, rgba(0,0,0,.1) 0 -1px 0px;
	box-shadow: inset rgba(0,0,0,.2) 0 0 0 1px, rgba(255,255,255,.5) 0 1px 1px, rgba(0,0,0,.1) 0 -1px 0px;
}

.montage-progress .bar {
	height: 7px;
	border-radius: inherit;
	background: #0cbeff;

	-webkit-transition: width .3s cubic-bezier(0.25, 0.1, 0.3, 0.9);
	-moz-transition: width .3s cubic-bezier(0.25, 0.1, 0.3, 0.9);
	transition: width .3s cubic-bezier(0.25, 0.1, 0.3, 0.9);
}

.montage-progress.dark {
	background:  url(rule.png), -webkit-gradient(linear, 0% 0%, 0% 100%,
						color-stop(0%, #303030), color-stop(100%, #3f3f3f) );

	-webkit-box-shadow: rgba(255,255,255,.1) 0 1px 0, rgba(0,0,0,.1) 0 -1px 0px;
	-moz-box-shadow: rgba(255,255,255,.1) 0 1px 0, rgba(0,0,0,.1) 0 -1px 0px;
	box-shadow: rgba(255,255,255,.1) 0 1px 0, rgba(0,0,0,.1) 0 -1px 0px;
}