.PointMarker {
    position: absolute;

    width: 20px;
    height: 20px;

    border-width: 4px;
    border-style: solid;
    border-color: hsla(0,0%,0%, 0.5) hsla(0,0%,100%, 0.8);
    border-radius: 20px;

    -webkit-transform: rotate(45deg) scale(0.5);
}

.PointMarker.selected {
     -webkit-animation: twist-and-shout 0.2s 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;

}

@-webkit-keyframes twist-and-shout {
    0% {
        -webkit-transform: scale(0.5) rotate(45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(3.0) rotate(210deg);
        opacity: 0;
    }
}


