.logger {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-property: background-color;
  -o-transition-duration: 300ms;
  -o-transition-timing-function: ease-in-out;
  -moz-transition-property: background-color;
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease-in-out;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.logger:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.logger h2 {
  font-size: 1em;
  color: #FFF;
  margin: 0;
}

.logger-output {
  font-family: monospace;
  white-space: pre;
  padding: 0.5em;
}

.logger.logger-hilight {
  background-color: rgba(219, 205, 0, 0.7);
}
