<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">{

                "owner": {
                    "prototype": "components/select-input-example.reel[InputTextExample]",
                    "properties": {
                        "element": {"#": "select-input-example"},
                        "statesController": {"@": "statesController"},
                        "dept": {"@": "dept"}
                    },
                    "bindings": {
                        "selectedCountry": {"<-": "@country.contentController.selectedObjects.0"},
                        "selectedState": {"<-": "@state.contentController.selectedObjects.0"},
                        "selectedDepts": {"<<->": "@dept.contentController.selectedObjects"}
                    }
                },
                "fname": {
                    "prototype": "montage/ui/textfield.reel",
                    "properties": {
                        "element": {"#": "fname"}
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.firstName"},
                        "title": {"<<->": "@owner.firstName"}
                    }
                },

                "lname": {
                    "prototype": "montage/ui/textfield.reel",
                    "properties": {
                        "element": {"#": "lname"}
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.lastName"}
                    }
                },

                "dept": {
                    "prototype": "montage/ui/select-input.reel",
                    "properties": {
                        "element": {"#": "dept"},
                        "textPropertyPath": "name",
                        "valuePropertyPath": "code"
                    },
                    "bindings": {
                        "content": {"<-": "@owner.departments"}
                    }
                },


                "statesController": {
                    "prototype": "montage/ui/controller/array-controller",
                    "properties": {
                        "selectObjectsOnAddition": true,
                        "automaticallyOrganizeObjects": true,
                        "content": []
                    }
                },

                "state": {
                    "prototype": "montage/ui/select-input.reel",
                    "properties": {
                        "element": {"#": "state"},
                        "contentController": {"@": "statesController"},
                        "textPropertyPath": "name",
                        "valuePropertyPath": "code"
                    }
                },

                "country": {
                    "prototype": "montage/ui/select-input.reel",
                    "properties": {
                        "element": {"#": "country"}
                    }
                },


                "update": {
                    "prototype": "montage/ui/button.reel",
                    "properties": {
                        "element": {"#": "update"},
                        "identifier": "update"
                    },
                    "listeners": [
                        {
                            "type": "action",
                            "listener": {"@": "owner"}
                        }
                    ]
                },

                "echo": {
                    "prototype": "montage/ui/dynamic-text.reel",
                    "properties": {
                        "element": {"#": "echo"}
                    },
                    "bindings": {
                        "value": {"<-": "@owner.json"}
                    }
                },
                "justifyComparatorLeft": {
                    "prototype": "components/select-input-example.reel[JustifyConverter]",
                    "properties": {
                        "justify": "left"
                    }
                },
                "justifyComparatorRight": {
                    "prototype": "components/select-input-example.reel[JustifyConverter]",
                    "properties": {
                        "justify": "right"
                    }
                },
                "justifyComparatorCenter": {
                    "prototype": "components/select-input-example.reel[JustifyConverter]",
                    "properties": {
                        "justify": "center"
                    }
                },
                "justifyLeft": {
                    "prototype": "montage/ui/toggle-button.reel",
                    "properties": {
                        "element": {"#": "justifyLeft"},
                        "pressedClass": "success"
                    },
                    "bindings": {
                        "pressed": {"<<->": "@owner.justify", "converter": {"@": "justifyComparatorLeft"}}
                    }
                },
                "justifyCenter": {
                    "prototype": "montage/ui/toggle-button.reel",
                    "properties": {
                        "element": {"#": "justifyCenter"},
                        "pressedClass": "success"
                    },
                    "bindings": {
                        "pressed": {"<<->": "@owner.justify", "converter": {"@": "justifyComparatorCenter"}}
                    }
                },
                "justifyRight": {
                    "prototype": "montage/ui/toggle-button.reel",
                    "properties": {
                        "element": {"#": "justifyRight"},
                        "pressedClass": "success"
                    },
                    "bindings": {
                        "pressed": {"<<->": "@owner.justify", "converter": {"@": "justifyComparatorRight"}}
                    }
                },
                "justifySelect": {
                    "prototype": "montage/ui/select-input.reel",
                    "properties": {
                        "element": {"#": "justifySelect"}
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.justify"}
                    }
                },
                "justifyResult": {
                    "prototype": "montage/ui/dynamic-text.reel",
                    "properties": {
                        "element": {"#": "justifyResult"}
                    },
                    "bindings": {
                        "value": {"<-": "@owner.justify"}
                    }
                },
                "selectAccordion1": {
                    "prototype": "accordion.reel",
                    "properties": {
                        "element": {"#": "selectAccordion1"}
                    }
                },
                "selectAccordion2": {
                    "prototype": "accordion.reel",
                    "properties": {
                        "element": {"#": "selectAccordion2"}
                    }
                }

    }</script>

        <style>
            .select-input-example .error {
                color: #E73525;
                padding: 2px 0;
            }

            .select-input-example pre {
                border: 0;
            }

            .select-input-example .justify {
                width: 40px;
                padding: 5px;
            }

            .select-input-example div.echo {
                width: 400px;
            }
        </style>
    </head>
    <body>
        <div data-montage-id="select-input-example" class="select-input-example">
            <div class="row">
                <div class="span8">
                    <h3>Select Input</h3>
                    <p>
                        The Select Input component wraps an HTML <code>&lt;select&gt;</code> field.
                    </p>
                    <p>
                        <a href="" target="_blank">View Documentation</a>
                    </p>
                </div>
            </div>

            <h4>Demo</h4>

            <div class="demo select1">
                <p>
                 An example using SelectInput component in a Form. Make changes to the form by selecting a different Country for instance and click the 'Update' button to see the result.
                 </p>
                 <form class="form-stacked">
                     <label for="fname">First Name</label>
                     <input type="text" placeholder="Enter first name" data-montage-id="fname" required  value="foo" maxlength="20"/>
                     <label for="lname">Last Name</label>
                     <input type="text" placeholder="Enter last name" data-montage-id="lname" value="foo" maxlength="20"/>

                     <label for="dept">Department</label>
                      <select data-montage-id="dept" required="true" multiple="true" size="3">
                          <option>Please select a Department</option>
                      </select>

                     <label for="country">Country</label>
                     <select data-montage-id="country" required>
                         <option value="">Please select a Country</option>
                         <option value="USA" selected="true">United States of America</option>
                         <option value="INR" >India</option>
                         <option value="FR">France</option>
                         <option value="GER">Germany</option>
                     </select>

                     <label for="state">State</label>
                     <select data-montage-id="state" required="true">
                         <option>Please select a country...</option>
                     </select>

                     <div style="margin-top: 10px;">
                         <button class="btn" data-montage-id="update" type="button">Update</button>
                    </div>
                 </form>

                 <div data-montage-id="echo"></div>


            </div>


                 <section>

                     <ul data-montage-id="selectAccordion1" class="accordion">
                        <li class="accordion-group">
                            <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                            <div class="accordion-inner montage-hidden" >
                                 <pre class="prettyprint" >
 &lt;form class="form-stacked"&gt;
    &lt;label for="fname"&gt;First Name&lt;/label&gt;
    &lt;input type="text" placeholder="Enter first name" data-montage-id="fname" required  value="foo" maxlength="20"/&gt;
    &lt;label for="lname"&gt;Last Name&lt;/label&gt;
    &lt;input type="text" placeholder="Enter last name" data-montage-id="lname" value="foo" maxlength="20"/&gt;

    &lt;label for="dept"&gt;Department&lt;/label&gt;
     &lt;select data-montage-id="dept" required="true" multiple="true" size="3"&gt;
         &lt;option&gt;Please select a Department&lt;/option&gt;
     &lt;/select&gt;

    &lt;label for="country"&gt;Country&lt;/label&gt;
    &lt;select data-montage-id="country" required&gt;
        &lt;option value=""&gt;Please select a Country&lt;/option&gt;
        &lt;option value="USA" selected="true"&gt;United States of America&lt;/option&gt;
        &lt;option value="INR" &gt;India&lt;/option&gt;
        &lt;option value="FR"&gt;France&lt;/option&gt;
        &lt;option value="GER"&gt;Germany&lt;/option&gt;
    &lt;/select&gt;

    &lt;label for="state"&gt;State&lt;/label&gt;
    &lt;select data-montage-id="state" required="true"&gt;
        &lt;option&gt;Please select a country...&lt;/option&gt;
    &lt;/select&gt;

    &lt;div style="margin-top: 10px;"&gt;
        &lt;button class="btn" data-montage-id="update"&gt;Update&lt;/button&gt;
   &lt;/div&gt;
 &lt;/form&gt;
                                 </pre>
                            </div>
                        </li>
                        <li class="accordion-group">
                            <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                            <div class="accordion-inner montage-hidden">
                             <pre class="prettyprint" >
{
 "owner": {
     "prototype": "components/select-input-example.reel[InputTextExample]",
     "properties": {
         "element": {"#": "select-input-example"},
         "statesController": {"@": "statesController"},
         "dept": {"@": "dept"}
     },
     "bindings": {
         "selectedCountry": {"&lt;-": "@country.contentController.selectedObjects.0"},
         "selectedState": {"&lt;-": "@state.contentController.selectedObjects.0"},
         "selectedDepts": {"&lt;&lt;-&gt;": "@dept.contentController.selectedObjects"}
     }
 },

 "fname": {
     "prototype": "montage/ui/textfield.reel",
     "properties": {
         "element": {"#": "fname"}
     },
     "bindings": {
         "value": {"&lt;&lt;-&gt;": "@owner.firstName"},
         "title": {"&lt;&lt;-&gt;": "@owner.firstName"}
     }
 },

 "lname": {
     "prototype": "montage/ui/textfield.reel",
     "properties": {
         "element": {"#": "lname"}
     },
     "bindings": {
         "value": {"&lt;&lt;-&gt;": "@owner.lastName"}
     }
 },

 "dept": {
     "prototype": "montage/ui/select-input.reel",
     "properties": {
         "element": {"#": "dept"},
         "textPropertyPath": "name",
         "valuePropertyPath": "code"
     },
     "bindings": {
         "content": {"&lt;-": "@owner.departments"}
     }
 },


 "statesController": {
     "prototype": "montage/ui/controller/array-controller",
     "properties": {
         "selectObjectsOnAddition": true,
         "automaticallyOrganizeObjects": true,
         "content": []
     }
 },

 "state": {
     "prototype": "montage/ui/select-input.reel",
     "properties": {
         "element": {"#": "state"},
         "contentController": {"@": "statesController"},
         "textPropertyPath": "name",
         "valuePropertyPath": "code"
     }
 },

 "country": {
     "prototype": "montage/ui/select-input.reel",
     "properties": {
         "element": {"#": "country"}
     }
 },


 "update": {
     "prototype": "montage/ui/button.reel",
     "properties": {
         "element": {"#": "update"},
         "identifier": "update"
     },
     "listeners": [
         {
             "type": "action",
             "listener": {"@": "owner"}
         }
     ]
 },

 "echo": {
     "prototype": "montage/ui/dynamic-text.reel",
     "properties": {
         "element": {"#": "echo"}
     },
     "bindings": {
         "value": {"&lt;-": "@owner.json"}
     }
 }
}
                             </pre>

                            </div>
                        </li>
                        <li class="accordion-group">
                            <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Javascript</a></div>
                            <div class="accordion-inner montage-hidden">
                                <pre class="prettyprint" >

var Montage = require("montage/core/core").Montage,
    Component = require("montage/ui/component").Component;

exports.SelectInputExample = Montage.create(Component, {
    json: {value: null},

    firstName: {value: null},
    lastName: {value: null},

    departments: {
        value: [
            {name: 'Please select a Department', code: ''},
            {name: 'Human Resources', code: 'HRD'},
            {name: 'Software Engineering', code: 'SWE'},
            {name: 'Hardware Engineering', code: 'HWE'},
            {name: 'Finance', code: 'FIN'},
            {name: 'Information Technology', code: 'IT'}
        ]
    },

    dept: {value: null},

    states: {
        value: {
            'USA': [
                {name: 'Arizona', code: 'AZ'},
                {name: 'Colorado', code: 'CO'},
                {name: 'California', code: 'CA'},
                {name: 'New York', code: 'NY'},
                {name: 'Washington', code: 'WA'}
            ],
            'INR': [
                {name: 'Kerala', code: 'KL'},
                {name: 'Karnataka', code: 'KA'},
                {name: 'Tamil Nadu', code: 'TN'},
                {name: 'Andhra Pradesh', code: 'AP'},
                {name: 'Goa', code: 'GO'}
            ]
        }
    },

    _selectedCountry: {value: null},
    selectedCountry: {
        get: function() {return this._selectedCountry;},
        set: function(value) {
            if(value && this._selectedCountry !== value) {
                this._selectedCountry = value;
                // update states list
                var code = this._selectedCountry.value;
                this.statesController.content = this.states[code];
                // select the first option in the States dropdown
                this.statesController.selectedIndexes = [0];
            }
        }
    },

    _selectedState: {value: null},
    selectedState: {
        get: function() {return this._selectedState;},
        set: function(value) {
            if(this._selectedState !== value) {
                this._selectedState = value;
            }
        }
    },

    _selectedDepts: {value: null},
    selectedDepts: {
        get: function() {return this._selectedDepts;},
        set: function(value) {
            this._selectedDepts = (value || []);
        }
    },

    prepareForDraw: {
        value: function() {

            this.firstName = "John";
            this.lastName = "FooBar";

            this.dept.contentController.selectedIndexes = [2, 4, 5];
            // The following code does not trigger the selection. The selection is
            // managed by the contentController
            //this.selectedDept = this.departments[3];

        }
    },

    handleUpdateAction: {
        value: function(event) {
            event.preventDefault();
            this.json = JSON.stringify({
                firstName: this.firstName,
                lastName: this.lastName,
                country: this.selectedCountry,
                state: this.selectedState,
                departments: this.selectedDepts
            });
        }
    }
});
                                </pre>
                            </div>
                        </li>
                     </ul>


            </section>


            <section>

                <h4>Demo</h4>

                <div class="demo">

                    <p>
                             This example demonstrates two-way binding to the 'value' property of SelectInput. Changing the toggle buttons change the SelectInput's value and changing the SelectInput's selection changes the ToggleButton selection.
                    </p>

                    <div style="height: 40px;">
                        <button data-montage-id="justifyLeft" class="btn justify">L</button>
                        <button data-montage-id="justifyCenter" class="btn justify">C</button>
                        <button data-montage-id="justifyRight" class="btn justify">R</button>
                    </div>
                    <div>
                        <select data-montage-id="justifySelect" class="justifySelect">
                                <option value=""></option>
                                <option value="left">Left</option>
                                <option value="center">Center</option>
                                <option value="right">Right</option>
                        </select>

                        <p>
                            Justify selection: <span data-montage-id="justifyResult"></span>
                        </p>
                    </div>
                </div>
            </section>

            <section>
                <ul data-montage-id="selectAccordion2" class="accordion">
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                       <div class="accordion-inner montage-hidden" >
                            <pre class="prettyprint" >
&lt;div class="demo"&gt;
    &lt;div style="height: 40px;"&gt;
        &lt;button data-montage-id="justify-none" class="btn justify"&gt;-&lt;/button&gt;
        &lt;button data-montage-id="justifyLeft" class="btn justify"&gt;L&lt;/button&gt;
        &lt;button data-montage-id="justifyCenter" class="btn justify"&gt;C&lt;/button&gt;
        &lt;button data-montage-id="justifyRight" class="btn justify"&gt;R&lt;/button&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;select data-montage-id="justifySelect" class="justifySelect"&gt;
            &lt;option value=""&gt;&lt;/option&gt;
            &lt;option value="left"&gt;Left&lt;/option&gt;
            &lt;option value="center"&gt;Center&lt;/option&gt;
            &lt;option value="right"&gt;Right&lt;/option&gt;
        &lt;/select&gt;
        &lt;p&gt;Justify selection: &lt;span data-montage-id="justifyResult"&gt;&lt;/span&gt;&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
                            </pre>
                       </div>
                   </li>
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                       <div class="accordion-inner montage-hidden">
                        <pre class="prettyprint" >
"justifyComparatorLeft": {
    "prototype": "components/select-input-example.reel[JustifyConverter]",
    "properties": {
        "justify": "left"
    }
},
"justifyComparatorRight": {
    "prototype": "components/select-input-example.reel[JustifyConverter]",
    "properties": {
        "justify": "right"
    }
},
"justifyComparatorCenter": {
    "prototype": "components/select-input-example.reel[JustifyConverter]",
    "properties": {
        "justify": "center"
    }
},
"justifyLeft": {
    "prototype": "montage/ui/toggle-button.reel",
    "properties": {
        "element": {"#": "justifyLeft"},
        "pressedClass": "success"
    },
    "bindings": {
        "pressed": {"&lt;&lt;-&gt;": "@owner.justify", "converter": {"@": "justifyComparatorLeft"}}
    }
},
"justifyCenter": {
    "prototype": "montage/ui/toggle-button.reel",
    "properties": {
        "element": {"#": "justifyCenter"},
        "pressedClass": "success"
    },
    "bindings": {
        "pressed": {"&lt;&lt;-&gt;": "@owner.justify", "converter": {"@": "justifyComparatorCenter"}}
    }
},
"justifyRight": {
    "prototype": "montage/ui/toggle-button.reel",
    "properties": {
        "element": {"#": "justifyRight"},
        "pressedClass": "success"
    },
    "bindings": {
        "pressed": {"&lt;&lt;-&gt;": "@owner.justify", "converter": {"@": "justifyComparatorRight"}}
    }
},
"justifySelect": {
    "prototype": "montage/ui/select-input.reel",
    "properties": {
        "element": {"#": "justifySelect"}
    },
    "bindings": {
        "value": {"&lt;&lt;-&gt;": "@owner.justify"}
    }
},
"justifyResult": {
    "prototype": "montage/ui/dynamic-text.reel",
    "properties": {
        "element": {"#": "justifyResult"}
    },
    "bindings": {
        "value": {"&lt;-": "@owner.justify"}
    }
},
                        </pre>

                       </div>
                   </li>
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Javascript</a></div>
                       <div class="accordion-inner montage-hidden">
                           <pre class="prettyprint" >
exports.JustifyConverter = Montage.create(Converter, {
   justify: {value: null},

   convert: {
       value: function(value) {
           return (value === this.justify);
       }
   },

   revert: {
       value: function(value) {
           return (value === true ? this.justify : "");
       }
   }
});

                           </pre>
                       </div>
                   </li>
                </ul>
            </section>

            <section>
                <a href="https://github.com/Motorola-Mobility/montage/tree/v0.10/examples/sink/components/select-input-example.reel" target="_blank">View source on GitHub</a>
            </section>
    </div>
<!--
            <section>
                <h4>Component Properties</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>contentController</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>content</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>textPropertyPath</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>valuePropertyPath</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>disabled</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>readonly</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>name</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>multiple</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>size</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>required</td>
                      <td>...</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                    <a href="" target="_blank">View full Documentation</a>
                </p>
            </section>
 -->

    </body>
</html>
