.List {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
    font-size: 1rem;
    color: hsla(0,0%,0%,.5);
    list-style: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #c8c7cc;
    box-sizing: border-box;
}

.List-repetition {
    padding: 0;
    margin: 0;
}

.List .item .ListItem {
    border: none;
}

.List .List-repetition > .ListItem {
    border: none;
    border-bottom: 1px solid #c8c7cc;
}

.List .item {
    border-bottom: 1px solid #c8c7cc;
}

.List .item:last-of-type,
.List .List-repetition > .ListItem:last-of-type {
    border: none;
}
