<html>
<head>
    <script type="text/montage-serialization">
    {
        "owner": {
            "prototype": "reel/template/componentstyle.reel[ComponentStyle]",
            "properties": {
                "element": {"#": "componentstyle"}
            }
        }
    }
    </script>
    <link type="text/css" rel="stylesheet" href="componentstyle.css">
    <style>
        .componentstyle {
            position: relative;
        }
    </style>
</head>
<body>
    <div data-montage-id="componentstyle">
        <div>Component Style</div>
    </div>
</body>
</html>
