<html>
<head>
    <script type="text/montage-serialization">
    {
        "owner": {
            "module": "reel/template/componentstyle.reel",
            "name": "ComponentStyle",
            "properties": {
                "element": {"#": "componentstyle"}
            }
        }
    }
    </script>
    <link type="text/css" rel="stylesheet" href="componentstyle.css">
    <style>
        .componentstyle {
            position: relative;
        }
    </style>
</head>
<body>
    <div id="componentstyle">
        <div>Component Style</div>
    </div>
</body>
</html>
