<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">
            {
                "owner": {
                    "module": "components/slider-example.reel",
                    "name": "SliderExample",
                    "properties": {
                        "element": {"#": "slider-example"}
                    }
                },

                "textfield1": {
                    "module": "montage/ui/bluemoon/textfield.reel",
                    "name": "Textfield",
                    "properties": {
                        "element": {"#": "sliderValue"},
                        "value": 0
                    }
                },
                "slider1": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "slider0"},
                        "value": 0
                    }
                },
                "slider2": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "slider1"},
                        "value": 20
                    }
                },
                "slider3": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "slider2"},
                        "value": 40
                    }
                },
                "slider4": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "slider3"},
                        "value": 80
                    }
                },
                "slider5": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "slider4"},
                        "value": 100,
                        "hasTapBarToScroll": true
                    }
                },
                "slider6": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "slider5"},
                        "value": 25,
                        "minValue": 10,
                        "maxValue": 40,
                        "hasTapBarToScroll": true
                    },
                    "bindings": {
                        "value": {
                            "boundObject": {"@": "textfield1"},
                            "boundObjectPropertyPath": "value"
                        }
                    }
                }
            }
        </script>

        <style>

        </style>
    </head>
    <body>
        <div id="slider-example" class="slider-example">
            <div class="row">
                <div class="span8">
                    <h3>Slider</h3>
                    <p>
                        A styled slider component that provides an alternative to the native HTML range input type.
                    </p>
                </div>
            </div>

            <p>Default Slider</p>
            <div class="testSlider" id="slider0" style="width: 200px"></div>

            <p>Slider with initial value set to 20</p>
            <div class="testSlider" id="slider1"></div>

            <p>Slider with a dark theme</p>
            <div style="background-color: #eee; padding: 20px;">
        	    <div class="testSlider dark" id="slider2"></div>
        	</div>

        	<p>Slider with a tap bar to scroll<p>
            <div class="testSlider" id="slider3"></div>
            <div class="testSlider" id="slider4"></div>

            <p>Slider with minValue = 10 and maxValue = 40 with value bound to the value in the textbox</p>
            <div class="testSlider" id="slider5"></div>
            <input type="number" id="sliderValue" />

            <section>
            <h6>Serialization</h6>
            <pre class="prettyprint linenums">
"slider6": {
    "module": "montage/ui/bluemoon/slider.reel",
    "name": "Slider",
    "properties": {
        "element": {"#": "slider5"},
        "value": 25,
        "minValue": 10,
        "maxValue": 40,
        "hasTapBarToScroll": true
    },
    "bindings": {
        "value": {
            "boundObject": {"@": "textfield1"},
            "boundObjectPropertyPath": "value"
        }
    }
}
            </pre>

            <h6>HTML Markup</h6>
 <pre class="prettyprint">&lt;div class=&quot;testSlider&quot; id=&quot;slider5&quot;&gt;&lt;/div&gt;</pre>
            </section>

        </div>
    </body>
</html>
