<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">{

                "owner": {
                    "module": "components/slider-example.reel",
                    "name": "SliderExample",
                    "properties": {
                        "element": {"#": "slider-example"},
                        "image": {"#": "image"}
                    }
                },
                "roundTo2Decimals": {
                    "module": "montage/core/converter/number-converter",
                    "name": "NumberConverter",
                    "properties": {
                        "decimals": 2
                    }
                },
                "red": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "color-red"},
                        "minValue": "-1",
                        "maxValue": "1",
                        "step": "0.1",
                        "value": "0"
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.red"}
                    }
                },
                "red-value": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "red-value"}
                    },
                    "bindings": {
                        "value": {"<-": "@owner.red", "converter": {"@": "roundTo2Decimals"}}
                    }
                },
                "green": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "color-green"},
                        "minValue": "-1",
                        "maxValue": "1",
                        "step": "0.1",
                        "value": "0"
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.green"}
                    }
                },
                "green-value": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "green-value"}
                    },
                    "bindings": {
                        "value": {"<-": "@owner.green", "converter": {"@": "roundTo2Decimals"}}
                    }
                },
                "blue": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "color-blue"},
                        "minValue": "-1",
                        "maxValue": "1",
                        "step": "0.1",
                        "value": "0"
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.blue"}
                    }
                },
                "blue-value": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "blue-value"}
                    },
                    "bindings": {
                        "value": {"<-": "@owner.blue", "converter": {"@": "roundTo2Decimals"}}
                    }
                },

                "sharpness": {
                    "module": "montage/ui/bluemoon/slider.reel",
                    "name": "Slider",
                    "properties": {
                        "element": {"#": "sharpness-amount"},
                        "minValue": "0",
                        "maxValue": "1",
                        "step": "0.05",
                        "value": "0"
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.sharpnessAmount"}
                    }
                },
                "sharpness-amount-value": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "sharpness-amount-value"}
                    },
                    "bindings": {
                        "value": {"<-": "@owner.sharpnessAmount", "converter": {"@": "roundTo2Decimals"}}
                    }
                },

                "reset": {
                    "module": "montage/ui/button.reel",
                    "name": "Button",
                    "properties": {
                        "element": {"#": "reset"},
                        "identifier": "reset"
                    },
                    "listeners": [
                        {
                            "type": "action",
                            "listener": {"@": "owner"}
                        }
                    ]
                }

    }</script>

        <style>
            .slider-example .demo{

            }
            .slider-example .control {
                background-color: whitesmoke;
                padding: 5px;
            }
            .slider-example input[type=range] {
                width: 100px;
                vertical-align: middle;
            }
            .slider-example .range-value {
                padding: 2px;
                border: 1px solid #aaa;
            }
            #reset {
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <div data-montage-id="slider-example" class="slider-example">
            <div class="row">
                <div class="span8">
                    <h3>Slider</h3>
                    <p>
                        A styled slider component that provides an alternative to the native HTML range input type.
                    </p>
                </div>
            </div>

            <h4>Demo</h4>
            <div class="demo">
            <div class="row">
                <div class="span6">
                    <img data-montage-id="image" id="image" src="images/IMG_1416.jpg" style="height: 300px; width: 450px;" class="image"/>
                </div>
                <div class="span6">
                    <h6>Color</h6>
                    <div class="control">
                        <div>
                            Red:
                            <div data-montage-id="color-red" />
                            <span data-montage-id="red-value" class="range-value">0.5</span>
                        </div>
                        <div>
                            Green:
                            <div data-montage-id="color-green"  />
                            <span data-montage-id="green-value" class="range-value"/>
                        </div>
                        <div>
                            Blue:
                            <div data-montage-id="color-blue"  />
                            <span data-montage-id="blue-value" class="range-value" />
                        </div>


                    </div>


                    <h6>Sharpen</h6>
                    <div class="control">
                        <div>
                            Amount:
                            <div data-montage-id="sharpness-amount" />
                            <span data-montage-id="sharpness-amount-value" class="range-value">0.5</span>
                        </div>
                    </div>


                    <button data-montage-id="reset" class="btn cancel small">Reset</button>

                </div>
            </div>
            </div>

            <section>
                <a href="https://github.com/Motorola-Mobility/montage/tree/v0.8/examples/sink/components/slider-example.reel" target="_blank">View source on GitHub</a>
            </section>

<!--             <section>
                <h4>Component Properties</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>value</td>
                        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                      </tr>
                    <tr>
                      <td>minValue</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>
                    <tr>
                      <td>maxValue</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>step</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>required</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>readonly</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>name</td>
                      <td>...</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                    <a href="" target="_blank">View full Documentation</a>
                </p>
            </section> -->
    </body>
</html>
