<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/montage-serialization">{

                "checkbox1": {
                    "module": "montage/ui/checkbox.reel",
                    "name": "Checkbox",
                    "properties": {
                        "element": {"#": "checkbox1"}
                    },
                    "listeners": [
                        {
                            "type": "action",
                            "listener": {"@": "logger"}
                        }
                    ]
                },

                "checkbox2": {
                    "module": "montage/ui/checkbox.reel",
                    "name": "Checkbox",
                    "properties": {
                        "element": {"#": "checkbox2"},
                        "checked": true
                    },
                    "listeners": [
                        {
                            "type": "action",
                            "listener": {"@": "logger"}
                        }
                    ]
                },

                "agreeCheckbox": {
                    "module": "montage/ui/checkbox.reel",
                    "name": "Checkbox",
                    "properties": {
                        "element": {"#": "agreeCheckbox"}
                    }
                },
                "continueButton": {
                    "module": "montage/ui/button.reel",
                    "name": "Button",
                    "properties": {
                        "element": {"#": "continueButton"}
                    },
                    "bindings": {
                        "disabled": {"<-": "@invertConverter.checked", "converter": {"@": "invertConverter"}}
                    }
                },

                "invertConverter": {
                    "module": "components/converters.reel",
                    "name": "InvertConverter"
                },

                "logger": {
                    "module": "logger.reel",
                    "name": "Logger",
                    "properties": {
                        "element": {"#": "logger"}
                    }
                },


                "controller": {
                    "name": "ArrayController",
                    "module": "montage/ui/controller/array-controller",
                    "properties": {
                        "selectObjectsOnAddition": true,
                        "automaticallyOrganizeObjects": true
                    },
                    "bindings": {
                        "content": {"<-": "@owner.data"}
                    }
                },

                "list1": {
                    "module": "montage/ui/repetition.reel",
                    "name": "Repetition",
                    "properties": {
                        "element": {
                            "#": "table-row"
                        },
                        "isSelectionEnabled": false,
                        "contentController": {"@": "controller"},
                        "axis": "horizontal"
                    }
                },

                "link": {
                    "module": "montage/ui/anchor.reel",
                    "name": "Anchor",
                    "properties": {
                        "element": {"#": "link"}
                    },
                    "bindings": {
                        "href": {"<-": "@list1.objectAtCurrentIteration.href"},
                        "textContent": {"<-": "@list1.objectAtCurrentIteration.src"}
                    }
                },

                "desc": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "desc"}
                    },
                    "bindings": {
                        "value": {"<-": "@list1.objectAtCurrentIteration.description"}
                    }
                },


                "selection": {
                    "module": "montage/ui/checkbox.reel",
                    "name": "Checkbox",
                    "properties": {
                        "element": {"#": "selection"}
                    },
                    "bindings": {
                        "checked": {"<<->": "@list1.selectionAtCurrentIteration"}
                    }
                },

                "selectedValue": {
                    "module": "montage/ui/dynamic-text.reel",
                    "name": "DynamicText",
                    "properties": {
                        "element": {"#": "selectedValue"}
                    },
                    "bindings": {
                        "value": {"<<->": "@owner.jsonSelectedItems"}
                    }
                },
                "checkboxAccordion1": {
                    "module": "accordion.reel",
                    "name": "Accordion",
                    "properties": {
                        "element": {"#": "checkboxAccordion1"}
                    }
                },
                "checkboxAccordion2": {
                    "module": "accordion.reel",
                    "name": "Accordion",
                    "properties": {
                        "element": {"#": "checkboxAccordion2"}
                    }
                },
                "checkboxAccordion3": {
                    "module": "accordion.reel",
                    "name": "Accordion",
                    "properties": {
                        "element": {"#": "checkboxAccordion3"}
                    }
                },


                "owner": {
                    "module": "components/checkbox-example.reel",
                    "name": "CheckboxExample",
                    "properties": {
                        "element": {"#": "checkbox-example"},
                        "data": [
                        {"src": "images/IMG_1.jpg", "description": "Lorem ipsum dolor sit amet", "href": "http://en.wikipedia.org/wiki/Denver_and_Rio_Grande_Western_Railroad"},
                        {"src": "images/IMG_2.jpg", "description": "Sed ut perspiciatis unde omnis iste natus", "href": "http://rgsrr.home.comcast.net/~rgsrr/"},
                        {"src": "images/IMG_3.jpg", "description": "At vero eos et accusamus et iusto odio dignissimos", "href": "http://www.riograndescenicrailroad.com/aboutus/history.html"}
                        ]
                    },
                    "bindings": {
                        "selectedItems": {"<<->": "@controller.selectedObjects"}
                    }
                }

    }</script>

        <style>
           table tr.selected {
               background-color: #F5D663;
           }
        </style>
    </head>
    <body>
        <div id="checkbox-example" class="checkbox-example">
            <div class="row">
                <div class="span12">
                    <h3>Checkbox</h3>
                    <p>
                        The Checkbox component wraps an HTML checkbox input type with custom styles and functionality.
                    </p>
                </div>
            </div>

            <h4>Examples</h4>

            <div class="demo cb1">

                <form class="form-stacked">
                    <label class="checkbox inline"><input id="checkbox1" type="checkbox" /> Milk </label>
                    <label class="checkbox inline"><input id="checkbox2" type="checkbox" /> Eggs</label>
                </form>

            </div>

            <section>
                <ul id="checkboxAccordion1" class="accordion">
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                       <div class="accordion-inner montage-hidden" >
                            <pre class="prettyprint" >
&lt;form class="form-stacked"&gt;
    &lt;label class="checkbox inline"&gt;&lt;input id="checkbox1" type="checkbox" /&gt; Milk &lt;/label&gt;
    &lt;label class="checkbox inline"&gt;&lt;input id="checkbox2" type="checkbox" /&gt; Eggs&lt;/label&gt;
&lt;/form&gt;
                            </pre>
                       </div>
                   </li>
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                       <div class="accordion-inner montage-hidden">
                        <pre class="prettyprint" >
{
    "checkbox1": {
        "module": "montage/ui/checkbox.reel",
        "name": "Checkbox",
        "properties": {
            "element": {"#": "checkbox1"}
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "logger"}
            }
        ]
    },

    "checkbox2": {
        "module": "montage/ui/checkbox.reel",
        "name": "Checkbox",
        "properties": {
            "element": {"#": "checkbox2"},
            "checked": true
        },
        "listeners": [
            {
                "type": "action",
                "listener": {"@": "logger"}
            }
        ]
    },

    "logger": {
        "module": "logger.reel",
        "name": "Logger",
        "properties": {
            "element": {"#": "logger"}
        }
    }
}
                        </pre>

                       </div>
                   </li>
                </ul>

            </section>



                <h4>Binding the Checkbox to a Button's disabled state</h4>


            <div class="demo cb2">
                <form class="form-stacked">
                    <label class="checkbox inline"><input type="checkbox" id="agreeCheckbox"/> I agree to something</label><br/>
                    <input type="submit" id="continueButton" value="Continue" class="btn" disabled />
                </form>
            </div>
            <section>
                <ul id="checkboxAccordion2" class="accordion">
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                       <div class="accordion-inner montage-hidden" >
                            <pre class="prettyprint" >
&lt;form class="form-stacked"&gt;
    &lt;label class="checkbox inline"&gt;&lt;input type="checkbox" id="agreeCheckbox"/&gt; I agree to something&lt;/label&gt;&lt;br/&gt;
    &lt;input type="submit" id="continueButton" value="Continue" class="btn" disabled /&gt;
&lt;/form&gt;
                            </pre>
                       </div>
                   </li>
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                       <div class="accordion-inner montage-hidden">
                        <pre class="prettyprint" >
{
    "agreeCheckbox": {
        "module": "montage/ui/checkbox.reel",
        "name": "Checkbox",
        "properties": {
            "element": {"#": "agreeCheckbox"}
        }
    },
    "continueButton": {
        "module": "montage/ui/button.reel",
        "name": "Button",
        "properties": {
            "element": {"#": "continueButton"}
        },
        "bindings": {
            "disabled": {"&lt;-": "@agreeCheckbox.checked", "converter": {"@": "invertConverter"}}
        }
    },

    "invertConverter": {
        "module": "components/converters.reel",
        "name": "InvertConverter"
    }
}
                        </pre>

                       </div>
                   </li>
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Javascript</a></div>
                       <div class="accordion-inner montage-hidden">
                           <pre class="prettyprint" >

var InvertConverter = exports.InvertConverter = Montage.create(Converter, {

   allowPartialConversion: {
       value: true
   },

   convert: {
       enumerable: false,
       value: function(v) {
           return !v;
       }
   },

   revert: {
       value: function(v) {
           return !v;
       }
   }
});
                           </pre>
                       </div>
                   </li>
                </ul>

            </section>



            <h4>Using Checkbox to select multiple items within a Repetition </h4>
            <div class="demo cb3">
                <table id="list1" class="bordered-table">
                    <thead>
                        <tr>
                            <th>Selection</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody id="table-row">
                        <tr>
                             <td><input type="checkbox" id="selection" /></td>
                            <td><a id="link" target="_blank"></a></td>
                            <td><span id="desc"></span></td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <h5>Your selections: </h5>
                    <span id="selectedValue"  style="width: 400px;"></span>
                </div>
            </div>

            <section>
                <ul id="checkboxAccordion3" class="accordion">
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">HTML</a></div>
                       <div class="accordion-inner montage-hidden" >
                            <pre class="prettyprint" >
&lt;table id="list1" class="bordered-table"&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Selection&lt;/th&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Description&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody id="table-row"&gt;
        &lt;tr&gt;
             &lt;td&gt;&lt;input type="checkbox" id="selection" /&gt;&lt;/td&gt;
            &lt;td&gt;&lt;a id="link" target="_blank"&gt;&lt;/a&gt;&lt;/td&gt;
            &lt;td&gt;&lt;span id="desc"&gt;&lt;/span&gt;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;

&lt;div&gt;
    &lt;h5&gt;Your selections: &lt;/h5&gt;
    &lt;span id="selectedValue"  style="width: 400px;"&gt;&lt;/span&gt;
&lt;/div&gt;
                            </pre>
                       </div>
                   </li>
                   <li class="accordion-group">
                       <div class="accordion-heading"><a href="javascript: void(0);" class="accordion-toggle">Serialization</a></div>
                       <div class="accordion-inner montage-hidden">
                        <pre class="prettyprint" >
{
    "owner": {
        "module": "components/checkbox-example.reel",
        "name": "CheckboxExample",
        "properties": {
            "element": {"#": "checkbox-example"},
            "data": [
            {"src": "images/IMG_1.jpg", "description": "Lorem ipsum dolor sit amet", "href": "http://en.wikipedia.org/wiki/Denver_and_Rio_Grande_Western_Railroad"},
            {"src": "images/IMG_2.jpg", "description": "Sed ut perspiciatis unde omnis iste natus", "href": "http://rgsrr.home.comcast.net/~rgsrr/"},
            {"src": "images/IMG_3.jpg", "description": "At vero eos et accusamus et iusto odio dignissimos", "href": "http://www.riograndescenicrailroad.com/aboutus/history.html"}
            ]
        },
        "bindings": {
            "selectedItems": {"&lt;&lt;-&gt;": "@controller.selectedObjects"}
        }
    },

    "controller": {
        "name": "ArrayController",
        "module": "montage/ui/controller/array-controller",
        "properties": {
            "selectObjectsOnAddition": true,
            "automaticallyOrganizeObjects": true
        },
        "bindings": {
            "content": {"&lt;-": "@owner.data"}
        }
    },

    "list1": {
        "module": "montage/ui/repetition.reel",
        "name": "Repetition",
        "properties": {
            "element": {
                "#": "table-row"
            },
            "isSelectionEnabled": false,
            "contentController": {"@": "controller"},
            "axis": "horizontal"
        }
    },

    "link": {
        "module": "montage/ui/anchor.reel",
        "name": "Anchor",
        "properties": {
            "element": {"#": "link"}
        },
        "bindings": {
            "href": {"&lt;-": "@list1.objectAtCurrentIteration.href"},
            "textContent": {"&lt;-": "@list1.objectAtCurrentIteration.src"}
        }
    },

    "desc": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "desc"}
        },
        "bindings": {
            "value": {"&lt;-": "@list1.objectAtCurrentIteration.description"}
        }
    },


    "selection": {
        "module": "montage/ui/checkbox.reel",
        "name": "Checkbox",
        "properties": {
            "element": {"#": "selection"}
        },
        "bindings": {
            "checked": {"&lt;&lt;-&gt;": "@list1.selectionAtCurrentIteration"}
        }
    },

    "selectedValue": {
        "module": "montage/ui/dynamic-text.reel",
        "name": "DynamicText",
        "properties": {
            "element": {"#": "selectedValue"}
        },
        "bindings": {
            "value": {"&lt;&lt;-&gt;": "@owner.jsonSelectedItems"}
        }
    }

}
                        </pre>

                       </div>
                   </li>
                </ul>
            </section>


            <section>
                <a href="https://github.com/Motorola-Mobility/montage/tree/v0.8/examples/sink/components/checkbox-example.reel" target="_blank">View source on GitHub</a>
            </section>
<!--
            <section>
                <h4>Component Properties</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>checked</td>
                        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                      </tr>
                    <tr>
                      <td>name</td>
                      <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
                    </tr>

                  </tbody>
                </table>
                <p>
                    <a href="" target="_blank">View full Documentation</a>
                </p>
            </section>
 -->
            <div id="logger"></div>

        </div>
    </body>
</html>
