/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
/* Montage Skeleton Theme */
/* Colors ------------------------------- */
/* Layout ------------------------------- */
/* Theme -------------------------------------------------------------- */
/* Button ------------------------------- */
button.skeleton {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  height: 2.5em;
  min-width: 2.5em;
  margin: 0 2px;
  padding: 0 1em;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background-color: #f2f2f2;
}
.mobile button.skeleton {
  font-size: 16px;
  border-radius: 24px;
}
/* Button + Icon ------------------------------- */
button.skeleton > i {
  font-size: 1.2em;
}
/* ButtonGroup ------------------------------- */
.buttonGroup button.skeleton {
  margin: 0;
  border-radius: 0;
  margin-left: -1px;
}
.buttonGroup button.skeleton:first-child {
  border-radius: 3px 0 0 3px;
}
.buttonGroup button.skeleton:last-child {
  border-radius: 0 3px 3px 0;
}
.mobile .buttonGroup button.skeleton:first-child {
  border-radius: 24px 0 0 24px;
}
.mobile .buttonGroup button.skeleton:last-child {
  border-radius: 0 24px 24px 0;
}
/* Toggle ------------------------------- */
.skeleton-toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid #b3b3b3;
  background: #d9d9d9;
}
.skeleton-toggle-thumb {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  display: inline-block;
  margin: -1px;
  width: 2em;
  height: inherit;
  border-radius: inherit;
  border: 1px solid #b3b3b3;
  background: #f2f2f2;
}
.mobile .skeleton-toggle {
  font-size: 16px;
  border-radius: 24px;
}
/* Checkbox ------------------------------- */
input.skeleton[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid #b3b3b3;
  background: #f2f2f2;
}
input.skeleton[type="checkbox"]:checked {
  background: #f2f2f2 url(../assets/img/checkbox.png) no-repeat center center;
}
.mobile input.skeleton[type="checkbox"] {
  font-size: 16px;
}
/* Label ------------------------------- */
label.skeleton {
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
}
.mobile label.skeleton {
  font-size: 16px;
  font-size: 16px;
  vertical-align: middle;
}
/* Radio ------------------------------- */
input.skeleton[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  border: 1px solid #b3b3b3;
  background: #f2f2f2;
}
input.skeleton[type="radio"]:checked {
  background: #f2f2f2 url(../assets/img/radio.png) no-repeat center center;
}
.mobile input.skeleton[type="radio"] {
  font-size: 16px;
}
/* Select ------------------------------- */
select.skeleton {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  height: 2.5em;
  padding: 0 2em 0 1em;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background: #f2f2f2 url(../assets/img/select.png) no-repeat right center;
}
.mobile select.skeleton {
  font-size: 16px;
  border-radius: 1.5em 1em 1em 1.5em;
}
/* Input Text ------------------------------- */
input.skeleton[type="text"], input.skeleton[type="password"], input.skeleton[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  width: 10em;
  height: 2.5em;
  padding: 0.5em;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  background-color: #ffffff;
}
.mobile input.skeleton[type="text"], .mobile input.skeleton[type="password"], .mobile input.skeleton[type="search"] {
  font-size: 14px;
}
/* Textarea ------------------------------- */
textarea.skeleton {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  width: 10em;
  min-width: 10em;
  padding: 0.5em;
  resize: vertical;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  background-color: #ffffff;
}
.mobile textarea.skeleton {
  font-size: 14px;
}
/* Input Combos ------------------------------- */
.skeleton-icon-input, .skeleton-icon-input-button {
  font-size: 12px;
}
.skeleton-icon-input > i, .skeleton-icon-input-button > i {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 2.5em;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  vertical-align: middle;
  color: #b3b3b3;
  border-radius: 3px 0 0 3px;
  border: 1px solid #b3b3b3;
  border-right: none;
  background-color: #ffffff;
}
.skeleton-icon-input > input.skeleton, .skeleton-icon-input-button > input.skeleton {
  font-size: inherit;
  width: 7.5em;
  height: 2.5em;
  vertical-align: middle;
  border-radius: 0 3px 3px 0;
}
.skeleton-icon-input-button > input.skeleton {
  border-radius: 0;
}
.skeleton-icon-input-button > button.skeleton {
  font-size: inherit;
  margin: 0;
  border-left: none;
  border-radius: 0 3px 3px 0;
}
.mobile .skeleton-icon-input, .mobile .skeleton-icon-input-button {
  font-size: 14px;
}
/* Number ------------------------------- */
.skeleton-input-number {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 5em;
  margin-right: 2.5em;
}
.skeleton-input-number > input.skeleton {
  font-size: inherit;
  width: 5em;
  vertical-align: middle;
  border-radius: 3px 0 0 3px;
}
.skeleton-input-number > button.skeleton {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 2.5em;
  height: 1.25em;
  right: -2.5em;
}
.skeleton-input-number > button.plus {
  border-width: 1px 1px 0 0;
  border-radius: 0 3px 0 0;
  top: 0px;
}
.skeleton-input-number > button.minus {
  border-width: 1px 1px 1px 0;
  border-radius: 0 0 3px 0;
  bottom: 0px;
}
.mobile .skeleton-input-number {
  font-size: 16px;
  width: auto;
  margin: 0;
}
.mobile .skeleton-input-number > input.skeleton {
  font-size: inherit;
  border-radius: 0;
  text-align: center;
}
.mobile .skeleton-input-number > button.skeleton {
  position: static;
  height: 2.5em;
  top: auto;
  right: auto;
}
.mobile .skeleton-input-number > button.plus {
  border-width: 1px 1px 1px 0;
  border-radius: 0 2.5em 2.5em 0;
}
.mobile .skeleton-input-number > button.minus {
  border-width: 1px 0 1px 1px;
  border-radius: 2.5em 0 0 2.5em;
}
/* Range ------------------------------- */
.skeleton-range {
  position: relative;
  font-size: 12px;
  display: inline-block;
  width: 10em;
  height: 0.4em;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background-color: #d9d9d9;
}
.skeleton-range > button.skeleton {
  position: absolute;
  font-size: inherit;
  padding: 0;
  margin: -0.65em -0.75em;
  min-width: 0;
  border-radius: 1.5em;
  width: 1.5em;
  height: 1.5em;
  left: 50%;
}
.mobile .skeleton-range {
  font-size: 16px;
}
/* Progress ------------------------------- */
.skeleton-progress {
  font-size: 12px;
  display: inline-block;
  width: 10em;
  height: 10px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background: #d9d9d9 -webkit-linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background: #d9d9d9 -moz-linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background: #d9d9d9 -ms-linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background: #d9d9d9 -o-linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background: #d9d9d9 linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background-position: -5em center;
}
.mobile .skeleton-progress {
  font-size: 16px;
}
