/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
/* Montage Skeleton Theme */
/* Colors ------------------------------- */
/* Layout ------------------------------- */
/* Setup ------------------------------- */
/* Theme -------------------------------------------------------------- */
/* Button ------------------------------- */
button.skeleton {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  min-width: 30px;
  margin: 0 2px;
  padding: 0 10px;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  background-color: #f2f2f2;
}
.mobile button.skeleton {
  height: 40px;
  min-width: 40px;
  margin: 0 2px;
  font-size: 1.1em;
  padding: 0 13px;
  border-radius: 20px;
}
/* Button + Icon ------------------------------- */
button.skeleton > i {
  font-size: 1.2em;
}
/* ButtonGroup ------------------------------- */
.buttonGroup button.skeleton {
  margin: 0;
  border-radius: 0;
  margin-left: -1px;
}
.buttonGroup button.skeleton:first-child {
  border-radius: 3px 0 0 3px;
}
.buttonGroup button.skeleton:last-child {
  border-radius: 0 3px 3px 0;
}
.mobile .buttonGroup button.skeleton:first-child {
  border-radius: 20px 0 0 20px;
}
.mobile .buttonGroup button.skeleton:last-child {
  border-radius: 0 20px 20px 0;
}
/* Toggle ------------------------------- */
.skeleton-toggle {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid #bfbfbf;
  background: #d9d9d9;
}
.skeleton-toggle-thumb {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  display: inline-block;
  margin: -1px;
  width: 20px;
  height: inherit;
  border-radius: inherit;
  border: 1px solid #bfbfbf;
  background: #f2f2f2;
}
.mobile .skeleton-toggle {
  width: 60px;
  height: 30px;
  border-radius: 15px;
}
.mobile .skeleton-toggle-thumb {
  width: 30px;
}
/* Checkbox ------------------------------- */
input.skeleton[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid #bfbfbf;
  background: #f2f2f2;
}
input.skeleton[type="checkbox"]:checked {
  background: #f2f2f2 url(../assets/img/checkbox.png) no-repeat center center;
}
.mobile input.skeleton[type="checkbox"] {
  width: 30px;
  height: 30px;
}
/* Label ------------------------------- */
label.skeleton {
  line-height: 20px;
  vertical-align: middle;
}
/* Radio ------------------------------- */
input.skeleton[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
  background: #f2f2f2;
}
input.skeleton[type="radio"]:checked {
  background: #f2f2f2 url(../assets/img/radio.png) no-repeat center center;
}
.mobile input.skeleton[type="radio"] {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
/* Select ------------------------------- */
select.skeleton {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 30px;
  padding: 0 20px 0 10px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  background: #f2f2f2 url(../assets/img/select.png) no-repeat right center;
}
.mobile select.skeleton {
  height: 40px;
  font-size: 1.1em;
  padding: 0 30px 0 15px;
  border-radius: 20px 10px 10px 20px;
}
/* Input Text ------------------------------- */
input.skeleton[type="text"], input.skeleton[type="password"], input.skeleton[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  padding: 6px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #ffffff;
}
/* Textarea ------------------------------- */
textarea.skeleton {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  min-width: 150px;
  height: 60px;
  min-height: 60px;
  padding: 5px;
  resize: both;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #ffffff;
}
/* Input Combos ------------------------------- */
.skeleton-icon-input > i, .skeleton-icon-input-button > i {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  color: #bfbfbf;
  font-size: 1.2em;
  line-height: 30px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #bfbfbf;
  border-right: none;
  background-color: #ffffff;
}
.skeleton-icon-input > input.skeleton {
  width: 150px;
  vertical-align: middle;
  border-radius: 0 3px 3px 0;
}
.skeleton-icon-input-button > input.skeleton {
  width: 120px;
  vertical-align: middle;
  border-radius: 0;
}
.skeleton-icon-input-button > button.skeleton {
  margin: 0;
  border-left: none;
  border-radius: 0 3px 3px 0;
}
.mobile .skeleton-icon-input-button > i {
  width: 40px;
  height: 40px;
  font-size: 1.6em;
  line-height: 40px;
}
.mobile .skeleton-icon-input-button > input.skeleton {
  height: 40px;
}
.mobile .skeleton-icon-input-button > button {
  margin: 0;
  border-radius: 0px 20px 20px 0px;
}
/* Number ------------------------------- */
.skeleton[data-type="number"] {
  position: relative;
  display: inline-block;
  width: 70px;
  margin-right: 30px;
}
.skeleton[data-type="number"] > input.skeleton {
  width: 70px;
  vertical-align: middle;
  border-radius: 3px 0 0 3px;
}
.skeleton[data-type="number"] > button.skeleton {
  position: absolute;
  margin: 0;
  width: 15px;
  height: 15px;
  right: -30px;
}
.skeleton[data-type="number"] > button.plus {
  border-width: 1px 1px 0 0;
  border-radius: 0 3px 0 0;
  top: 0px;
}
.skeleton[data-type="number"] > button.minus {
  border-width: 1px 1px 1px 0;
  border-radius: 0 0 3px 0;
  bottom: 0px;
}
.mobile .skeleton[data-type="number"] {
  width: auto;
  margin: 0;
}
.mobile .skeleton[data-type="number"] > input.skeleton {
  width: 70px;
  border-radius: 0;
  font-size: 1.2em;
  text-align: center;
  height: 40px;
}
.mobile .skeleton[data-type="number"] > button.skeleton {
  position: static;
  width: 40px;
  height: 40px;
  top: auto;
  right: auto;
}
.mobile .skeleton[data-type="number"] > button.plus {
  border-width: 1px 1px 1px 0;
  border-radius: 0 20px 20px 0;
}
.mobile .skeleton[data-type="number"] > button.minus {
  border-width: 1px 0 1px 1px;
  border-radius: 20px 0 0 20px;
}
/* Range ------------------------------- */
.skeleton[data-type="range"] {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 4px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  background-color: #d9d9d9;
}
.skeleton[data-type="range"] > button.skeleton {
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  margin: -8px -10px;
  min-width: 0;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  left: 50%;
}
.mobile .skeleton[data-type="range"] > button.skeleton {
  margin: -13px -15px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}
/* Progress ------------------------------- */
.skeleton[data-type="progress"] {
  display: inline-block;
  width: 150px;
  height: 10px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  background: #d9d9d9 -webkit-linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background: #d9d9d9 -moz-linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background: #d9d9d9 -ms-linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background: #d9d9d9 -o-linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background: #d9d9d9 linear-gradient(45deg, #f2f2f2, #f2f2f2) no-repeat center center;
  background-position: -75px center;
}
/* Tabs ------------------------------- */
.skeleton-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.skeleton-tabs > li {
  display: inline-block;
  margin-left: -1px;
  height: 30px;
  line-height: 30px;
  min-width: 30px;
  padding: 0 10px;
  border: 1px solid #bfbfbf;
  background-color: #f2f2f2;
}
.skeleton-tabs > li:first-child {
  border-radius: 3px 0 0 3px;
}
.skeleton-tabs > li:last-child {
  border-radius: 0 3px 3px 0;
}
.skeleton-tabs > li.selected {
  background-color: #d9d9d9;
}
.mobile .skeleton-tabs > li {
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  padding: 0 13px;
}
.mobile .skeleton-tabs > li:first-child {
  border-radius: 20px 0 0 20px;
}
.mobile .skeleton-tabs > li:last-child {
  border-radius: 0 20px 20px 0;
}
