.CascadingList {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.CascadingList-repetition {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}